<div class="test">
    <div class="container">
        <div class="left">
            <img src="/assets/images/forgot-log.png" alt="Image" width="600px" height="497px">
        </div>
        <div class="right">
            <div class="text">
                <div class="form-field d-flex j-start m-b-14">
                    <span class="title">Forgot Password ?</span>
                </div>
                <form [formGroup]="passwordForm" (ngSubmit)="submitClick()" class="form">
                    <div class="form-field d-flex j-start m-b-14">
                        <span class="email">Email</span>
                        <input type="text" class="input" autocomplete="off" formControlName="email">
                    </div>
                    <div class="form-field d-flex j-start m-b-14 p-relative">
                        <span class="email">New Password</span>
                        <input type="password" class="input" autocomplete="new-password" formControlName="userPassword">
                        <span class="eyeIcon c-black p-absolute" mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon class="m-icon">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                        </span>
                    </div>
                    <div class="form-field d-flex j-start m-b-14 p-relative">
                        <span class="email">Confirm Password</span>
                        <input type="password" class="input" autocomplete="new-password" formControlName="confirmpassword">
                        <span class="eyeIcon c-black p-absolute" mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon class="m-icon">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                        </span>
                    </div>
                    <div class="form-field d-flex j-start m-b-14">
                        <button class="reset-btn">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>