.main {
  overflow-y: hidden;
}

.head {
  font-size: 30px;
  font-weight: 500;
}

.input {
  border: 1px solid #E9E9E9;
  outline: none;
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 250px;
  height: 25px;
}

.date-filters {
  display: flex;
  align-items: center;
}
.text-wrap {
  max-width: 190px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Change this to the number of lines you want before showing ellipses */
  -webkit-box-orient: vertical;
  word-break: break-all;
  cursor: pointer;
}


.break-word {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits the number of lines before ellipsis */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  max-width: 170px; /* Limits the width to 170px */
}



.filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.96px;
  color: #4F4F4F;
  margin-right: 5px;
}

.candidate-card {
  width: 500px;
  height: 139px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 7px 0px #0000001F;
  margin: 10px;
  margin-left: 0;
}

.detail {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 10px;
}

.name {
  font-weight: 500;
  font-size: 18px;
  color: #4F4F4F;
  padding-bottom: 5px;
}

.other {
  font-weight: 400;
  font-size: 14px;
  color: #ABABAB;
  padding-bottom: 10px;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
  width: 75px;
  height: 75px;
  color: #005EC9;
  background-color: #EBF0FF;
}

.countsss {
  font-weight: 500;
  font-size: 30px;
}

.scrollable::-webkit-scrollbar,
.main::-webkit-scrollbar {
  display: none;
}

.scrollable,
.main {
  scrollbar-width: none;
}

.scrollable,
.main {
  -ms-overflow-style: none;
}

.w-45 {
  width: 45%;
}

.w-55 {
  width: 55%;
}

.clear-filter {
  padding: 0px 6px;
  border: 1px solid #3c40434d;
  border-radius: 50%;
}

.dropdown {
  background: white;
  box-shadow: #3c40434d 0 1px 2px, #3c404326 0 1px 3px 1px;
  max-height: 150px;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  border-radius: 4px;
  position: absolute;
  z-index: 999;
  margin-top: 5px;
  top: 100%;
  left: 0;
}

.dropdown :hover {
  background-color: #eceaea;
}

.date-input {
  border: 1px solid #E9E9E9;
  outline: none;
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 116px;
  height: 30px;
}

.filter-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}