<div class="main m-5">
    <div>
        <span class="head">Dashboard</span>
    </div>
    <div class="candidate w-100 d-flex">
        <div *ngFor="let item of list" class="candidate-card">
            <div class="d-flex p-t-5">
                <div class="count"><span class="countsss">{{item.count}}</span></div>
                <div class="detail">
                    <div ><span class="d-flex name">{{item.name}}</span></div>
                    <div><span class="other">{{item.position}}</span></div>
                    <div><span class="other">Position: {{item.department}}</span></div>

                </div>
            </div>


        </div>
    </div>
    <div class="d-flex w-100 m-t-10" style="height: 429px;">
        <div class="w-50 p-t-10">
            <app-application-list-pie></app-application-list-pie>
        </div>
        <div class="w-50 p-t-10">
            <app-application-list-bar></app-application-list-bar>
        </div>
    </div>
    <div class="w-100" style="height: 592px;">
        <app-candidate-list></app-candidate-list>
    </div>
    <div class="w-100" style="height: 496px;">
        <app-interview-count></app-interview-count>
    </div>
    <div class="w-100" style="height: 764px;">
        <app-candidate-list></app-candidate-list>
    </div>
</div>