<div class="main">
    <div class="m-t-5 m-b-8 d-flex justify-between">
        <div class="flex-start m-t-10"><span class="head">Dashboard</span></div>
        <div class="d-flex j-end">
            <div class="date-filters d-flex p-r-10 ">
                <div class="d-flex align-items-center">
                    <span class="filter p-r-10 p-t-10">From</span>
                    <div class="p-relative">
                        <input class="p-l-5 date-input c-pointer" placeholder="29/02/11" matInput
                            [matDatepicker]="pickerFromDate" [value]="startDate | date:'yyyy-MM-dd'" id="startDate"
                            [max]="today" (dateChange)="dateChange($event, 'startDate')" [ngModel]="startDate"
                            (click)="pickerFromDate.open()">
                        <mat-datepicker #pickerFromDate></mat-datepicker>
                        <i class="fa fa-calendar-o c-pointer p-absolute filter-icon" aria-hidden="true"
                            (click)="pickerFromDate.open()"></i>
                    </div>
                </div>
                <div class="p-l-10 d-flex align-items-center">
                    <span class="filter p-l-10 p-r-10 p-t-10">To</span>
                    <div class="p-relative">
                        <input class="p-l-5 date-input c-pointer" placeholder="29/02/11" matInput
                            [matDatepicker]="pickerToDate" (dateChange)="dateChange($event, 'endDate')"
                            [ngModel]="endDate" (click)="pickerToDate.open()" [value]="endDate | date:'yyyy-MM-dd'"
                            id="endDate" [min]="startDate" [max]="today">
                        <mat-datepicker #pickerToDate></mat-datepicker>
                        <i class="fa fa-calendar-o c-pointer p-absolute filter-icon" aria-hidden="true"
                            (click)="pickerToDate.open()"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex m-r-10 m-l-10">
                <div class="input p-t-6 p-l-6 no-close p-relative c-pointer"
                    (click)="requestList_open = !requestList_open">
                    <span class="f-right d-flex">
                        <span *ngIf="displayPosition && displayPosition.trim() !== ''" (click)="clearFilter()"
                            class="clear-filter c-pointer">x</span>
                        <div class="c-pointer">
                            <i [ngClass]="requestList_open ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"
                                class="m-l-5 p-r-10 s-text no-close"></i>
                        </div>
                    </span>
                    <span class="c-pointer text-wrap"
                        [title]="displayPosition.trim() === '' ? 'Select Requisition' : displayPosition">
                        {{displayPosition.trim() === '' ? 'Select Requisition' : displayPosition}}
                    </span>
                    <div class="no-close dropdown c-pointer" *ngIf="requestList_open">
                        <div class="p-8"
                            (click)='selectPosition(name?.requestName,name?.requestId);requestList_open = !requestList_open'
                            *ngFor="let name of requestList">
                            <span class="p-l-10 text-wrap">{{name?.requestName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="initialLoader && !lists">
        <app-skeleton-loader [loaderDatas]="[9]" [higherWidth]="1000" [lowerWidth]="800"
            [gridColumn]="9"></app-skeleton-loader>
    </div>
    <div *ngIf="lists" class="candidate w-100 d-flex">
        <!-- <div *ngIf="lists" class="candidate w-100 d-flex" (click)="navigateToDetail(lists[0]?.position)" > -->
        <div class="candidate-card c-pointer">
            <div class="d-flex">
                <div class="icon-div">
                    <span class="icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                </div>
                <div class="detail">
                    <div><span class="d-flex name">Total Openings</span></div>
                    <div><span class="count">{{lists[0]?.vacancy}}</span></div>
                </div>
            </div>
        </div>
        <div class="candidate-card c-pointer">
            <div class="d-flex">
                <div class="icon-div">
                    <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                </div>
                <div class="detail">
                    <div><span class="d-flex name">Total Applicants</span></div>
                    <div><span class="count">{{lists[0]?.totalApplicant}}</span></div>
                </div>
            </div>
        </div>
        <div class="candidate-card c-pointer">
            <div class="d-flex">
                <div class="icon-div">
                    <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                </div>
                <div class="detail">
                    <div><span class="d-flex name">Shortlisted Candidates</span></div>
                    <div><span class="count">{{lists[1]?.count}}</span></div>
                </div>
            </div>
        </div>
        <div class="candidate-card c-pointer">
            <div class="d-flex">
                <div class="icon-div">
                    <span class="icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
                </div>
                <div class="detail">
                    <div><span class="d-flex name">Hired Candidates</span></div>
                    <div><span class="count">{{lists[2]?.vacancy}}</span></div>
                </div>
            </div>
        </div>
        <div class="candidate-card c-pointer">
            <div class="d-flex">
                <div class="icon-div">
                    <span class="icon"><i class="fa fa-user-times" aria-hidden="true"></i></span>
                </div>
                <div class="detail">
                    <div><span class="d-flex name">Rejected Candidates</span></div>
                    <div><span class="count">{{lists[3]?.vacancy}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 m-t-10 m-b-10">
        <div class="w-60 p-t-10">
            <app-interview-counts-bar></app-interview-counts-bar>
        </div>
        <div class="w-40 p-t-10 ">
            <app-application-list-pie [positionId]="positionId" [startDate]="startDate" [endDate]="endDate"></app-application-list-pie>
        </div>
    </div>
    <!-- <div class="w-100 m-t-20 m-b-20">
        <app-candidate-list [positionId]="positionId"></app-candidate-list>
    </div> -->
    <!-- <div class="d-flex w-100 m-t-10 m-b-10">
        <div class="w-45 p-t-10 m-r-10">
            <app-application-list-bar [positionId]="positionId"></app-application-list-bar>
        </div>
        <div class="w-55 p-t-10 m-r-10">
            <app-interview-count></app-interview-count>
        </div>
    </div> -->
    <div class="w-100  m-t-10 m-b-10">
        <app-detailed-recruitment></app-detailed-recruitment>
    </div>
</div>