<div class="main m-5">
    <div>
        <span class="head">Dashboard</span>
    </div>
    <div class="candidate w-100 d-flex">
        <div *ngFor="let item of lists" class="candidate-card">
            <div class="d-flex p-t-5">
                <div class="count"><span class="countsss">{{item.count}}</span></div>
                <div class="detail">
                    <div><span class="d-flex name">{{item.name}}</span></div>
                    <div><span class="other">{{item.position}}</span></div>
                    <div><span class="other">Position: {{item.department}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 m-t-10 m-b-10">
        <div class="w-50 p-t-10 m-r-10">
            <app-application-list-pie></app-application-list-pie>
        </div>
        <div class="w-50 p-t-10 m-r-10">
            <app-application-list-bar></app-application-list-bar>
        </div>
    </div>
    <div class="w-100  m-t-10 m-b-10">
        <app-candidate-list></app-candidate-list>
    </div>
    <div class="w-100  m-t-10 m-b-10">
        <app-interview-count></app-interview-count>
    </div>
    <div class="w-100  m-t-10 m-b-10">
        <app-detailed-recruitment></app-detailed-recruitment>
    </div>
</div>