<div class="main">
    <div class="d-flex head">
        <div class="flex-1 p-8">
            <span class="heading">Application By Source</span>
        </div>
    </div>
    <div *ngIf="!initialLoader && ( !sourceList || sourceList?.length === 0)" class="no-data">No Data Found</div>
    <div *ngIf="initialLoader" class="row m-l-20 initial-loader">
        <div *ngFor="let item of [0,1,2,3]" class="m-t-10 m-b-10">
            <div class="gravatar-title">
                <div><ngx-skeleton-loader [theme]="{
                        width: '200px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-bottom': '10px'
                        }"></ngx-skeleton-loader>
                </div>
                <div>
                    <ngx-skeleton-loader [theme]="{ width: '400px', 'border-radius': '0', height: '15px' }">
                    </ngx-skeleton-loader>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="sourceList && sourceList?.length !== 0 && !initialLoader" class="chart-container">
        <canvas id="MyChart"></canvas>
    </div>
</div>