<div class="main p-t-10">
  <div class="menu d-flex c-pointer" (click)="navigate('/written',false)" [class.active]="isActive('/written')">
    <span class="menu-text"><i class="fa fa-list" aria-hidden="true"></i></span> 
    <span class="menu-text">Requirements List</span>
  </div>
  <div *ngIf="requestId && candidateScheduleurl && isActive(candidateScheduleurl)" class="menu d-flex c-pointer"
  [class.active]="isActive(candidateScheduleurl)">
  <span class="menu-text"><i class="fa fa-list-ol" aria-hidden="true"></i></span>
  <span class="menu-text">Candidate Lists</span>
</div>
  <div *ngIf="id && candidateDetailUrl && isActive(candidateDetailUrl)" class="menu d-flex c-pointer" (click)="navigate(candidateDetailUrl, false)" [class.active]="isActive(candidateDetailUrl)">
    <span class="menu-text"><i class="fa fa-table" aria-hidden="true"></i></span>
    <span class="menu-text">Candidate Detail</span>
  </div>
</div>