.text-color{
    color: #575F6E;
}

.basic-head{
    background: #F4F2F2;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.fa-file-text-o{
    color: rgb(37, 150, 190);
    cursor: pointer;
}