<div class="main p-20 m-t-23 m-l-14">
    <span class="heading  m-t-12">Edit Candidate Details</span>
    <form [formGroup]="candidateForm" (ngSubmit)="submitClick(); $event.preventDefault()" enctype="multipart/form-data"
        class="p-t-6">
        <div class="d-flex parent p-t-10">
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">First Name</span>
                <input type="text" class="input-box" formControlName="candidateFirstName" placeholder="John">
            </div>
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">Last Name</span>
                <input type="text" class="input-box" formControlName="candidateLastName" placeholder="Deo">
            </div>
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">Gender</span>
                <div class="input-box c-pointer p-relative p-t-10 p-l-6 no-close" (click)="showGender = !showGender;">
                    <span *ngIf="!genderName">{{candidateDetails?.candidateGender}}</span>
                    <span *ngIf="genderName">{{genderName }}</span>
                    <span><i class="f-right p-r-10 fa fa-chevron-down s-text"></i></span>
                    <div class="no-close dropdown c-pointer" *ngIf="showGender">
                        <p *ngFor="let item of gender" (click)="selectGender(item)">
                            {{item}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex  parent">
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">DOB</span>
                <div class="p-relative w-100">
                    <input class="p-l-5  input-box" placeholder="MM/DD/YY" matInput [matDatepicker]="pickerdate"
                        (dateChange)="dateChange($event)" (click)="pickerdate?.open()" [value]="displayDate"
                        formControlName="candidateDoB">
                    <span> <mat-datepicker #pickerdate class=""></mat-datepicker>
                        <i class="fa fa-calendar-o c-pointer p-absolute calendar-icon" aria-hidden="true"
                            (click)="pickerdate ?.open()"></i>
                    </span>
                </div>
            </div>
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">Email</span>
                <input type="text" class="input-box" formControlName="candidateemail">

            </div>
            <div class="child d-flex m-b-10">

                <span class="label m-b-4">Mobile</span>
                <input type="text" class="input-box" formControlName="candidateMobileNo" maxlength="10">
            </div>
        </div>
        <div class="d-flex parent">
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">Education</span>
                <input type="text" class="input-box" formControlName="candidateEducation">
            </div>

            <div class="child d-flex m-b-10">
                <span class="label m-b-4">Experience</span>
                <input type="text" class="input-box" formControlName="candidateExperience">
            </div>
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">Previous Organization</span>
                <input type="text" class="input-box" formControlName="candidatePreviousOrg">
            </div>
        </div>
        <div class="d-flex   parent">
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">Previous Designation</span>
                <input type="text" class="input-box" formControlName="candidatePreviousDesignation">
            </div>
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">Current Salary</span>
                <input type="text" class="input-box" formControlName="candidateCurrentSalary">
            </div>
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">Expected Salary</span>
                <input type="text" class="input-box" formControlName="candidateExpectedSalary">
            </div>
        </div>
        <div class="d-flex   parent">
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">City</span>
                <input type="text" class="input-box" formControlName="candidateCurrentSalary">
            </div>
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">District</span>
                <input type="text" class="input-box" formControlName="candidateExpectedSalary">
            </div>
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">State</span>
                <input type="text" class="input-box" formControlName="candidateExpectedSalary">
            </div>
        </div>
        <div class="d-flex parent">
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">Requirement</span>
                <div class="input-box c-pointer p-relative p-t-10 p-l-6 no-close"
                    (click)="requirementListOpen = !requirementListOpen;fetchRequerements()">
                    <span *ngIf="!selectedRequirementName" class="no-close">{{candidateDetails?.position}}</span>
                    <span *ngIf="selectedRequirementName" class="no-close">{{selectedRequirementName}}</span>
                    <span><i class="f-right p-r-10 fa fa-chevron-down s-text no-close"></i></span>
                    <div class="no-close dropdown c-pointer no-close" *ngIf="requirementListOpen">
                        <p *ngFor="let requirement of requirementList"
                            (click)="selectRequirement(requirement.requestId,requirement.requestName)">
                            {{requirement.requestName}}</p>
                    </div>
                </div>
            </div>
            <div class="child d-flex m-b-10">
                <span class="label m-b-4">Application Source</span>
                <div class="input-box c-pointer p-relative p-t-10 p-l-6 no-close"
                    (click)="showSource = !showSource;fetchSource()">
                    <span *ngIf="!sourceName">{{candidateDetails?.resumeSourecd}}</span>
                    <span *ngIf="sourceName">{{sourceName}}</span>
                    <span><i class="f-right p-r-10 fa fa-chevron-down s-text"></i></span>
                    <div class="no-close dropdown c-pointer" *ngIf="showSource">
                        <p *ngFor="let source of sourceList" (click)="selectsource(source.sourceId,source.sourceName)">
                            {{source.sourceName}}</p>
                    </div>
                </div>
            </div>
            <div class="child d-flex m-b-10 p-relative">
                <span class="label m-b-4">Uploaded Resume</span>
                <div class="d-flex">

                    <img src="assets/images/resume-uploaded.png" alt="" height="48px"
                        (click)="triggerFileInput();$event.stopPropagation();$event.preventDefault();">
                    <span *ngIf="!resumeUploadSuccess" class="upload-success-message">
                        Click to edit resume
                    </span>
                    <input type="file" #fileInput class="input-box" style="display:none"
                        (change)="onFileSelected($event)">
                    <span *ngIf="resumeUploadSuccess" class="upload-success-message">
                        Resume uploaded successfully!
                    </span>
                </div>
            </div>
        </div>
        <div class="skills p-10">
            <div class="d-flex parent">
                <div class="child d-flex m-b-10">
                    <span class="text m-b-4 no-close">Edit Skill Sets</span>
                    <div class="d-flex skill-drop-down m-t-5 no-close w-100">
                        <div class="input-box c-pointer p-t-10 no-close p-relative"
                            (click)="showDropdown = !showDropdown">
                            <span class="no-close'">{{selectedSkillType || 'Skill Type'}}</span>
                            <span><i class="f-right p-r-10 fa fa-chevron-down no-close'"></i></span>
                            <div class="dropdown c-pointer no-close'" *ngIf="showDropdown">
                                <p *ngFor="let type of skillTypes" (click)="selectSkillType(type)">{{type}}</p>
                            </div>
                        </div>
                        <button class="add-btn" (click)="$event.preventDefault();toggleSearchBar()">Add</button>
                    </div>
                    <div class="searchbar m-t-10 c-pointer p-t-10 no-close '" *ngIf="showSearchBar">
                        <input type="search" class="input-search" placeholder="Type to search skills..."
                            (input)="getSkillSuggestions($event)" *ngIf="showSearchBar">
                        <div *ngIf="showSearchBar" class="m-l-23 m-t-8">
                            <div *ngFor="let suggestion of skillSuggestions" (click)="selectSkill(suggestion)">
                                <span class="p-t-7 "><img src="assets/images/akar-icons_check.png" alt=""
                                        class="m-t-0 p-r-4" width="13px" height="10px"></span>
                                <span class="c-pointer ">{{suggestion?.skillName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="child-skill d-flex m-b-10">
                    <div *ngIf="selectedPrimarySkills.length > 0">
                        <span>Selected Primary Skills</span>
                        <ul>
                            <li *ngFor="let skill of selectedPrimarySkills" class="p-4">
                                {{ skill.name }}
                                <span (click)="removeSkill(skill, 'primary')" class="remove">Remove</span>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="selectedSecondarySkills.length > 0">
                        <span>Selected Secondary Skills</span>
                        <ul>
                            <li *ngFor="let skill of selectedSecondarySkills" class="p-4">
                                {{ skill.name }}
                                <span (click)="removeSkill(skill, 'secondary')" class="remove">Remove</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex f-right btns">
            <span class="cancel-btn c-pointer" (click)="cancel()">Cancel</span>
            <button class="add-candidate" type="submit">Update</button>
        </div>
    </form>
</div>