<div class="modal-header heading p-t-10 d-flex j-space" style="position: sticky; top: 0; z-index: 2;">
    <div *ngIf="loader" class="loader-parent">
        <img src="assets/gif/loader.gif">
    </div>
    <div class="padding-10">
        <span>{{candidateDetails['candidate.candidateFirstName']}} {{candidateDetails['candidate.candidateLastName']}} &nbsp;- </span>
        <span class="blue">( 
            <a [href]="env_url + '/dashboard/candidate-details/' + candidateDetails['candidate.candidateId']"> {{candidateDetails['candidate.candidateId']}}</a>)
        </span>
    </div>
    <div class="modal-close margin-10 d-flex">   
        <img src="assets/images/techversant/clear-filter.svg" class="c-pointer p-r-5"  (click)="closeDialog()"alt="" width="35">
    </div>
</div>
<div class="modal-content">
    <div class="d-flex flex-1">
        <div class="w-50 border">
            <div class="heading  padding-10 d-flex p-b-0 j-space">
                <span>Requirement Details</span>
            </div>
            <div class="d-flex  padding-10">
                <div class="sub-head">
                    <span class="key p-8">Requirement Name</span>
                    <span class="key p-8">Skills</span>
                    <span class="key p-8">Minimum Experience</span>
                    <span class="key p-8">Maximum Experience</span>             
                    <span class="key p-8">Requirement Status</span>
                    <span class="key p-8">Requirement Vacancy</span>
                </div>
                <div class="sub-head">
                    <span class="p-8 job-description"> : 
                        <a [href]="env_url + '/dashboard/series?requestId=' + candidateDetails['serviceRequest.requestId']">
                          {{ candidateDetails['serviceRequest.requestName'] | titlecase }}
                        </a>
                      </span>
                    <span class="p-8 job-description"> : {{candidateDetails['serviceRequest.requestSkills'] | titlecase}}</span>
                    <span class="p-8 job-description"> : {{candidateDetails['serviceRequest.requestMinimumExperience']}}</span>
                    <span class="p-8 job-description"> : {{candidateDetails['serviceRequest.requestMaximumExperience']}}</span>
                    <span class="p-8 job-description"> : {{candidateDetails['serviceRequest.requestStatus']}}</span>
                    <span class="p-8 job-description"> : {{candidateDetails['serviceRequest.requestVacancy']}}</span>
                </div>
            </div>
            <div class="w-40">
                <div class="heading  padding-10 p-b-0 d-flex j-space">
                    <span>Interview Details</span>
                </div>
                <div class="d-flex  padding-10">
                    <div class="sub-head f-w-500 f-s-14 d-flex">
                        <div class="p-8 key">Scheduled Date</div>
                        <div class="p-8 key">Scheduled time</div>
                        <div class="p-8 key">Panel</div>
                        <div class="p-8 key">Inteview Satus</div>
                        <div class="p-8 key">Inteview Mode</div>
                    </div>
                    <div class="sub-head">
                        <span class="p-8 job-description"> : {{candidateDetails?.interviewTime  | date: 'dd/MM/YYY'}}</span>
                        <span class="p-8 job-description"> : {{candidateDetails?.interviewTime  | date: 'hh:mm a'}}</span>
                        <span class="p-8 job-description"> : {{candidateDetails?.pannelName | titlecase}}</span>
                        <span class="p-8 job-description"> : {{candidateDetails?.interviewstatus}}</span>
                        <span class="p-8 job-description"> : {{candidateDetails?.interviewMode ? candidateDetails?.interviewMode : 'Not Updated'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-50 border">
            <div class="heading  padding-10 p-b-0 d-flex j-space">
                <span>Candidate Details</span>
                <span class="c-pointer"><span class="f-s-14 f-w-400">Candidate Resume : </span>
                <i class="fa fa-file-text-o p-l-5 blue" aria-hidden="true" title="View resume" (click)="viewResume(candidateDetails['candidate.candidateResume'])"></i>
            </span>
            </div>
            <div class="d-flex  padding-10">
                <div class="sub-head f-w-500 f-s-14 d-flex">
                    <div class="p-8">Candidate Status</div>
                    <div class="p-8">Contact Number</div>
                    <div class="p-8">Mail</div>
                    <div class="p-8">Date of Birth</div>
                    <div class="p-8">Skills</div>
                    <div class="p-8">Previous Organisation</div>
                    <div class="p-8">Previous Designation</div>
                    <div class="p-8">Education</div>
                    <div class="p-8">Relevant Experience</div>
                    <div class="p-8">Total Experience</div>
                    <div class="p-8">City</div>
                    <div class="p-8">District</div>
                    <div class="p-8">State</div>
                </div>
                <div class="sub-head d-flex">
                    <div class="p-8">
                       :   <span class="" [ngClass]="{'blue': candidateDetails?.serviceStatus === 'pending','green': candidateDetails?.serviceStatus === 'done',
                                 'red': candidateDetails?.serviceStatus === 'rejected'}">
                        {{candidateDetails?.serviceStatus | titlecase}} </span>
                    </div>
                    <div class="p-8">
                        : {{candidateDetails['candidate.candidateMobileNo'] ?(candidateDetails['candidate.candidateMobileNo']): '0000000000' }}
                    </div>
                    <div class="p-8">
                        : {{candidateDetails['candidate.candidateEmail'] ? candidateDetails['candidate.candidateEmail'] : 'NIL'}}
                    </div>
                    <div class="p-8">
                        : {{candidateDetails['candidate.candidateDoB'] ?(candidateDetails['candidate.candidateDoB'] | date: 'dd/MM/YYY' ): 'NIL' }}
                    </div>
                    <div class="p-8 d-flex">
                        : <span class="p-l-3" *ngFor="let item of candidateDetails?.skills; let last = last">
                            {{item?.skillName ? (item?.skillName | titlecase ): 'NIL'}} <span *ngIf="!last">,</span>
                        </span>
                    </div>
                    <div class="p-8">
                        : {{candidateDetails['candidate.candidatePreviousOrg'] ? candidateDetails['candidate.candidatePreviousOrg'] : 'NIL'}}
                    </div>
                    <div class="p-8">
                        : {{candidateDetails['candidate.candidatePreviousDesignation'] ? candidateDetails['candidate.candidatePreviousDesignation'] : 'NIL'}}
                    </div>
                    <div class="p-8">
                        : {{candidateDetails['candidate.candidateEducation'] ? candidateDetails['candidate.candidateEducation']: 'NIL'}}
                    </div>
                    <div class="p-8">
                        : {{candidateDetails['candidate.candidateRevlentExperience'] ? candidateDetails['candidate.candidateRevlentExperience'] : '0'}}
                    </div> <div class="p-8">
                        : {{candidateDetails['candidate.candidateTotalExperience'] ? candidateDetails['candidate.candidateTotalExperience'] : 'NIL'}}
                    </div>
                    <div class="p-8">
                        : {{candidateDetails['candidate.candidateCity'] ? candidateDetails['candidate.candidateCity'] :'City'}}
                    </div>
                    <div class="p-8">
                        : {{candidateDetails['candidate.candidateDistrict'] ? candidateDetails['candidate.candidateDistrict']:'District '}}
                    </div>
                    <div class="p-8">
                        : {{candidateDetails['candidate.candidateState'] ? candidateDetails['candidate.candidateState'] :'State'}}
                    </div>
                  
                </div>
            </div>
        </div>
    </div>

    <!-- Initial buttons -->
    <div *ngIf="!progessAdded && candidateDetails?.serviceStatus === 'pending' && !candidateDetails['progress.progressDescription']" class="p-t-20 details padding-10 d-flex c-pointer">
        <label class="c-pointer f-w-500 f-s-14 p-r-10">
            <input type="radio" name="action" value="reschedule" (change)="selectButton('reschedule');showMail('re-schedule')" [checked]="buttonType === 'reschedule'" />
            Reschedule Interview
        </label>
        <label class="c-pointer f-w-500 f-s-14 p-r-10">
            <input type="radio" name="action" value="rejection" (change)="selectButton('rejection');showMail('')" [checked]="buttonType === 'rejection'" />
            Reject Candidate
        </label>
        <label class="c-pointer f-w-500 f-s-14 p-r-10">
            <input type="radio" name="action" value="add" (change)="selectButton('add');showMail('')" [checked]="buttonType === 'add'" />
            Interview Feedback
        </label>
    </div>

    <!-- Interview Feedback -->
    <div class="margin-10" *ngIf="!progessAdded && candidateDetails?.serviceStatus === 'pending' && buttonType.trim() === 'add' && !candidateDetails['progress.progressDescription']">
        <div class="margin-10">
            <span class="padding-10 sub-head">Feedback</span>
            <textarea *ngIf="!candidateDetails['progress.progressDescription']" class="text-area m-l-5 padding-5" id="description"></textarea>
        </div>
        <div class="margin-10 d-flex">
            <span class="c-pointer file padding-10 d-flex" title="Attach File" (click)="fileInput.click()">
                <img src="/assets/images/paperclip.svg" alt="Attach File" class="p-t-3" height="20" width="20">
                <span class="p-t-4 p-l-4">{{ fileName || 'Upload File' }}</span>
                <input type="file" #fileInput id="fileInput" style="display: none;" (change)="onFileSelected($event)">
            </span>
        </div>     
        <div *ngIf="candidateDetails?.serviceStatus !== 'done' && candidateDetails?.serviceStatus !== 'moved'" class="details padding-10 p-r-0 d-flex j-end w-100">
            <button class="btn c-pointer" (click)="addProgress()">Submit</button>
        </div>
    </div>
    
    <div *ngIf="candidateDetails?.progressStatus > 0 || candidateDetails?.serviceStatus === 'moved'">
        <div class="heading padding-10 p-b-0 d-flex j-space">
            <span>Interview Feedback</span>
        </div>       
        <div class="d-flex padding-10">
            <div class="sub-head f-w-500 f-s-14 d-flex">
                <span class="p-8">Feedback</span>
                <span class="p-8" *ngIf="candidateDetails['progress.progressFile']">Attached File</span>
            </div>
            <div class="sub-head d-flex">
                <span class="p-8">: {{ candidateDetails['progress.progressDescription'] || 'Nil' }}</span>
                <span class="p-8" *ngIf=" candidateDetails['progress.progressFile']">: 
                    <span class="p-l-5 view-attachment c-pointer"  title="View Attachment" (click)="viewResume(candidateDetails['progress.progressFile'])">View Attachment</span>
                </span>
            </div>
        </div>
    </div>  
    
    <!-- Back-off Or Panel Rejection -->
    <div class="margin-10" *ngIf="!progessAdded && candidateDetails?.serviceStatus === 'pending' && !progessAdded && buttonType.trim() === 'rejection'">
        <div class="  padding-10 d-flex j-space m-r-20">
            <!-- <span class="f-w-500 f-s-20">Reason For Rejection</span> -->
            <span class="input-rejection c-pointer no-close p-relative p-t-5">
                <span class="no-close p-l-10 f-s-14 f-w-400" (click)="filterStatus = !filterStatus">{{filteredStatus.trim()
                    === '' ? 'Select Reason for Rejection' : filteredStatus | titlecase}}</span>
                <span class="f-right">
                    <!-- <span *ngIf="filteredStatus && filteredStatus.trim() !== ''" (click)="clearFilter('status')" class="clear-filter">x</span> -->
                    <span (click)="filterStatus = !filterStatus"><i
                            class="p-l-8 p-r-10 fa fa-chevron-down no-close'"></i></span>
                </span>
                <div class="dropdown c-pointer no-close'" *ngIf="filterStatus">
                    <span class="d-flex p-0" *ngFor="let type of status"
                        (click)="selectStatusFilter(type?.status);filterStatus = !filterStatus">
                        <span class="p-l-20 padding-5 f-s-14 f-w-400">{{type?.status | titlecase}}</span>
                    </span>
                </div>
            </span>
        </div>
        <div class=" margin-10">
            <span class="sub-head">Comments</span>
            <textarea class="text-area padding-5" id="" id="feedback"></textarea>
        </div>
        <div *ngIf="!progessAdded && candidateDetails?.serviceStatus !== 'done' && candidateDetails?.serviceStatus !== 'moved'"
            class="details  padding-10 p-r-0 d-flex j-end w-97">
            <button class="btn c-pointer" (click)="rejectClick('')">Submit</button>
        </div>
    </div>
        <!-- Next Round Approval or Rejection After Adding Progress -->
        <div *ngIf="candidateDetails?.serviceStatus === 'pending' && candidateDetails['progress.progressId'] !== null"
            class="p-t-20 details padding-10 d-flex  w-50 c-pointer">
            <label class="c-pointer f-w-500 f-s-14 p-r-10">
                <input type="radio" name="messageType" value="approve" (change)="showMail('approve')" [checked]="messageType === 'approve'" />
                Select for Next Round
            </label>
            <label class="c-pointer f-w-500 f-s-14 p-r-10">
                <input type="radio" name="messageType" value="rejection" (change)="showMail('rejection')" [checked]="messageType === 'rejection'" />
                Reject Candidate
            </label>
        </div>
        <!-- Reschedule Interview / send Approval mail for next round / Rejection mail -->
        <div *ngIf="candidateDetails?.serviceStatus === 'pending' && messageType.trim() !== ''">
            <app-mail-template [candidate]="mailTemplateData" (submitData)="onSubmitData($event)" [loader]="loader"></app-mail-template>
        </div>
        <div *ngIf="data?.candidateDetails?.serviceStatus !== 'pending'">
            <div class="heading padding-10 p-b-0 d-flex j-space">
                <span>Selection Status</span>
            </div>
            <div class="sub-head d-flex p-8">
                <span class="padding-5">
                    {{ data?.candidateDetails?.serviceStatus === 'done' ? 'Candidate Selected to Next Round' : '' }}
                    {{ data?.candidateDetails?.serviceStatus === 'rejected' ? 'Candidate Rejected In this Round' : '' }}
                    {{ data?.candidateDetails?.serviceStatus === 'moved' ? 'Candidate Moved From this Round' : '' }}
                    {{ data?.candidateDetails?.serviceStatus === 'back-off' ? 'Candidate Back-off In this Round' : '' }}
                    {{ data?.candidateDetails?.serviceStatus === 'pannel-rejection' ? 'Panel Rejected the candidate' : '' }}
                </span>
            </div>
        </div>        
</div>