<div class="modal-header heading p-10 d-flex j-space">
    <div class="">
        <span> {{data?.name | titlecase}} </span>
        <span class="blue">  </span>
    </div>
    <div class="modal-close">
        <img src="assets/images/techversant/modal-close.svg" class="c-pointer p-r-5"  (click)="closeDialog()"alt="" width="35">
        <!-- <button class="c-pointer" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button> -->
    </div>
</div>
<div class="modal-content">
    <div class="d-flex p-10">
        <div class="sub-head f-w-500 f-s-14 d-flex">
            <span class="p-8">Requirement</span>
            <span class="p-8">Current Station</span>
            <span class="p-8">Move Candidate to</span>
        </div>
        <div class="sub-head d-flex">
            <span class="p-8"> : {{data?.requirement ? data?.requirement : 'Nil'}}</span>
            <span class="p-8"> : {{data?.currentStation ? data?.currentStation : 'Nil'}}</span>
            <span class="p-8 p-relative"> :
                <span class="input c-pointer    p-l-2 no-close p-relative" (click)="showStations = !showStations">
                    <span class="no-close p-l-10">{{SelectedStation.trim() === '' ? 'Select Station' : SelectedStation | titlecase}}</span>
                    <span class="f-right"><i class="p-l-8 p-r-10 fa fa-chevron-down no-close'"></i></span>
                    <div class="dropdown c-pointer no-close'" *ngIf="showStations">
                        <span class="d-flex p-0" *ngFor="let item of stationsList"
                            (click)="selectStation(item?.stationName , item?.stationId);showStations = !showStations">
                            <span class="p-l-10   ">{{item?.stationName | titlecase}}</span>
                        </span>
                    </div>
                </span>
            </span>
        </div>
    </div>
</div>
<div class="heading p-10">
    <span>Comments</span>
</div>
<div class="m-10">
    <textarea class="text-area" id="comment" placeholder=""></textarea>
    <div class="btn-parent">
        <button class="c-pointer btn-reject" (click)="closeDialog()">Cancel</button>
        <button class="btn c-pointer" (click)="submitClick()">Submit</button>
    </div>
</div>

