<div class="main">
    <div class="d-flex p-t-20 align-center p-b-10 p-l-5">
        <span class="header">Create Requirement</span>
    </div>
    <div class="scroller-box">
        <div class="d-flex parent">
            <div class="m-t-20 m-b-10 child">
                <span class="sub-head">Interview Rounds</span>
                <div class="d-flex input p-relative">
                    <div *ngFor="let item of selectedStations;let i = index">
                        <div *ngIf="item?.stationName" class="m-t-8 m-l-5">
                            <span>{{item?.stationName !== 'HR' ? (item?.stationName + ' ->' ) : item?.stationName}}  
                               <br> <span *ngIf="i !== 0 && i !== selectedStations.length - 1" class="p-l-12 c-pointer" >
                                    <i class="fa fa-trash-o delete-color c-pointer" aria-hidden="true"
                                        (click)="deleteStation(item?.stationId , item?.stationName)"></i>
                                </span>      
                            </span>
                        </div>
                    </div>
                    <div class="add-btn no-close c-pointer" (click)="idListOpen = !idListOpen">
                        <span class="p-t-20">Add</span>
                    </div>
                    <div class="drop-list no-close" *ngIf="idListOpen && (selectedStations.length < 5)">
                        <div (click)="selectStation(station?.stationId,station?.stationName)"
                            *ngFor="let station of stationsList" class="c-pointer p-4 p-l-15 no-close">
                            {{station?.stationName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-t-20 m-b-10 p-l-10 m-l-10 m-l-10 child">
                <span class="sub-head">Designation</span>
                <div>
                    <input type="text" class="input" #serviceInput>
                </div>
            </div>
        </div>
        <div class="d-flex parent">
            <div class="m-t-20 m-b-10 child">
                <span class="sub-head">Department Name</span>
                <div class="no-close col-md-3 s-list d-flex input j-space m-text p-relative"
                    (click)="teamListOpen = !teamListOpen">
                    <div *ngIf="!selectedTeam"
                        class="no-close s-list m-r-10 m-text align-center m-b-2 f-w-400 c-pointer h-min sub flex-1">
                        Select Department
                    </div>
                    <div class="align-center m-t-10" *ngIf="selectedTeam">{{selectedTeam}}</div>
                    <div class="no-close s-list c-pointer align-center m-b-2 flex-1 d-flex j-end sub"><i
                            class="no-close s-list fa fa-chevron-down s-text p-r-10"></i>
                    </div>
                    <div class=" m-b-2 drop-list no-close" *ngIf="teamListOpen">
                        <div (click)="selectTeam(team.teamId,team.teamName)" *ngFor="let team of list_team"
                            class=" p-t-5 p-b-5 p-l-8 c-pointer">{{team.teamName}}</div>
                    </div>
                </div>
            </div>
            <div class="m-t-20 m-b-10 p-l-10 m-l-10 m-l-10 child">
                <span class="sub-head">Experience</span>
                <div>
                    <input type="text" class="input" #experienceInput>
                </div>
            </div>
        </div>
        <div class="d-flex parent">
            <div class="m-t-20 m-b-10 child">
                <span class="sub-head">Base salary</span>
                <div>
                    <input type="text" class="input" #baseSalaryInput>
                </div>
            </div>
            <div class="m-t-20 m-b-10 p-l-10 m-l-10 child">
                <span class="sub-head">Maximum salary</span>
                <div>
                    <input type="text" class="input" #maxSalaryInput>
                </div>
            </div>
        </div>
        <div class="d-flex parent">
            <div class="m-t-20 m-b-10 child">
                <span class="sub-head">Skills</span>
                <input type="search" class="input" placeholder="Search Skills"
                    (input)="getSkillSuggestions($event)" id="skillSearch">
                <div class="m-l-23 m-t-8 drop-list-skill" *ngIf="showSearchBar">
                    <div *ngFor="let suggestion of skillSuggestions" (click)="selectSkill(suggestion)">
                        <span class="p-t-7 "><img src="assets/images/akar-icons_check.png" alt="" class="m-t-0 p-r-4"
                                width="13px" height="10px"></span>
                        <span class="c-pointer ">{{suggestion?.skillName}}</span>
                    </div>
                </div>
                <div class=" d-flex m-t-10">
                    <div *ngIf="selectedSkills.length > 0">
                        <span class="">Selected Skills</span>
                        <ul>
                            <li *ngFor="let skill of selectedSkills" class="p-4">
                                {{ skill | titlecase}}
                                <i class="fa fa-trash-o  delete-color c-pointer" aria-hidden="true"
                                    (click)="removeSkill(skill)"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-t-20 m-b-10 p-l-10 m-l-10 child">
                <span class="sub-head">Vacancy</span>
                <div>
                    <input type="text" class="input" #vacancy>
                </div>
            </div>
        </div>
        <div class="p-20">
            <div class="d-flex j-end p-t-10 m-t-10">
                <div class="mat-ripple m-r-10 button c-pointer d-flex align-center c-pointer"><button class="btn-submit"
                        (click)="submitClick()">Submit</button></div>
                <div class="mat-ripple c-pointer d-flex align-center c-pointer"><button class="btn-cancel"
                        (click)="cancel()">Cancel</button></div>
            </div>
        </div>
    </div>
</div>