.main {
    background-color: #F7F7F7;
}

.scroller-box {
    width: 894px;
}

.header {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    line-height: 35.55px;
}

.input {
    outline: none;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    width: 430px;
    height: 40px;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);
}

.sub-head {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.33px;
    padding-bottom: 10px;
}


.text-box {
    height: 30px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 4px 8px;
    outline: none;
}

.input-skill {
    outline: none;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    width: 894px;
    height: 40px;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);
}

.subscriber-drop-down {
    outline: none;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    width: 366px;
    height: 40px;
    padding-left: 5px;
    padding-right: 8px;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);

}

.fa-chevron-down {
    color: #575F6E;
}

.subscriber-drop-down>.sub {
    height: 16px;
}

.subscriber-drop-down>.w-max {
    width: 150px;
}

.subscriber-drop-down>.drop-list {
    position: fixed;
    top: 32px;
    right: 0;
    width: 100%;
    background-color: white;
    border: 1.5px solid #7d8296b5;
    border-radius: 5px;
    z-index: 10;
    max-height: 120px;
    overflow-y: scroll;
    width: 100%;
    z-index: 1;
}

.team-drop-down {
    outline: none;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    width: 422px;
    height: 40px;
    position: relative;
    padding-left: 5px;
    padding-right: 8px;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);

}

.team-drop-down>.sub {
    height: 16px;
}

.team-drop-down>.w-max {
    width: 150px;
}

.team-drop-down>.drop-list {
    position: absolute;
    top: 32px;
    right: 0;
    width: 100%;
    background-color: white;
    border: 1.5px solid #7d8296b5;
    border-radius: 5px;
    z-index: 10;
    max-height: 120px;
    overflow-y: scroll;
    width: 100%;
}

.mat-ripple {
    overflow: hidden;
    position: relative;
}


.btn-cancel {
    background-color: #575F6E;
    width: 150px;
    height: 48px;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

.btn-submit {
    background-color: #005EC9;
    width: 150px;
    height: 48px;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

.fa-plus {

    color: white;
}

.add-station-icon {
    background: linear-gradient(0deg, #005EC9, #005EC9),
        linear-gradient(0deg, #E9E9E9, #E9E9E9);
}

.add-btn {
    margin-left: 3px;
    width: 53px;
    background: linear-gradient(0deg, #005EC9, #005EC9),
        linear-gradient(0deg, #E9E9E9, #E9E9E9);
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.drop-list{
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 381px;
    border: 1.5px solid #7d8296b5;
    border-radius: 5px;
    z-index: 10;
    max-height: 120px;
    overflow-y: scroll;
}