<div class="p-l-5 p-r-10 col-md-9 main">
    <div class="d-flex p-t-20 align-center p-b-10 p-l-5"><img src="assets/images/requirement-img.png" width="20px"
            height="19px" class="p-t-0">
        <span class="xl-text f-w-500 p-l-5"> Service Create</span>
    </div>
    <div class="scroller-box p-l-5 p-r-10">
        <div class="box-view p-t-20 p-b-15 p-l-15 p-r-15 m-t-15">
            <!-- <input type="number" placeholder="Request Id" class="w-300 text-box ng-untouched ng-pristine ng-valid"> -->
            <div class="d-flex j-space">
                <div class="row m-t-20 m-b-10">
                    <div class="col-md-2 p-r-0"><span> service Name</span>
                    </div>
                    <div class="name-dropdown p-relative col-md-3 s-list d-flex subscriber-drop-down j-space m-text align-center"
                        (click)="idListOpen = !idListOpen">
                        <div *ngIf="!selectedId"
                            class="no-close s-list m-r-10 m-text m-b-2 f-w-400 c-pointer h-min sub flex-1">Service Names
                        </div>
                        <div *ngIf="selectedName">{{selectedName}}</div>
                        <div class="no-close s-list c-pointer m-b-2 flex-1 d-flex j-end align-end sub"><i
                                class="no-close s-list fa fa-chevron-down s-text"></i>
                        </div>
                        <div class=" m-b-2 drop-list" *ngIf="idListOpen">
                            <div (click)="selectId(id.sericeId,id.sericeName)" *ngFor="let id of list_id"
                                class=" p-t-5 p-b-5 p-l-8 c-pointer">{{id.sericeName}}</div>
                        </div>
                    </div>



                </div>

                <div class="row m-t-20 m-b-10">
                    <div class="col-md-2 p-r-0"><span> Request Name</span>
                    </div>
                    <div>
                        <input type="text" class="subscriber-drop-down name" #serviceInput>
                    </div>
                </div>
            </div>
            <div class="d-flex j-space">
                <div class="row m-t-20 m-b-10">
                    <div class="col-md-2 p-r-0"><span> Team Name</span>
                    </div>
                    <div class="no-close col-md-3 s-list d-flex team-drop-down j-space m-text align-center"
                        (click)="teamListOpen = !teamListOpen">
                        <div *ngIf="!selectedTeam"
                            class="no-close s-list m-r-10 m-text m-b-2 f-w-400 c-pointer h-min sub flex-1">Team
                        </div>
                        <div *ngIf="selectedTeam">{{selectedTeam}}</div>
                        <div class="no-close s-list c-pointer m-b-2 flex-1 d-flex j-end align-end sub"><i
                                class="no-close s-list fa fa-chevron-down s-text"></i>
                        </div>
                        <div class=" m-b-2 drop-list" *ngIf="teamListOpen">
                            <div (click)="selectTeam(team.teamId,team.teamName)" *ngFor="let team of list_team"
                                class=" p-t-5 p-b-5 p-l-8 c-pointer">{{team.teamName}}</div>
                        </div>
                    </div>



                </div>

                <div class="row m-t-20 m-b-10">
                    <div class="col-md-2 p-r-0"><span>Experience </span>
                    </div>
                    <div>
                        <input type="text" class="subscriber-drop-down experience" #experienceInput>
                    </div>
                </div>
            </div>
            <div class="d-flex j-space">
            <div class="row m-t-20 m-b-10">
                <div class="col-md-2 p-r-0"><span>Base salary</span>
                </div>
                <div>
                    <input type="text" class="subscriber-drop-down base" #baseSalaryInput>
                </div>
            </div>
            <div class="row m-t-20 m-b-10">
                <div class="col-md-2 p-r-0"><span>Maximum salary</span>
                </div>
                <div>
                    <input type="text" class="subscriber-drop-down" #maxSalaryInput>
                </div>
            </div>
            </div>
            <div class="row m-t-20 m-b-10">
                <div class="col-md-2 p-r-0"><span> Skills</span>
                </div>
                <div>
                    <input type="text" class="subscriber-drop-down input skills" #skills>
                </div>
            </div>
            <div class="d-flex j-end align-center">
                <div class="mat-ripple m-r-10 button c-pointer d-flex align-center" (click)="sumitClick()">Submit</div>
                <div class=" mat-ripple button c-pointer d-flex align-center"> Cancel</div>
            </div>
        </div>

    </div>
</div>