.main {
    display: flex;
}

.header {
    height: 75px !important;
    /* position: sticky !important; */
    max-width: 100%;
    background: #FFFFFF;
    border-right: none;
    box-shadow: 0px 4px 8px 0px #00000017;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    transition: width 0.3s ease;
    background-color: #FFFFFF;
    border-bottom: 1px solid #00000012;
    position: relative;
    height: 75px !important;
    border-right: 1px solid #E9E9E9;
    align-items: center;
    justify-content: center;
}

.side-head {
    font-size: 25px;
    font-weight: 500;
}

.detail {
    font-size: 12px;
    color: #575F6E;
    display: flex;
}

.candidate {
    border-bottom: 1px solid #EDEDED;
    padding: 10px 20px;
}

.candidate-dropdown {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* padding: 5px; */
    border-radius: 4px;
    max-height: 190px;
    overflow-y: auto;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    margin-top: 42px;
    overflow-x: hidden;
}

.candidate-column {
    /* padding: 5px 10px; */
    cursor: pointer;
    text-align: left;
}

.candidate-column:hover {
    background-color: #f0f0f0;
}

.text-wrap {
    max-width: 215px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    display: block; 
    cursor: pointer;
}

.break-word {
    display: block; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap; 
    max-width: 170px;
    cursor: pointer;
}

.user-profile {
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    min-width: 35px;
    min-height: 35px;
    background-color: #476583e8 !important;
    color: white !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all !important;
}

.drop-down {
    width: 170px;
    z-index: 999;
    right: 0px;
    background: #fff;
    top: 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 1px, rgba(60, 64, 67, 0.25) 0px 2px 3px 1px;
    border-radius: 5px;
    flex-direction: column;
    color: black;
    height: fit-content;
    position: absolute;
}

.profile-drop {
    font-size: 16px;
}

.profile-drop:hover {
    background-color: #f0f0f0;
}

.search-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    width: 338px;
    height: 38px;
    top: 5px;
    left: 67px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #D8E2FF;
    background: #FFFFFF;


}

.input {
    background-color: #FFFFFF;
    padding: 9px;
    top: 724px;
    right: 258px;
    width: 92%;
    height: 20px;
    border: none !important;
    outline: none !important;
}

.search {
    padding: 8px;
}

.fa-search {
    color: #575F6E;
    font-size: 30px;
}

.welcome {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #575F6E;
    padding-left: 10px;
    /* padding-bottom: 20px; */
}

.active-station {
    color: white;
    border-radius: 17px;
    border-bottom: 2px solid #005EC9;
    box-shadow: 0px 4px 8px 0px #00000017;
    background: #005EC9;
}