<div class="header w-100 d-flex j-space align-center">
  <div class="logo p-l-15  ">
    <span class="logo-text p-t-10 m-t-10 p-l-5 f-w-500 f-s-20 ">LOGO</span>
  </div>
  <div>
    <input type="text" class="input p-l-5" placeholder="Search Candidates" [(ngModel)]="searchKeyword"
      (keydown.enter)="searchCandidate(searchKeyword)">
    <span class="search" (click)="searchCandidate(searchKeyword)">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <div *ngIf="showCandidates" class="p-absolute candidate-dropdown no-close">
      <div class="candidate-column" *ngFor="let item of candidateList"
        (click)="selectCandidate(item.candidateId);showCandidates = !showCandidates">
        {{item?.candidateEmail}}
      </div>
    </div>
  </div>
  <div class="profile d-flex p-r-17">
    <div class="user-name p-t-10 p-r-6">
      <span class="f-w-500 user-name t-dark-blue-color"> {{ currentUser?.charAt(0) ? (currentUser?.charAt(0) |
        uppercase) + currentUser?.slice(1) : '' }}</span>
    </div>
    <div class="user-profile-ctn c-pointer" (click)="dropDown = !dropDown">
      <span class="f-w-500 user-name t-dark-blue-color"> {{ currentUser?.charAt(0) ? (currentUser?.charAt(0) |
        uppercase): '' }}</span>
    </div>
    <div *ngIf="dropDown" class="drop-down d-flex p-absolute">
      <div class="station" *ngFor="let station of stationsList">
        <div class="c-pointer p-l-20 p-10" (click)="navigate(station)">{{station.stationName}}</div>
      </div>
      <div class="station" (click)="logout()">
        <span class="c-pointer p-l-20 p-10">Logout</span>
      </div>
    </div>
  </div>
</div>