.header {
    min-height: 70px !important;
    max-height: 70px !important;
    position: sticky !important;
    max-width: 100%;
    box-shadow: 0 3px 8px -6px #0009;
    border-right: none;
}

.logo-text {
    color: black;
}

.candidate-dropdown {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
}

.candidate-column {
    flex: 1 1 20%;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
}

.candidate-column:hover {
    background-color: #f0f0f0;
}

.user-profile-ctn {
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    min-width: 35px;
    min-height: 35px;
    background-color: #476583e8 !important;
    color: white !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all !important;
}

.drop-down {
    position: absolute;
    height: 200px;
    width: 157px;
    z-index: 1;
    right: 10px;
    background: #fff;
    top: 60px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 1px, rgba(60, 64, 67, 0.25) 0px 2px 3px 1px;
    border-radius: 5px;
    flex-direction: column;
}

.drop-down span {
    position: relative;
    top: 0;
    left: 0px;
    width: 100%;
    height: fit-content;
    display: block;
    padding: 5px 10px 5px 10px;
    color: #000;
}

.drop-down-arrow {
    color: #000;
}

.drop-down span:hover i {
    cursor: pointer;
    color: #fff;
    color: #1d364b;
}

.station {
    height: 33px;
    /* padding-left: 13px; */
    /* padding-top: 4px; */
    font-size: 16px;
}

.logout {
    padding-left: 8px;
    padding-top: 4px;
}

.station :hover {
    background-color: #f0f0f0;
}

.input {
    border: 1px solid #E9E9E9;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 330px;
    height: 30px;
    margin-right: -21px;
}

.search {
    background-color: #005EC9;
    padding: 9px;
    top: 724px;
    right: 258px;
    width: 25px;
    height: 22px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.fa-search {
    color: #FFFFFF;
    padding-left: 3px;
    font-size: 20px;
}