<div class="main container-fluid">
  <div class="sidebar-container" [class.sidebar-hidden]="isSidebarHidden" *ngIf="!isSidebarHidden">
    <div class="sidebar" [class.hidden]="isSidebarHidden">
      <!-- <span class="side-head"> Techversant <span class="blue">Gateway</span></span> -->
    </div>
  </div>
  <div class="header d-flex navbar">
    <div class="p-2 d-flex align-items-center">
      <div>
        <img src="/assets/images/techversant/toggle.svg" alt="" (click)="toggleSidebar()" class="c-pointer">
      </div>
      <div class="search-container p-relative ms-3">
        <div class="search-div d-flex align-items-center">
          <input type="text" class="input" placeholder="Search Candidate Detail" [(ngModel)]="searchKeyword"
            (keydown)="searchCandidate(searchKeyword)">
          <span class="search c-pointer" (click)="searchCandidate(searchKeyword)">
            <img src="/assets/images/techversant/search.svg" alt="">
            <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
          </span>
        </div>
        <div *ngIf="showCandidates" class="p-absolute candidate-dropdown no-close">
          <div class="candidate-column" *ngFor="let item of candidateList"
            (click)="selectCandidate(item.candidateId);showCandidates = !showCandidates">
            <div *ngIf="!candidateList || candidateList?.length === 0"> No Candidate Found</div>
            <div class="d-flex candidate">
              <div class="m-1">
                <span class="user-profile">{{item?.candidateFirstName.charAt(0) ? (item?.candidateFirstName.charAt(0) |
                  uppercase) : 'U'}}</span>
              </div>
              <div class="ms-1">
                <span class="text-wrap"
                  [title]="item?.candidateFirstName + ' ' + item?.candidateLastName">{{item?.candidateFirstName}}
                  {{item?.candidateLastName}}</span>
                <span class="detail"><span class="break-word me-2"
                    [title]="item?.candidateEmail">{{item?.candidateEmail}}</span> |
                  <span>{{item?.candidateMobileNo}}</span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
    <div class="profile d-flex p-t-8">
      <div class="d-flex align-items-center me-2 flex-wrap station-names">
        <span *ngFor="let station of stationsList">
          <span class="c-pointer p-2" [ngClass]="{'active-station': station?.stationName === activeStation}"
            (click)="navigate(station)">
            <span class="station-name">{{station?.stationName}}</span>
          </span>
        </span>
      </div>
      <div class="user-profile c-pointer position-relative" (click)="dropDown = !dropDown">
        <span class="fw-bold user-name text-white"> {{ currentRole?.charAt(0) ? (currentRole?.charAt(0) |
          uppercase): '' }}</span>
        <div *ngIf="dropDown" class="drop-down d-flex position-absolute">
          <div class="profile-drop" *ngFor="let station of profileDropDown">
            <div class="c-pointer p-2 ps-3" (click)="navigate(station)">{{station?.stationName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
