.heading {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #E3E0E0;
}

.sub-head {
    color: #575F6E;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    outline: none !important;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 2px;
    height: 30px;
    background-color: #FFFF;
    width: 50vw;
}

.blue{
    color: #005EC9;
}

.red{
    color: rgb(167, 14, 14);
}

.green{
    color: green;
}

.modal-header {
    position: sticky;
    top: 0;
    z-index: 2; 
    background-color: #f8f9fa; 
}

.modal-content {
    overflow-y: auto; 
}

.btn{
    width: 120px;
    height: 35px;
    color: #FFFFFF;
    background-color: #005EC9;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    margin: 10px;
}

.btn-reject{
    width: 120px;
    height: 35px;
    color: #FFFFFF;
    background-color: #575F6E;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px; 
    margin: 10px;  
}

.btn-parent{
    float: right;
}

.text-area {
    width: 98%;
    height: 136px;
    border-radius: 3px;
    border: 1px solid #E2E1E1;
    background: #FFFFFF;
    padding: 8px;
    outline: none !important;
}

