<div class="modal-header heading p-10 p-t-20 d-flex j-space">
    <div>
        <span>{{candidateDetails['candidate.candidateFirstName']}} {{candidateDetails['candidate.candidateLastName']}}- </span>
        <span class="blue">( {{candidateDetails['candidate.candidateId']}} )</span>
    </div>
    <div class="modal-close">
        <span class="p-10" [ngClass]="{'blue': candidateDetails?.serviceStatus === 'pending','green': candidateDetails?.serviceStatus === 'done',
            'red': candidateDetails?.serviceStatus === 'rejected'}">
            {{candidateDetails?.serviceStatus | titlecase}}
        </span>
        <button class="c-pointer" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div class="modal-content">
    <div class="d-flex p-10">
        <div class="sub-head f-w-500 f-s-14 d-flex">
            <span class="p-8">Skills</span>
            <span class="p-8">Experience</span>
            <span class="p-8">Base Salary</span>
            <span class="p-8">Max Salary</span>
        </div>
        <div class="sub-head d-flex">
            <span class="p-8"> : {{candidateDetails['serviceRequest.requestSkills']}}</span>
            <span class="p-8"> : {{candidateDetails['serviceRequest.requestExperience']}}</span>
            <span class="p-8"> : {{candidateDetails['serviceRequest.requestBaseSalary']}}</span>
            <span class="p-8"> : {{candidateDetails['serviceRequest.requestMaxSalary']}}</span>
        </div>
    </div>
    <div class="heading p-10 d-flex j-space">
        <span>Candidate Details</span>
        <!-- <span class="c-pointer"><span class="f-s-14 f-w-400">Resume : </span>
            <i class="fa fa-file-text-o p-l-5 blue" aria-hidden="true" title="View resume" (click)="viewResume(candidateDetails['candidate.candidateResume'])"></i>
        </span> -->
        <span class="c-pointer"><span class="f-s-14 f-w-400">Resume : </span>
        <i class="fa fa-file-text-o p-l-5 blue" aria-hidden="true" title="View resume" (click)="viewResume(candidateDetails['candidate.candidateResume'])"></i>
    </span>
    </div>
    <div class="d-flex p-10">
        <div class="sub-head f-w-500 f-s-14 d-flex">
            <span class="p-8">Date of Birth</span>
            <span class="p-8">Skills</span>
            <span class="p-8">Previous Organisation</span>
            <span class="p-8">Previous Designation</span>
            <span class="p-8">Education</span>
            <span class="p-8">Expected Salary</span>
            <span class="p-8">Address</span>
        </div>
        <div class="sub-head d-flex">
            <span class="p-8">
                : {{candidateDetails['candidate.candidateDoB'] ?(candidateDetails['candidate.candidateDoB'] | date:
                'dd/MM/YYY' ): 'NIL' }}
            </span>
            <span class="p-8">
                : {{candidateDetails['serviceRequest.requestSkills'] ? candidateDetails['serviceRequest.requestSkills']
                : 'NIL'}}
            </span>
            <span class="p-8">
                : {{candidateDetails['candidate.candidatePreviousOrg'] ?
                candidateDetails['candidate.candidatePreviousOrg'] : 'NIL'}}
            </span>
            <span class="p-8">
                : {{candidateDetails['candidate.candidatePreviousDesignation'] ?
                candidateDetails['candidate.candidatePreviousDesignation'] : 'NIL'}}
            </span>
            <span class="p-8">
                : {{candidateDetails['candidate.candidateEducation'] ? candidateDetails['candidate.candidateEducation']: 'NIL'}}
            </span>
            <span class="p-8">
                : {{candidateDetails['candidate.candidateExpectedSalar'] ?
                candidateDetails['candidate.candidateExpectedSalar'] : 'NIL'}}
            </span>
            <span class="p-8">
                : {{candidateDetails['candidate.candidateCity'] ? candidateDetails['candidate.candidateCity'] :'City'}},
                {{candidateDetails['candidate.candidateDistrict'] ? candidateDetails['candidate.candidateDistrict']:'District '}},
                {{candidateDetails['candidate.candidateState'] ? candidateDetails['candidate.candidateState'] :'State'}}
            </span>
        </div>
    </div>
    <div class="heading p-10">
        <span>Add Progress</span>
    </div>
    <div class="progress" *ngIf="!progessAdded && candidateDetails?.serviceStatus !== 'done' && candidateDetails?.serviceStatus !== 'moved'">
        <div class="d-flex m-10"
            *ngIf="!progessAdded && candidateDetails?.serviceStatus !== 'done' && candidateDetails?.serviceStatus !== 'moved'">
            <div>
                <span class="p-10 sub-head">Skill</span>
                <span class="p-5 m-r-5"><input class="input-1" *ngIf="!candidateDetails['progress.progressSkills']"
                        type="text" id="skill"></span>
            </div>
            <div>
                <span class="p-10 sub-head">Score</span>
                <div class="p-relative w-100 m-l-10">
                    <span class="p-5 m-r-5"> <input class="input-1" *ngIf="!candidateDetails['progress.progressScore']"
                            type="text" id="score"></span>
                </div>
            </div>
        </div>
        <div class="m-10">
            <span class="p-10 sub-head">Add Attachment</span>
            <span class="c-pointer attach m-l-5 p-r-5 p-b-5 d-flex file" title="Attach File" (click)="fileInput.click()">
                <img class="p-5" src="/assets/images/paperclip.svg" alt="" height="20" width="20">
                <span class="m-b-10 p-5" *ngIf="fileName"> {{fileName}}</span>
                <span class="m-b-10 p-5" *ngIf="!fileName">Upload File</span>
                <input type="file" id="fileInput" #fileInput style="display: none;" (change)="onFileSelected($event)">
            </span>
        </div>
        <div class="m-10">
            <span class="p-10 sub-head">Add Description</span>
            <textarea class="text-area" *ngIf="!candidateDetails['progress.progressDescription']" id="description"></textarea>
        </div>
        <div *ngIf="!progessAdded && candidateDetails?.serviceStatus !== 'done' && candidateDetails?.serviceStatus !== 'moved'" class="details p-10 d-flex j-end w-95">
            <span class="f-w-500 head-wrap"></span>
            <button class="btn c-pointer" (click)="addProgress()">Add progress</button>
        </div>
    </div>
    <div class="d-flex p-10 progress" *ngIf="data?.progressStatus > 0 || candidateDetails?.serviceStatus === 'moved'">
        <div class="sub-head f-w-500 f-s-14 d-flex">
            <span class="p-8">Skill</span>
            <span class="p-8">Score</span>
            <span class="p-8">Attached File</span>
            <span class="p-8">Description</span>
        </div>
        <div class="sub-head d-flex">
            <span class="p-8"> : {{candidateDetails['progress.progressSkills'] ? candidateDetails['progress.progressSkills'] : 'NIL'}}</span>
            <span class="p-8"> : {{candidateDetails['progress.progressScore'] ? candidateDetails['progress.progressScore'] : 'NIL'}}</span>
            <span class="p-8"> : <i class="fa fa-file-text-o p-l-5 blue f-s-22" aria-hidden="true" title="View Attachment"
                (click)="viewResume(candidateDetails['progress.progressFile'])"></i></span>
                <span class="p-8"> : {{candidateDetails['progress.progressDescription'] ? candidateDetails['progress.progressDescription']: 'Nil'}}</span>
        </div>
    </div>  
    <div *ngIf="this.data?.candidateDetails?.serviceStatus === 'pending' && progessAdded">
        <button class="select-btn" [ngClass]="{'offer-select-btn': messageType === 'approve'}"
            (click)="showMail('approve')">Interview Invitation Mail
        </button>
        <button class="reject-btn" [ngClass]="{'offer-reject-btn': messageType === 'rejection'}"
            (click)="showMail('rejection')">Rejection Notification Mail
        </button>
        <div *ngIf="this.data?.candidateDetails?.serviceStatus === 'pending' && candidateDetails?.serviceStatus !== 'moved' && progessAdded && messageType.trim() !== ''">
            <app-mail-template [candidate]="mailTemplateData" (submitData)="onSubmitData($event)"></app-mail-template>
        </div>
    <div *ngIf="this.data?.candidateDetails?.serviceStatus === 'done' || this.data?.candidateDetails?.serviceStatus === 'rejected'">
        <div class="heading p-10">
            <span>Feedback</span>
        </div>
        <div class="sub-head d-flex">
            <span class="p-10" *ngIf="candidateDetails['reqCandidateComment.commentComment']">
                {{candidateDetails['reqCandidateComment.commentComment'] ? candidateDetails['reqCandidateComment.commentComment'] : 'Not Updated'}}
            </span>
        </div>
    </div>
</div>