<div class="main d-flex align-center m-t-10 p-t-10">
    <div class="img">
        <img src="assets/images/logout-confirmation.png" alt="" width="100px" height="100px">
    </div>
    <span class="text1">Are You Sure?</span>
    <span class="text2 p-t-10">Are you sure you want to logout of the application ?</span>
    <div class="btns j-space d-flex m-t-14">
        <button class="cancel-btn button c-pointer" (click)="cancel()">Cancel</button>
        <button class="logout-btn button c-pointer" (click)="logout()">Logout</button>
    </div>
</div>