.loader-parent {
    position: absolute;
    left: 53%;
    z-index: 9;
}

.loader-parent img {
    width: 100px;
}


.data {
    position: absolute;
    left: 52%;
    top: 65%;
    z-index: 9;
    color: #C10A0A;
    font-size: 16px;
    font-weight: 500;
}

.move {
    width: 100%;
    height: 35px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #005EC9;
    background-color: #FFFFFF;
    border: 1px solid #005EC9;
}

.initial-loader {
    position: absolute;
    top: 31%;
    left: 17%;
    width: 98%;
}