<div class="barchart">
    <div class="d-flex head">
        <div class="text"><span class="heading">Candidates By Recruiterwise</span></div>
        <div class="c-pointer">
            <input type="radio" id="recruiter" name="radio" value="recruiter" [checked]="recruiterCheck" (change)="onRadioChange($event)">
            <label for="recruiter" class="p-t-5 p-l-5 f-w-400 c-pointer">Recruiters</label>
            <input type="radio" id="last6" name="radio" value="Last 6 Months" [checked]="!recruiterCheck" (change)="onRadioChange($event)">
            <label for="last6" class="p-t-5 p-l-5 f-w-400 c-pointer">Last 6 Months</label>
        </div>
    </div>
    <div>
        <div *ngIf="sixMonthCount?.length === 0 || !sixMonthCount" class="no-data"> No Data Found</div>
        <canvas id="barChartInterview"></canvas>
    </div>
</div>