<div class="main">
    <div *ngIf="CandidateData?.length > 0">
        <ng-container *ngIf="candidateDetails">
            <div class="d-flex m-20 m-l-0">
                <div class="">
                    <span class="f-w-500 p-t-18 p-l-8 f-s-20"
                        [title]="candidateDetails?.candidateFirstName + ' ' + candidateDetails?.candidateLastName">
                        {{ candidateDetails?.candidateFirstName | titlecase}} {{ candidateDetails?.candidateLastName | titlecase }}
                    </span>
                    <div class="d-flex">
                        <div class="text-color padding-5">
                            <i class="fa fa-envelope p-r-3 p-l-6" aria-hidden="true"></i>
                            <span class="text-wrap" [title]="candidateDetails?.candidateEmail">
                                {{ candidateDetails?.candidateEmail }}
                            </span>
                        </div>
                        <div class="text-color padding-5 p-l-4 d-flex">
                            <img src="assets/images/candidate-detail/mob.svg" alt="">
                            <span class="p-l-5 text-wrap" [title]="candidateDetails?.candidateMobileNo">
                                {{ candidateDetails?.candidateMobileNo }}
                            </span>
                        </div>
                    </div>
                    <span class="p-t-18 p-l-10 text-color">Candidate Latest Status : <span class="latest-status f-w-500"
                            [ngStyle]="{'color': candidateDetails.candidateInterviewStatus === 'rejected' ? 'red' : '#07C369'}">
                            {{ candidateDetails?.candidateInterviewStatus === 'pannel-rejection' ? 'Panel Rejection' : (candidateDetails?.candidateInterviewStatus | titlecase) }}</span>
                        <span *ngIf="candidateDetails?.currentStation"> | Current Station : <span class="latest-status blue f-w-500">
                                {{candidateDetails?.currentStation === 'HR Manager' ? 'HR' :(candidateDetails?.currentStation | titlecase)}}</span></span>
                    </span>
                    <div *ngIf="resumePath" class="p-t-4 p-l-10 text-color">
                        <span (click)="viewResume(resumePath)" class="c-pointer resume-cls">View Resume</span>
                    </div>
                </div>
            </div>
            <div class="tab">
                <button class="tablinks" [ngClass]="{'active': activeTab === 'basic'}"
                    (click)="selectedTab($event, 'basic')">Basic Info</button>
                <button class="tablinks" [ngClass]="{'active': activeTab === 'interview'}"
                    (click)="selectedTab($event, 'interview')">Interviews</button>
                <button class="tablinks" [ngClass]="{'active': activeTab === 'attachment'}"
                    (click)="selectedTab($event, 'attachment')">Attachment</button>
                <button class="tablinks" [ngClass]="{'active': activeTab === 'feedback'}"
                    (click)="selectedTab($event, 'feedback')">Feedback</button>
                <button class="tablinks" [ngClass]="{'active': activeTab === 'history'}"
                    (click)="selectedTab($event, 'history')">History</button>
            </div>
            <!-- Basic Info Content -->
            <div class="tabcontent" [ngClass]="{ 'active': activeTab === 'basic' }" id="basic">
                <div *ngIf="!candidateDetails?.position?.[0]?.reqServiceRequest?.requestName"
                    class="d-flex j-end c-pointer m-r-20 p-t-9" (click)="edit(candidateDetails?.candidateId)">
                    <span><img src="/assets/images/candidate-detail/edit.svg" alt="" height="16" width="16"></span>
                    <span class="c-blue p-l-5 p-r-5">Edit</span>
                </div>
                <div class="candidateDetailsContainer d-flex">
                    <div class="column-1 bor p-l-9 p-t-10">
                        <div class="details">
                            <span class="sub-head">
                                <img src="assets/images/candidate-detail/calendar.svg" class="p-r-10" alt=""> DOB
                            </span>
                            <span class="text-wrap" [title]="candidateDetails?.candidateDoB | date: 'dd-MM-yyyy'">:
                                {{ candidateDetails?.candidateDoB ? (candidateDetails.candidateDoB | date: 'dd-MM-yyyy') : 'Nill' }}
                            </span>
                        </div>
                        <div class="details">
                            <span class="sub-head">
                                <img src="assets/images/candidate-detail/building.svg" class="p-r-4" alt=""> Previous
                                Organization
                            </span>
                            <span class="text-wrap" [title]="candidateDetails?.candidatePreviousOrg">:
                                {{ candidateDetails?.candidatePreviousOrg ? candidateDetails?.candidatePreviousOrg :
                                'Nil' }}</span>
                        </div>
                        <div class="details">
                            <span class="sub-head">
                                <img src="assets/images/candidate-detail/org.svg" class="p-r-10" alt="">Relevant
                                Experience
                            </span>
                            <span class="text-wrap" [title]="candidateDetails?.candidateRevlentExperience">:
                                {{ candidateDetails?.candidateRevlentExperience ?
                                candidateDetails?.candidateRevlentExperience : 'Nil' }}</span>
                        </div>
                        <div class="details">
                            <span class="sub-head">
                                <img src="assets/images/candidate-detail/org.svg" class="p-r-10" alt="">Total Experience
                            </span>
                            <span class="text-wrap" [title]="candidateDetails?.candidateTotalExperience">:
                                {{ candidateDetails?.candidateTotalExperience ?
                                candidateDetails?.candidateTotalExperience : 'Nil' }}</span>
                        </div>
                        <div class="details" *ngIf="this.userRole !== 'panel' && this.userRole !== 'manager'">
                            <span class="sub-head">
                                <img src="assets/images/candidate-detail/money.svg" class="p-r-6" alt=""> Current Salary
                            </span>
                            <span class="text-wrap" [title]="candidateDetails?.candidateCurrentSalary">:
                                {{ candidateDetails?.candidateCurrentSalary ? candidateDetails?.candidateCurrentSalary :
                                'Nil' }}</span>
                        </div>
                        <div class="details" *ngIf="this.userRole !== 'panel' && this.userRole !== 'manager'">
                            <span class="sub-head">
                                <img src="assets/images/candidate-detail/money.svg" class="p-r-6" alt=""> Expected
                                Salary
                            </span>
                            <span class="text-wrap" [title]="candidateDetails?.candidateExpectedSalary">:
                                {{ candidateDetails?.candidateExpectedSalary ? candidateDetails?.candidateExpectedSalary
                                : 'Nil' }}</span>
                        </div>
                        <div class="details">
                            <span class="sub-head">
                                <img src="assets/images/candidate-detail/building.svg" class="p-r-4" alt=""> Preferred
                                Location
                            </span>
                            <span class="text-wrap" [title]="candidateDetails?.candidatePreferlocation">:
                                {{ candidateDetails?.candidatePreferlocation ? candidateDetails?.candidatePreferlocation
                                : 'Nil' }}</span>
                        </div>
                        <div class="details">
                            <span class="sub-head">
                                <img src="assets/images/candidate-detail/user.svg" class="p-r-6" alt=""> Current
                                Station
                            </span>
                            <span class="text-wrap" [title]="candidateDetails?.currentStation">:
                                {{ candidateDetails?.currentStation ? candidateDetails?.currentStation : 'Nil' }}</span>
                        </div>
                    </div>
                    <div class="column-1 p-t-10">
                        <div class="details">
                            <span class="sub-head text-wrap">
                                <img src="assets/images/candidate-detail/education.svg" class="p-r-10" alt=""> Education
                            </span>
                            <span class="text-wrap" [title]="candidateDetails?.candidateEducation">:
                                {{ candidateDetails?.candidateEducation ? candidateDetails?.candidateEducation : 'Nil'
                                }}</span>
                        </div>
                        <div class="details">
                            <span class="sub-head text-wrap">
                                <img src="assets/images/candidate-detail/org.svg" class="p-r-10" alt=""> Previous
                                Designation
                            </span>
                            <span class="text-wrap" [title]="candidateDetails?.candidatePreviousDesignation">:
                                {{ candidateDetails?.candidatePreviousDesignation ?
                                candidateDetails?.candidatePreviousDesignation : 'Nil' }}
                            </span>
                        </div>
                        <div class="details">
                            <span class="sub-head text-wrap"><i class="fa fa-home p-r-10" aria-hidden="true"></i>
                                City</span>
                            <span class="text-wrap" [title]="candidateDetails?.candidateCity">:
                                {{ candidateDetails?.candidateCity ? candidateDetails?.candidateCity : 'Nil' }}</span>
                        </div>
                        <div class="details">
                            <span class="sub-head text-wrap"><i class="fa fa-home p-r-10" aria-hidden="true"></i>
                                District</span>
                            <span class="text-wrap" [title]="candidateDetails?.candidateDistrict">:
                                {{ candidateDetails?.candidateDistrict ? candidateDetails?.candidateDistrict : 'Nil'
                                }}</span>
                        </div>
                        <div class="details">
                            <span class="sub-head text-wrap"><i class="fa fa-home p-r-10" aria-hidden="true"></i>
                                State</span>
                            <span class="text-wrap" [title]="candidateDetails?.candidateState">:
                                {{ candidateDetails?.candidateState ? candidateDetails?.candidateState : 'Nil' }}</span>
                        </div>                     
                        <div class="details">
                            <span class="sub-head text-wrap">
                                <img src="assets/images/candidate-detail/user.svg" class="p-r-10" alt=""> Primary Skills
                            </span>
                            <span>:
                                <ng-container
                                    *ngFor="let item of candidateDetails?.candidatePrimarySkills; let last = last">
                                    <span class="text-wrap" [title]="item?.skillType">{{ item?.skillType }}<span
                                            *ngIf="!last">,</span></span>
                                </ng-container>
                            </span>
                        </div>
                        <div class="details">
                            <span class="sub-head text-wrap">
                                <img src="assets/images/candidate-detail/user.svg" class="p-r-10" alt=""> Secondary
                                Skills
                            </span>
                            <span class="text-wrap">:
                                <ng-container
                                    *ngFor="let item of candidateDetails?.candidateSecondarySkills; let last = last">
                                    <span class="text-wrap" [title]="item?.skillType">{{ item?.skillType }}<span
                                            *ngIf="!last">,</span></span>
                                </ng-container>
                            </span>
                        </div>
                    </div>
                </div>
                <app-candidate-actions [candidateId]="candidateId" (modalClosed)="handleModalClose($event)"></app-candidate-actions>
            </div>
            <!-- Interviews Content -->
            <div class="tabcontent" [ngClass]="{'active': activeTab === 'interview'}" id="interview">
                <div class="container-table m-b-0 w-100">
                    <table class="table">
                        <tr class="table-header f-w-500 p-b-10">
                            <td class="text-start">Position</td>
                            <td class="text-start">Station</td>
                            <td class="text-start">Interview Type</td>
                            <td class="text-start">Interview Panel</td>
                            <td class="text-start">Recruiter</td>
                            <td class="text-start">Interview Status</td>
                            <td class="text-end">Date</td>
                        </tr>
                        <ng-container *ngIf="CandidateHistory?.length > 0">
                            <div *ngIf="loader && !initialLoader" class="loader-parent">
                                <img src="assets/gif/loader.gif">
                            </div>
                            <ng-container *ngFor="let item of CandidateHistory">
                                <ng-container *ngFor="let data of item['interviewDetail']">
                                    <tr class="candidate" *ngIf="data?.station !== null">
                                        <td class="text-start" *ngIf="data?.station !== null">{{item?.positionName}}</td>
                                        <td class="text-start">{{ data?.station === 'HR Manager' ? 'HR' : (data?.station | titlecase) }} 
                                        </td>
                                        <td class="text-start">{{data?.interviewType === 0 ? 'Interview Scheduled' :
                                            'Re-Scheduled' }}</td>
                                        <td class="text-start">{{data?.interviewBy | titlecase}}</td>
                                        <td class="text-start">
                                            {{data?.interviewScheduledBy | titlecase }}</td>
                                        <td>{{data?.status | titlecase}}</td>
                                        <td class="text-end">{{ data?.interviewDate | date : 'dd/MM/yyyy' }}</td>
                                    </tr>
                                    <div *ngIf="!loader && !initialLoader && data?.station === null" class="no-data">
                                        No Data Found
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <div *ngIf="(CandidateHistory?.length == 0) && !loader && !initialLoader" class="no-data">
                            No Data Found
                        </div>
                        <div *ngIf="initialLoader && !loader" class="row m-l-20 initial-loader">
                            <div *ngFor="let item of [0,1,2,3,4,5]" class="col-md-6 m-t-10 m-b-10">
                                <div class="gravatar-title">
                                    <div><ngx-skeleton-loader [theme]="{
                                        width: '900px',
                                        'border-radius': '0',
                                        height: '15px',
                                        'margin-bottom': '10px'
                                        }"></ngx-skeleton-loader>
                                    </div>
                                    <div>
                                        <ngx-skeleton-loader
                                            [theme]="{ width: '1300px', 'border-radius': '0', height: '15px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
            <!-- Attachment Content -->
            <div class="tabcontent" [ngClass]="{'active': activeTab === 'attachment'}" id="attachment">        
                <div class="container-table m-b-0 w-100">
                    <table class="table">
                        <tr class="table-header f-w-500 p-b-10">
                            <td class="text-start">Position</td>
                            <td class="text-start">Station</td>
                            <td class="text-start">Uploaded By</td>
                            <td class="text-center">Attachment</td>
                            <td class="text-start">Recruiter</td>
                            <td class="text-end">Date</td>
                        </tr>
                        <div *ngIf="loader && !initialLoader" class="loader-parent">
                            <img src="assets/gif/loader.gif">
                        </div>
                        <ng-container *ngIf="CandidateHistory?.length > 0">
                            <ng-container *ngFor="let item of CandidateHistory">
                                <ng-container *ngIf="item['attachedData']?.length > 0; else noData">
                                    <ng-container *ngFor="let data of item['attachedData']">
                                        <tr class="candidate">
                                            <td class="text-start">{{item?.positionName | titlecase}}</td>
                                            <td class="text-start">{{ data?.station === 'HR Manager' ? 'HR' : (data?.station | titlecase) }}</td>
                                            <td class="text-start">{{ data?.uploadedBy | titlecase }}</td>
                                            <td (click)="viewResume(data?.uploadedFile)" class="c-pointer text-center"
                                                title="View Attachment">
                                                <img src="/assets/images/view-file.png" alt="" height="37" width="37"
                                                    class="p-l-9">
                                            </td>
                                            <td class="text-start">{{ data?.uploadedBy | titlecase }}</td>
                                            <td class="text-end">{{data?.uploadedDate | date : 'dd/MM/yyyy'}}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                                <ng-template #noData>
                                    <div class="no-data">No Data Found</div>
                                </ng-template>
                            </ng-container>
                        </ng-container>
                        <div *ngIf="(!CandidateHistory || CandidateHistory.length === 0) && !loader && !initialLoader"
                            class="no-data">
                            No Data Found
                        </div>

                        <div *ngIf="initialLoader && !loader" class="row m-l-20 initial-loader">
                            <div *ngFor="let item of [0,1,2,3,4,5]" class="col-md-6 m-t-10 m-b-10">
                                <div class="gravatar-title">
                                    <div><ngx-skeleton-loader [theme]="{
                                        width: '900px',
                                        'border-radius': '0',
                                        height: '15px',
                                        'margin-bottom': '10px'
                                        }"></ngx-skeleton-loader>
                                    </div>
                                    <div>
                                        <ngx-skeleton-loader
                                            [theme]="{ width: '1300px', 'border-radius': '0', height: '15px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>

            </div>
            <!-- Feedback Content -->
            <div class="tabcontent" [ngClass]="{'active': activeTab === 'feedback'}" id="feedback">
                <div class="container-table m-b-0 w-100">
                    <table class="table">
                        <tr class="table-header f-w-500 p-b-10">
                            <td class="text-start">Position</td>
                            <td class="text-start">Station</td>
                            <td class="text-start">Uploaded By</td>
                            <td class="text-start">Comments</td>
                            <td class="text-end">Date Uploaded</td>
                        </tr>
                        <ng-container *ngIf="CandidateHistory?.length > 0">
                            <div *ngIf="loader && !initialLoader" class="loader-parent">
                                <img src="assets/gif/loader.gif">
                            </div>
                            <ng-container *ngFor="let item of CandidateHistory">
                                <ng-container *ngIf="item['feedbackDetail']?.length > 0; else noData">
                                    <ng-container *ngFor="let data of item['feedbackDetail']">
                                        <tr class="candidate ">
                                            <td class="text-start">{{item?.positionName | titlecase}}</td>
                                            <td class="text-start">{{ data?.station === 'HR Manager' ? 'HR' : (data?.station | titlecase) }} </td>
                                            <td class="text-start">{{ data?.feedbackBy | titlecase }}
                                            </td>
                                            <td class="text-start">{{ data?.feedbackMessage |titlecase}}</td>
                                            <td class="text-end">{{ data?.feedbackDate | date : 'dd/MM/yyyy' }}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                                <ng-template #noData>
                                    <div class="no-data">No Data Found</div>
                                </ng-template>
                            </ng-container>
                        </ng-container>
                        <div *ngIf="(CandidateHistory?.length == 0) && !loader && !initialLoader " class="no-data">
                            No Data Found
                        </div>
                        <div *ngIf="initialLoader && !loader" class="row m-l-20 initial-loader">
                            <div *ngFor="let item of [0,1,2,3,4,5]" class="col-md-6 m-t-10 m-b-10">
                                <div class="gravatar-title">
                                    <div><ngx-skeleton-loader [theme]="{
                                        width: '900px',
                                        'border-radius': '0',
                                        height: '15px',
                                        'margin-bottom': '10px'
                                        }"></ngx-skeleton-loader>
                                    </div>
                                    <div>
                                        <ngx-skeleton-loader
                                            [theme]="{ width: '1300px', 'border-radius': '0', height: '15px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
            <!-- History Content -->
            <div class="tabcontent" [ngClass]="{'active': activeTab === 'history'}" id="history">
                <div class="container-table m-b-0 w-100">
                    <table class="table">
                        <tr class="table-header f-w-500 p-b-10">
                            <td class="text-start">Position</td>
                            <td class="text-start">Station</td>
                            <td class="text-start">History Type</td>
                            <td class="text-start">History By</td>
                            <td class="text-end">Date</td>
                        </tr>
                        <ng-container *ngIf="CandidateHistory?.length > 0">
                            <div *ngIf="loader && !initialLoader" class="loader-parent">
                                <img src="assets/gif/loader.gif">
                            </div>
                            <ng-container *ngFor="let item of CandidateHistory">
                                <ng-container *ngFor="let data of item['historyDetail']">
                                    <tr class="candidate">
                                        <td class="text-start">{{item?.positionName | titlecase}}</td>
                                        <td class="text-start">{{ data?.station === 'HR Manager' ? 'HR' : (data?.station | titlecase) }}</td>
                                        <td class="text-start">{{ data?.historyType }}</td>
                                        <td class="text-start">{{ data?.historyBy | titlecase }}</td>
                                        <td class="text-end">{{ data?.historyDate | date : 'dd/MM/yyyy' }}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <div *ngIf="(CandidateHistory?.length == 0) && !loader && !initialLoader " class="no-data">
                            No Data Found
                        </div>
                        <div *ngIf="initialLoader && !loader" class="row m-l-20 initial-loader">
                            <div *ngFor="let item of [0,1,2,3,4,5]" class="col-md-6 m-t-10 m-b-10">
                                <div class="gravatar-title">
                                    <div><ngx-skeleton-loader [theme]="{
                                        width: '900px',
                                        'border-radius': '0',
                                        height: '15px',
                                        'margin-bottom': '10px'
                                        }"></ngx-skeleton-loader>
                                    </div>
                                    <div>
                                        <ngx-skeleton-loader
                                            [theme]="{ width: '1300px', 'border-radius': '0', height: '15px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="no-data" *ngIf="(!CandidateData?.length || CandidateData?.length === 0) && (!initialLoader && !loader)">
        There is No Candidate Available for this Request</div>
    <div class="row m-l-20 initial-loader" *ngIf="initialLoader && !loader">
        <div *ngFor="let item of [0,1,2,3,4,5]" class="col-md-6 m-t-10 m-b-10">
            <div class="gravatar-title">
                <div>
                    <ngx-skeleton-loader [theme]="{
                        width: '900px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-bottom': '10px'
                    }"></ngx-skeleton-loader>
                </div>
                <div>
                    <ngx-skeleton-loader [theme]="{
                        width: '1300px',
                        'border-radius': '0',
                        height: '15px'
                    }"></ngx-skeleton-loader>
                </div>
            </div>
        </div>
    </div>
</div>