<div class="main">
  <div class="d-flex j-space">

    <div class="list">
      <p class="heading">Candidates List</p>
    </div>
    <div class="search-candidate d-flex">
      <input type="text" [(ngModel)]="searchQuery" class="search-input" autocomplete="off"
        placeholder="Search Candidates..." (keydown.enter)="candidateSearch()">
      <button class="search-btn" (click)="candidateSearch()"> <img width="14px" src="assets/images/s_icon.png"
          alt=""></button>

    </div>
  </div>

  <div class="container m-l-26 m-t-20 d-flex j-space p-20">

    <div *ngFor="let candidate of candidates" class="d-flex j-center p-20">
      <div class="candidate-details" (click)="openCandidateDetails(candidate.candidateId)">
        <p>Name : {{candidate.candidateFirstName }} {{candidate.candidateLastName }}</p>
        <p>Email : {{candidate.candidateEmail}}</p>
        <p>Education : {{candidate.candidateEducation}}</p>

      </div>
    </div>

  </div>
</div>