<div class="main p-t-10">
  <div class="menu d-flex c-pointer" (click)="navigate('/user',false)" [class.active]="isActive('/user')">
    <span class="menu-text"><i class="fa fa-th-large" aria-hidden="true"></i></span>
    <span class="menu-text">Dashboard</span>
  </div>
  <div class="menu d-flex c-pointer" (click)="navigate('/user/addUser',false)"
    [class.active]="isActive('/user/addUser')">
    <span class="menu-text"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
    <span class="menu-text">Add User</span>
  </div>
  <div *ngIf="id && candidateDetailUrl && isActive(candidateDetailUrl)" class="menu d-flex c-pointer"
    (click)="navigate(candidateDetailUrl, false)" [class.active]="isActive(candidateDetailUrl)">
    <span class="menu-text"><i class="fa fa-table" aria-hidden="true"></i></span>
    <span class="menu-text">Candidate Detail</span>
  </div>
</div>