<div class="main p-t-10">
    <div class="menu d-flex c-pointer" (click)="navigate('/user',false)" [class.active]="isActive('/user')">
      <img src="assets/images/material-symbols-light_dashboard-outline.png" alt="" height="19px" width="19px" top="4px"
        left="4px" class="img">
      <span class="menu-text">Dashboard</span>
    </div>
    <div class="menu d-flex c-pointer" (click)="navigate('/user/addUser',false)" [class.active]="isActive('/user/addUser')">
      <img src="assets/images/add-user.png" alt="" height="19px" width="19px" top="4px" left="4px">
      <span class="menu-text">Add User</span>
    </div>
    </div>