<div class="main">
    <div class="d-flex p-t-20 align-center p-b-0 p-l-5">
        <span class="header">Add User</span>
    </div>
    <div class="scroller-box">
        <div class="d-flex parent">
            <div class="m-t-20 m-b-10 p-l-5  child">
                <span class="sub-head">First Name</span>
                <div>
                    <input type="text" class="input" id="firstname">
                </div>
            </div>
            <div class="m-t-20 m-b-10 p-l-5  child">
                <span class="sub-head">Last Name</span>
                <div>
                    <input type="text" class="input" autocomplete="off" id="secondName">
                </div>
            </div>
        </div>
        <div class="d-flex parent">
            <div class="m-t-20 m-b-10 p-l-5  child">
                <span class="sub-head">DOB</span>
                <div class="p-relative w-100">
                    <input class="p-l-5  input" placeholder="MM/DD/YY" matInput [matDatepicker]="pickerdate"
                        (dateChange)="dateChange($event)" (click)="pickerdate?.open()" [value]="displayDate">
                    <span> <mat-datepicker #pickerdate class=""></mat-datepicker>
                        <i class="fa fa-calendar-o c-pointer p-absolute calendar-icon" aria-hidden="true"
                            (click)="pickerdate ?.open()"></i>
                    </span>
                </div>
            </div>
            <div class="m-t-20 m-b-10 p-l-5  child">
                <span class="sub-head">Email</span>
                <div>
                    <input type="text" class="input" autocomplete="off" id="email">
                </div>
            </div>
        </div>
        <div class="d-flex parent">
            <div class="m-t-20 m-b-10 p-l-5  child">
                <span class="sub-head">Role</span>
                <div>
                    <input type="text" class="input" id="role">
                </div>
            </div>
            <!-- <div class="m-t-20 m-b-10 p-l-10  child">
                    <span class="sub-head">Multiple Role</span>
                    <div>
                        <input type="text" class="input" autocomplete="off" id="multiplerole">
                    </div>
                </div> -->
            <div class="m-t-20 m-b-10 p-l-5  child p-relative">
                <span class="sub-head">Work Station</span>
                <!-- <div>
                        <input type="text" class="input-role" formControlName="userWorkStation">
                    </div> -->
                <div class="no-close col-md-3 s-list d-flex input j-space m-text "
                    (click)="idListOpen = !idListOpen">
                    <div *ngIf="!selectedStation"
                        class="s-list m-r-10 m-text align-center m-b-2 f-w-400 c-pointer h-min sub flex-1">
                        Select Station
                    </div>
                    <div class="align-center p-t-7" *ngIf="selectedStation">{{selectedStation}}</div>
                    <div class=" s-list c-pointer align-center m-b-2 flex-1 d-flex j-end sub"><i
                            class="no-close s-list fa fa-chevron-down s-text p-r-10"></i>
                    </div>
                    <div class="drop-list no-close" *ngIf="idListOpen">
                        <div (click)="selectStation(station.stationId,station.stationName)"
                            *ngFor="let station of stationList" class=" p-t-5 p-b-5 p-l-10 c-pointer">
                           <span> {{station?.stationName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex parent">
            <div class="m-t-20 m-b-10 p-l-5  child">
                <span class="sub-head">Password</span>
                <div class="p-relative">
                    <!-- <input type="password" class="input" autocomplete="new-password" formControlName="password"> -->
                    <input [type]="hide ? 'password' : 'text'" class="input" placeholder="Password"
                        autocomplete="new-password" id="password">
                    <span class="eyeIcon c-black p-absolute" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon class="m-icon">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                    </span>
                </div>
            </div>
            <div class="m-t-20 m-b-10 p-l-5  child">
                <span class="sub-head">Confirm Password</span>
                <div class="p-relative">
                    <!-- <input type="password" class="input" autocomplete="new-password" formControlName="confirmPassword"> -->
                    <input [type]="hide2 ? 'password' : 'text'" class="input" placeholder="Password"
                        autocomplete="new-password" id="conformPassword">
                    <span class="eyeIcon c-black p-absolute" mat-icon-button matSuffix (click)="hide2 = !hide2"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                        <mat-icon class="m-icon">{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
                    </span>
                </div>
                <div *ngIf="!passwordsMatch" class="mismatch-error m-t-4">Password not matching</div>
            </div>
        </div>
        <div class="p-20">
            <div class="d-flex j-end p-t-10 m-t-10 m-r-10">
                <div class="mat-ripple m-r-10 button c-pointer d-flex align-center c-pointer"><button class="btn-cancel"
                        (click)="cancel()">Cancel</button></div>
                <div class="mat-ripple c-pointer d-flex align-center c-pointer"><button class="btn-submit"
                        (click)="submitClick()">Create User</button></div>
            </div>
        </div>
    </div>
</div>