<div class="m-10">
    <span class="f-s-20 f-w-500 p-t-5">Technical Round {{stationId === '3' ? '1' : '2'}}</span>
    <div class="d-flex j-end p-l-5 m-b-20">
        <span class="input p-5 m-l-10 m-r-10">
            <input type="text" class="p-l-5" placeholder="Search Candidates from List" [(ngModel)]="searchKeyword" (keydown)="searchCandidate(searchKeyword)">
            <span *ngIf="searchKeyword.trim() !== ''" (click)="clearFilter('search')" class="clear-search c-pointer m-l-10">x</span> 
        </span> 
        <div class="input p-t-10 p-l-6  no-close p-relative m-r-10"> 
            <span class="f-right d-flex">
                <span *ngIf="displayPosition && displayPosition !== ''" (click)="clearFilter('position')" class="clear-filter c-pointer">x</span>     
                <div  (click)="requestList_open = !requestList_open" class="c-pointer">
                    <i [ngClass]="requestList_open ? ' fa fa-chevron-up' : ' fa fa-chevron-down'" class="m-l-5 p-r-10 s-text no-close"></i>
                </div>
            </span> 
            <span class="c-pointer" (click)="requestList_open = !requestList_open">{{displayPosition.trim() === ''  ? 'Filter by Requirement' : displayPosition}}</span>
            <div class="no-close dropdown c-pointer no-close" *ngIf="requestList_open">
                <div (click)='selectPosition(name?.requestName,name?.requestId); !requestList_open' *ngFor="let name of requestList" class="p-10">
                    {{name?.requestName}}
                </div>               
            </div>
        </div>   
        <div class="input-1 c-pointer p-t-10 no-close p-relative">
            <span class="no-close p-l-10" (click)="filterStatus = !filterStatus">{{filteredStatus.trim() === '' ? 'Filter by Status' : filteredStatus | titlecase}}</span>
            <span class="f-right">
                <span *ngIf="filteredStatus && filteredStatus.trim() !== ''" (click)="clearFilter('status')" class="clear-filter">x</span>
                <span (click)="filterStatus = !filterStatus"><i class="p-l-8 p-r-10 fa fa-chevron-down no-close'"></i></span>
            </span>    
            <div class="dropdown c-pointer no-close'" *ngIf="filterStatus" >
                <span class="d-flex p-0" *ngFor="let type of Status" (click)="selectStatusFilter(type?.status);filterStatus = !filterStatus">
                   <span class="p-l-10 p-5">{{type?.status | titlecase}}</span> 
                </span>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="table-container m-b-0 w-100">
            <table class="table">
                <tr class="table-header f-w-500 p-b-10">
                    <td>Candidate ID</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Requirement</td>
                    <td>Current Station</td>
                    <td>Progress Status</td>
                    <td>Move Candidates</td>
                    <td>Service Status</td>
                    <td>More Detail</td>
                </tr>
                <div *ngIf="loader" class="loader-parent">
                    <img src="assets/gif/loader.gif">
                </div>
                <ng-container *ngIf="candidateList?.length > 0">
                    <ng-container *ngFor="let innerArray of candidateList">
                        <ng-container  *ngFor="let item of innerArray">
                            <tr class="candidate c-pointer">
                                <td>{{ item['candidate.candidateId'] }}</td>
                                <td class="text-wrap" [title]="item['candidate.candidateFirstName'] + item['candidate.candidateLastName']">
                                    {{ item['candidate.candidateFirstName'] }} {{ item['candidate.candidateLastName'] }}
                                </td>
                                <td class="text-wrap" [title]="item['candidate.candidateEmail'] ">{{ item['candidate.candidateEmail'] }}</td>
                                <td class="text-wrap" [title]="item['serviceRequest.requestName']">{{ item['serviceRequest.requestName'] }}</td>
                                <td class="text-wrap" [title]="item?.currentStation | titlecase">{{item?.currentStation | titlecase}}</td>                    

                                <td class="text-wrap f-w-500" [title]="item?.progressStatus > 0 ? 'Progress Added' : 'Pending'"
                                    [ngClass]="item?.progressStatus > 0  ? 'green' : 'blue'">
                                    {{item?.progressStatus > 0 ? 'Progress Added' : 'Pending'}}
                                </td>
                                <td> <button class="btn" (click)="onSwitchStation(item)">Switch Station</button>  
                                </td>
                                <td class="f-w-500" [ngClass]="{'blue': item?.serviceStatus === 'pending','green': item?.serviceStatus === 'done',
                                    'red': item?.serviceStatus === 'rejected'}" [title]="item?.serviceStatus | titlecase">
                                    {{ item?.serviceStatus | titlecase}}
                                </td>
                                <td ><button class="btn" (click)="fetchDetails(item?.serviceId , item?.progressStatus)">View detail</button></td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <div *ngIf="(this.candidateList[0]?.length === 0 || !this.candidateList[0]) && !loader " class="data">
                    No Data Found
                </div>
            </table>
        </div>
        <div class="page d-flex j-end p-10">
            <button *ngIf="currentPage !== 1" class="box c-pointer" (click)="onPageChange(1)">
                <img src="assets/images/double-arrow-left-icon.svg" alt="" height="14px" width="14px">
            </button>
            <button *ngIf="currentPage === 1" class="box p-r-20 m-r-10">
                <img src="assets/images/inactive-double-arrow-left.svg" alt="" height="23px" width="23px">
            </button>
            <ng-container *ngFor="let page of generatePageNumbers()">
                <button *ngIf="page === '...'" class="box dot" disabled>...</button>
                <button *ngIf="page !== '...' && page === currentPage" class="box current-page c-pointer">{{ page }}</button>
                <button *ngIf="page !== '...' && page !== currentPage" class="box c-pointer" (click)="onPageChange(page)">{{ page }}</button>
            </ng-container>
            <button *ngIf="currentPage < lastPage" class="box c-pointer" (click)="onPageChange(lastPage)">
                <img src="assets/images/double-arrow-right-icon.svg" alt="" height="14px" width="14px">
            </button>
            <button *ngIf="currentPage === lastPage" class="box">
                <img src="assets/images/inactive-double-arrow-right.svg" alt="" height="23px" width="23px">
            </button>
        </div>  
    </div>    
</div>