<div class="main">
    <p class="title m-t-17 m-l-9">Written Station</p>
    <div class="body m-l-13">
        <div class="candidates-list p-l-19">
            <p class="name p-t-10">Candidates</p>
            <div *ngIf="list?.length === 0 || !list" class="parent-conatiner">
                <div class="centerd-div"><span class="no-data">No Candidates To Add</span></div>
            </div>
            <div class="d-flex  flex-wrap" *ngIf="list.length > 0">
                <div *ngFor="let candidate of list" class=" candidate-box">
                    <p class="candidate-name">{{candidate.candidateFirstName}}</p>
                    <div class="info-container">
                        <div class="info-pair">
                            <div class="key">Designation</div>
                            <div class="value">: {{candidate.candidateFirstName}}</div>
                        </div>
                        <div class="info-pair">
                            <div class="key">Team</div>
                            <div class="value">: {{candidate.candidateFirstName}}</div>
                        </div>
                        <div class="info-pair">
                            <div class="key">Skills</div>
                            <div class="value">: {{candidate.candidateLastName}}</div>
                        </div>
                        <div class="info-pair">
                            <div class="key">Email</div>
                            <div class="value">: {{candidate.candidateEmail}}</div>
                        </div>
                    </div>
                    <button class="assign" (click)="openAssignModal(candidate,activeSeries)">Assign</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex body j-space m-l-14 questions">
        <div class="child1">
            <div class="name  d-flex p-t-23 p-l-17 j-space title-child1">
                <p>Questions To Be Assigned</p>
                <div class="title-right">
                    <input type="text" placeholder="Enter the average score" id="averageScore" class="input">
                    <button class="approve" (click)="approve()">Approve</button>
                </div>
            </div>
            <div class="body-child1">
                <div *ngIf="series_list?.length === 0 || !series_list" class="parent-conatiner">
                    <div class="centerd-div"><span class="no-data">Candidates are'nt assigned to any series</span></div>
                </div>
                <ng-container *ngFor="let series of series_list">
                    <div class=" flex-column  j-center c-pointer" (click)="seriesBoxClick(series)"
                        [ngClass]="{'active-series' : series?.active}">
                        <!-- <p class="m-b-0 p-t-10 p-b-5  series-name-child1 m-r-10">Series 1</p> -->
                        <p class="m-b-0 p-t-10 p-b-5  series-name-child1 m-r-10">{{series.name}}</p>
                        <div class="  j-center candidates">
                            <!-- <p class="m-b-0 p-t-10 p-b-5  series-name m-r-10">{{series.name}}</p> -->
                            <div *ngIf="series.candidates && series.candidates.length > 0" class="d-flex flex-wrap">
                                <div *ngFor="let candidate of series.candidates" class=" candidate-box-child1">
                                    <p class="candidate-name-child1">{{candidate.candidateFirstName}}</p>
                                    <div class="info-container">
                                        <div class="info-pair">
                                            <div class="key">Designation</div>
                                            <div class="value">: {{candidate.candidateFirstName}}</div>
                                        </div>
                                        <div class="info-pair">
                                            <div class="key">Team</div>
                                            <div class="value">: {{candidate.candidateFirstName}}</div>
                                        </div>
                                        <div class="info-pair">
                                            <div class="key">Skills</div>
                                            <div class="value">: {{candidate.candidateLastName}}</div>
                                        </div>
                                        <div class="info-pair">
                                            <div class="key">Email</div>
                                            <div class="value">: {{candidate.candidateEmail}}</div>
                                        </div>
                                    </div>
                                    <div class="d-flex m-t-12">
                                        <button class="result"
                                            *ngIf="candidate.progressScore == null || !candidate.progressScore"
                                            (click)="resultClick(candidate, candidate.serviceId)">Add Result</button>
                                        <span class="score"
                                            *ngIf="candidate.progressScore  && candidate.progressScore !== null">Score:{{candidate.progressScore}}</span>
                                        <button *ngIf="!candidate.progressId" class="assign-child1 m-l-10"
                                            (click)="openAssignModal(candidate,series)">Assign</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="child2">
            <div class="barcode-parent text-center m-t-14">
                <button class="series-btn f-s-14" (click)="createSeries()">Create Series</button>
            </div>
            <div *ngIf="series_list?.length === 0" class="parent-conatiner">
                <div class="centerd-div"><span class="no-data">Series Are'nt Created Yet!</span></div>
            </div>
            <div *ngFor="let series of series_list" class="series-list">
                <div class="c-pointer series-box" (click)="seriesBoxClick(series)"
                    [ngClass]="{'active-series' : series?.active}">
                    <div class=" p-t-10 series-name-container">
                        <p class="m-b-0  series-name">
                            {{series.name}}</p>
                    </div>
                    <div class="p-relative col-md-3 s-list  subscriber-drop-down j-space m-text"
                        (click)="idListOpen = !idListOpen">
                        <div class="d-flex align-center drop-down">
                            <div class="p-l-7">
                                <div class="no-close s-list  m-text f-w-400 c-pointer flex-1">
                                    <span
                                        *ngIf="!selectedQuestions[series.name] && newSeriesCreated && !series.questionId"
                                        (click)="fetchQuestions()" class="choose f-s-14">
                                        Choose Questions</span>
                                </div>
                                <div *ngIf="selectedQuestions[series.name]" class="choose f-s-14">
                                    {{ selectedQuestions[series.name].name }}
                                </div>
                                <div *ngIf="refreshed && !selectedQuestions[series.name] && series.questionId"
                                    class="choose f-s-14">{{
                                    series.questionName }}</div>
                            </div>
                            <div class="no-close  s-list c-pointer m-b-2 flex-1 d-flex j-end align-end sub p-r-17"><i
                                    class="no-close s-list fa fa-chevron-down s-text"></i>
                            </div>
                        </div>
                        <div class=" m-b-2 drop-list"
                            *ngIf="idListOpen && series.active &&  !(!selectedQuestions[series.name] && series.questionId)">
                            <div (click)="selectQuestion(question.questionId,question.questionName);assignQuestion()"
                                *ngFor="let question of questions_list"
                                class=" p-t-5 p-b-5 p-l-17 c-pointer drop-list-item">
                                {{question.questionName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="d-flex approve j-space">
    <input type="text" placeholder="Average score" id="averageScore">
    <button class="button" (click)="approve()">Approve</button>
</div>
<div class="details-body p-t-10 ">
    <div class="d-flex">
        <div class="barcodes-ctn p-r-3">
            <div class="item-box p-20">
                <div class="text-center flex-column align-center c-pointer">
                    <div class="barcode-parent text-center">
                        <button class="series-btn" (click)=" createSeries()">Create Series</button>
                    </div>
                </div>
            </div>
            <div class="item-box p-20 m-t-10 item-series-box">
                <ng-container *ngFor="let series of series_list">
                    <div class="text-center flex-column align-center j-center c-pointer series-box"
                        (click)="seriesBoxClick(series)" [ngClass]="{'active-series' : series?.active}">
                        <div class="d-flex w-100 align-center j-center">
                            <p class="m-b-0 p-t-10 p-b-5 m-text series-name m-r-10">
                                {{series.name}}
                        </div>
                        <div>
                            <div class="name-dropdown p-relative col-md-3 s-list d-flex subscriber-drop-down j-space m-text align-center"
                                (click)="idListOpen = !idListOpen">
                                <div class="no-close s-list m-r-10 m-text m-b-2 f-w-400 c-pointer h-min sub flex-1">
                                    <span
                                        *ngIf="!selectedQuestions[series.name] && newSeriesCreated && !series.questionId"
                                        (click)="fetchQuestions()">
                                        Select Questions</span>
                                </div>
                                <div *ngIf="selectedQuestions[series.name]">
                                    {{ selectedQuestions[series.name].name }}
                                </div>
                                <div *ngIf="refreshed && !selectedQuestions[series.name] && series.questionId">{{
                                    series.questionName }}</div>
                                <div class="no-close  s-list c-pointer m-b-2 flex-1 d-flex j-end align-end sub"><i
                                        class="no-close s-list fa fa-chevron-down s-text"></i>
                                </div>
                                <div class=" m-b-2 drop-list"
                                    *ngIf="idListOpen && series.active &&  !(!selectedQuestions[series.name] && series.questionId)">
                                    <div (click)="selectQuestion(question.questionId,question.questionName);assignQuestion()"
                                        *ngFor="let question of questions_list" class=" p-t-5 p-b-5 p-l-8 c-pointer">
                                        {{question.questionName}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class=" details-area">
            <div class="m-b-10 candidate-box p-l-15 p-r-15 p-t-10 p-b-10">
                <div class="w-100 notreceived">
                    <p class="candidates-heading">Candidates</p>
                    <div class="row d-flex">
                        <div *ngFor="let candidate of candidates_list let i = index"
                            class="min-150 mx-150 p-r-15 m-t-10 j-center text-center p-l-15 m-l-5 c-pointer"
                            draggable="true" (dragstart)="dragStart($event, candidate)" (dragover)="dragOver($event)"
                            (drop)="productDrop($event, activeSeries)">
                            <img src="assets/images/candidates.png" width="20px" height="25px" class="m-b-5 m-t-2 ">
                            <p>Team: {{candidate.candidateFirstName}}</p>
                            <p>Service: {{candidate.candidateEmail}}</p>
                            <p>Service Id: {{candidate.serviceId}}</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item-box p-20 m-t-10">
                <ng-container *ngFor="let series of series_list">
                    <div class="text-center flex-column align-center j-center c-pointer series-box"
                        (click)="seriesBoxClick(series)" [ngClass]="{'active-series' : series?.active}"
                        (dragover)="allowDrop($event)" (drop)="productDrop($event,series)">
                        <div class="w-100 align-center j-center">
                            <p class="m-b-0 p-t-10 p-b-5 m-text series-name m-r-10">{{series.name}}</p>
                            <div *ngIf="series.candidates && series.candidates.length > 0" class="d-flex">
                                <div *ngFor="let candidate of series.candidates" draggable="true"
                                    (dragstart)="dragStart($event, candidate)" (dragover)="dragOver($event)"
                                    (drop)="productDrop($event, series)" class="p-10">
                                    <div class="candidate-detail">
                                        <img class="p-l-20" src="assets/images/candidates.png" width="25px"
                                            height="30px">
                                        <span class="p-5">Team: {{candidate.candidateFirstName}}</span>
                                        <span class="p-5">Service: {{candidate.candidateEmail}}</span>
                                        <button *ngIf="candidate.progressScore == null || !candidate.progressScore"
                                            class="btn btn-primary c-pointer m-l-10"
                                            (click)="resultClick(candidate, candidate.serviceId)">Add Result</button>
                                        <span class="p-5"
                                            *ngIf="candidate.progressScore  && candidate.progressScore !== null">Score:
                                            {{candidate.progressScore}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="toggle">
            <div *ngIf="isTaskDetailsOpen" class="slide-arrow-right c-pointer xxl-text fw-500"
                (click)="toggleTaskDetails()">
                <img src="assets/images/icons8-chevron-right-24.png" alt="" srcset="">
            </div>
            <div *ngIf="!isTaskDetailsOpen" class="slide-arrow-left c-pointer xxl-text fw-500"
                (click)="toggleTaskDetails()">
                <img src="assets/images/icons8-chevron-left-24.png" alt="" srcset="">
            </div>
        </div>
        <div [@toggleAnimation]="isTaskDetailsOpen ? 'visible' : 'hidden'" class="task-details-area">
        </div>
    </div>
</div> -->