.title {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.name {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  
}

.body {
    margin-top: 15px;
    width: 98%;
}

.candidates-list {
    height: 281px;
    border: 1px solid #575F6E;
    border-radius: 2px;
    overflow-y: scroll;
}

.no-data {
    font-size: 23px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    color: #C10A0A;
}

.parent-conatiner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}

.child1 {
    width: 73%;
    border: 1px solid #575F6E;
    border-radius: 2px;
    overflow-y: scroll;
}

.child2 {
    width: 25%;
    border: 1px solid #575F6E;
    border-radius: 2px;
    overflow-y: scroll;
}

.questions {
    height: 520px;
}

.title-child1 {
    width: 97%;
}

.input {
    border: 1px solid #E9E9E9;
    outline: none;
    border-right: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 327px;
    height: 33px;
    padding-right: 10px;
    color: #000000;
}

.approve {
    height: 35px;
    border: none;
    background-color: #575F6E;
    color: white;
    border-radius: 3px;
    border-left: none;
}

.series-btn {
    width: 84%;
    height: 35px;
    margin-top: 13px;
    border: 1px solid #575F6E;
    border-radius: 4px;
    background-color: white;
    color: #575F6E;
    font-weight: 400;
}

.series-box {
    width: 328px;
    background: #848E9F;
    border-radius: 2px;
    height: 97px;

}

.series-list {
    margin-left: 17px;
    padding-left: 15px;
    margin-top: 10px;
}


.series-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}


.drop-down {
    width: 84%;
    padding-left: 13px;
    background-color: white;
    height: 34px;
    margin-left: 18px;
    margin-top: 8px;
}

.drop-list {
    background-color: white;
    width: 284px;
    margin-left: 17px;
    margin-top: 5px;
    height: 137px;
    overflow-y: scroll;
    line-height: 24px;
    padding-left: 9px;
}

.drop-list-item {
    border-bottom: 1px solid #F4F2F2;
    color: #575F6E;
}

.choose {
    color: #575F6E;
}

.candidate-box {
    width: 259px;
    border-right: 1px solid #D7D7D7;
    padding-left: 18px;
    /* margin-top: 17px; */
    margin-bottom: 19px;
}


.candidate-name {
    color: #005EC9;
    font-weight: 500;
    font-size: 18px;
}

.assign {
    border-radius: 3px;
    background: #005EC9;
    color: white;
    border: none;
    height: 30px;
    width: 68px;
}

.flex-column {
    flex-direction: column;
}

.candidates {
    height: 225px;
    margin-left: 10px;
    border: 1px solid #E3E0E0;
    width: 96% !important;
    overflow-y: scroll;
}

.body-child1 {
    width: 100%;
    margin-left: 17px;
    overflow-y: scroll;
    height: 444px;
}

.candidate-box-child1 {
    width: 251px;
    padding-top: 23px;
    padding-left: 18px;
}

.result {
    width: 91px;
    border-radius: 3px;
    background: #005EC9;
    color: white;
    border: none;
    height: 30px;
}

.info-pair {
    display: flex;
    justify-content: space-between;
    width: 284px;
}

.key {
    color: #575F6E;
    width: 83px;
}

.value {
    flex: 1;
    color: #575F6E;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.assign-child1 {
    border-radius: 3px;
    background: #575F6E;
    color: white;
    border: none;
    height: 30px;
    width: 91px;
}

.candidate-name-child1{
    color: #575F6E;
    font-weight: 500;
    font-size: 18px;
}

.series-name-child1{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    color: #005EC9;
    margin-left: 9px;
}