<div class="main">
    <p class="title m-t-17 m-l-9">Written Station</p>
    <div class="body m-l-13">
        <div class="candidates-list p-l-19">
            <p class="name p-t-10">Candidates</p>
            <div *ngIf="candidates_list?.length === 0 || !candidates_list" class="parent-conatiner">
                <div class="centerd-div m-b-29"><span class="no-data">No Candidates To Add</span></div>
            </div>
            <div class="d-flex  flex-wrap" *ngIf="candidates_list?.length > 0">
                <div *ngFor="let candidate of candidates_list" class=" candidate-box">
                    <p class="candidate-name">{{candidate.candidateFirstName}}</p>
                    <div class="info-container">
                        <div class="info-pair">
                            <div class="key">Designation</div>
                            <div class="value">: {{candidate.candidateFirstName}}</div>
                        </div>
                        <div class="info-pair">
                            <div class="key">Team</div>
                            <div class="value">: {{candidate.candidateFirstName}}</div>
                        </div>
                        <div class="info-pair">
                            <div class="key">Skills</div>
                            <div class="value">: {{candidate.candidateLastName}}</div>
                        </div>
                        <div class="info-pair">
                            <div class="key">Email</div>
                            <div class="value">: {{candidate.candidateEmail}}</div>
                        </div>
                    </div>
                    <button class="assign" (click)="openAssignModal(candidate,activeSeries)">Assign</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex body j-space m-l-14 questions">
        <div class="child1">
            <div class="name  d-flex p-t-23 p-l-17 j-space title-child1">
                <p>Questions To Be Assigned</p>
                <div class="title-right" *ngIf="candidates_list?.length > 0 || !allCandidatesHaveScores()">
                    <input type="text" placeholder="Enter the average score" id="averageScore" class="input p-l-10">
                    <button class="approve" (click)="approve()">Approve</button>
                </div>
            </div>
            <div class="body-child1">
                <div *ngIf="series_list?.length === 0 || !series_list" class="parent-conatiner">
                    <div class="centerd-div"><span class="no-data">Candidates are'nt assigned to any series</span></div>
                </div>
                <ng-container *ngFor="let series of series_list">
                    <div class=" flex-column  j-center c-pointer" (click)="seriesBoxClick(series)"
                        [ngClass]="{'active-series' : series?.active}">
                        <!-- <p class="m-b-0 p-t-10 p-b-5  series-name-child1 m-r-10">Series 1</p> -->
                        <p *ngIf="series.questionName" class="m-b-0 p-t-10 p-b-5  series-name-child1 m-r-10">{{series.questionName}}</p>
                        <p class="m-b-0 p-t-10 p-b-5  series-name-child1 m-r-10">{{series.name}}</p>
                        <div class="  j-center candidates">
                            <!-- <p class="m-b-0 p-t-10 p-b-5  series-name m-r-10">{{series.name}}</p> -->
                            <div *ngIf="series.candidates && series.candidates?.length > 0" class="d-flex flex-wrap">
                                <div *ngFor="let candidate of series.candidates" class=" candidate-box-child1">
                                    <p class="candidate-name-child1">{{candidate.candidateFirstName}}</p>
                                    <div class="info-container">
                                        <div class="info-pair">
                                            <div class="key">Designation</div>
                                            <div class="value">: {{candidate.candidateFirstName}}</div>
                                        </div>
                                        <div class="info-pair">
                                            <div class="key">Team</div>
                                            <div class="value">: {{candidate.candidateFirstName}}</div>
                                        </div>
                                        <div class="info-pair">
                                            <div class="key">Skills</div>
                                            <div class="value">: {{candidate.candidateLastName}}</div>
                                        </div>
                                        <div class="info-pair">
                                            <div class="key">Email</div>
                                            <div class="value">: {{candidate.candidateEmail}}</div>
                                        </div>
                                    </div>
                                    <div class="d-flex m-t-12">
                                        <button class="result"
                                            *ngIf="candidate.progressScore == null || !candidate.progressScore"
                                            (click)="resultClick(candidate, candidate.serviceId)">Add Result</button>
                                        <span class="score"
                                            *ngIf="candidate.progressScore  && candidate.progressScore !== null">Score:{{candidate.progressScore}}</span>
                                        <button *ngIf="!candidate.progressId" class="assign-child1 m-l-10"
                                            (click)="openAssignModal(candidate,series)">Assign</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="child2">
            <div class="barcode-parent text-center m-t-14">
                <button class="series-btn f-s-14" (click)="createSeries()">Create Series</button>
            </div>
            <div *ngIf="series_list?.length === 0" class="parent-conatiner">
                <div class="centerd-div" ><span class="no-data">Series Are'nt Created Yet!</span></div>
            </div>
            <div *ngFor="let series of series_list" class="series-list">
                <div class="c-pointer series-box" (click)="seriesBoxClick(series)"  *ngIf="!selectedQuestions[series.name] && newSeriesCreated && !series.questionId"
                    [ngClass]="{'active-series' : series?.active}">
                    <div class=" p-t-10 series-name-container">
                        <p class="m-b-0  series-name">
                            {{series.name}}</p>
                    </div>
                    <div class="p-relative col-md-3 s-list  subscriber-drop-down j-space m-text"
                        (click)="idListOpen = !idListOpen">
                        <div class="d-flex align-center drop-down">
                            <div class="p-l-7">
                                <div class="no-close s-list  m-text f-w-400 c-pointer flex-1"  (click)="fetchQuestions()">
                                    <span
                                        *ngIf="!selectedQuestions[series.name] && newSeriesCreated && !series.questionId"
                                        class="choose f-s-14">
                                        Choose Questions</span>
                                </div>
                                <div *ngIf="selectedQuestions[series.name]" class="choose f-s-14">
                                    {{ selectedQuestions[series.name].name }}
                                </div>
                                <!-- <div *ngIf="refreshed && !selectedQuestions[series.name] && series.questionId"
                                    class="choose f-s-14">{{
                                    series.questionName }}</div> -->
                            </div>
                            <div class="no-close  s-list c-pointer m-b-2 flex-1 d-flex j-end align-end sub p-r-17"><i
                                    class="no-close s-list fa fa-chevron-down s-text"></i>
                            </div>
                        </div>
                        <div class=" m-b-2 drop-list"
                            *ngIf="idListOpen && series.active &&  !(!selectedQuestions[series.name] && series.questionId)">
                            <div (click)="selectQuestion(question.questionId,question.questionName);assignQuestion()"
                                *ngFor="let question of questions_list"
                                class=" p-t-5 p-b-5 p-l-17 c-pointer drop-list-item">
                                {{question.questionName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



