<div class="m-10">
    <div class="d-flex j-space m-b-10">
        <div class="flex-grow-1 m-b-10">
            <span class="f-s-20 f-w-500 p-t-5">Interview Lists (Latest)</span>
        </div>     
        <div class="date-filters m-l-10 m-b-10 j-end">
            <div class="d-flex ">
                <span class="filter p-r-10 p-t-10">From</span>
                <div class="p-relative">
                    <input class="p-l-5 date-input c-pointer  " matInput [matDatepicker]="pickerFromDate"
                        [value]="startDate | date: 'dd/MM/YYY'" id="startDate" [max]="today"
                        (dateChange)="dateChange($event, 'startDate')" [ngModel]="startDate"
                        (click)="pickerFromDate.open()">
                    <mat-datepicker #pickerFromDate></mat-datepicker>
                    <i class="fa fa-calendar-o c-pointer p-absolute filter-icon" aria-hidden="true"
                        (click)="pickerFromDate.open()"></i>
                </div>
            </div>
            <div class="d-flex">
                <span class="filter p-l-10 p-r-10 p-t-10">To</span>
                <div class="p-relative">
                    <input class="p-l-5 date-input c-pointer  " placeholder="29/02/11" matInput
                        [matDatepicker]="pickerToDate" (dateChange)="dateChange($event, 'endDate')" [ngModel]="endDate"
                        (click)="pickerToDate.open()" [value]="endDate | date: 'dd/MM/YYY'" id="endDate" [min]="startDate">
                    <mat-datepicker #pickerToDate></mat-datepicker>
                    <i class="fa fa-calendar-o c-pointer p-absolute filter-icon" aria-hidden="true"
                        (click)="pickerToDate.open()"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="main m-t-10">
        <div class="container-table w-100">
            <table class="">
                <tr class="table-header">
                    <td class="id-col text-end" title="Candidate ID">Candidate ID</td>
                    <td class="name-col" title="Name">Name</td>
                    <td class="text-start" title="Email">Email</td>
                    <td class="text-start" title="Requiremnt">Requirement</td>
                    <td class="text-start" title="Review Status">Review Status</td>
                    <td class="text-start" title="Service Status">Service Status</td>
                    <td class="text-start" title="Candidate Station">Candidate Station</td>
                    <td class="text-start more" title="More Detail">Recruiter</td>
                    <td class="text-end" title="Date">Date</td>
                </tr>
                <div *ngIf="loader && !initialLoader" class="loader-parent">
                    <img src="assets/gif/loader.gif">
                </div>
                <ng-container *ngIf="candidateList?.length > 0">
                    <ng-container *ngFor="let item of candidateList">
                        <tr class="candidate c-pointer" (dblclick)="selectCandidate(item['candidate.candidateId'])">
                            <td class="text-end">{{ item['candidate.candidateId'] }}</td>
                            <td class="text-start"
                                [title]="item['candidate.candidateFirstName'] +' '+ item['candidate.candidateLastName']">
                                {{ item['candidate.candidateFirstName'] }} {{ item['candidate.candidateLastName'] }}
                            </td>
                            <td class="text-start" [title]="item['candidate.candidateEmail'] ">{{
                                item['candidate.candidateEmail'] }}</td>
                            <td class="text-start" [title]="item['serviceRequest.requestName']">{{
                                item['serviceRequest.requestName'] }}</td>
                            <td class="f-w-500 text-start"
                                [ngClass]="{'orange': item?.progressStatus === '0' && item?.serviceStatus !== 'done', 'green': item?.progressStatus !== '0' || item?.serviceStatus === 'done'}">
                                {{ item?.progressStatus === '0' && item?.serviceStatus !== 'done' ? 'Pending' : 'Added'
                                }}
                            </td>
                            <td>
                                <span class="f-w-500 text-start" [ngClass]="{'orange': item?.serviceStatus === 'pending','green': item?.serviceStatus === 'done',
                                    'red': item?.serviceStatus === 'rejected'}"
                                    [title]="item?.serviceStatus | titlecase">{{ item?.serviceStatus |
                                    titlecase}}</span>
                            </td>
                            <td class="text-start" [title]="item?.currentStation | titlecase">{{item?.currentStation|
                                titlecase}}</td>
                            <td class="text-start" [title]="item['scheduledBy.userfirstName'] | titlecase">
                                {{item['scheduledBy.userfirstName']| titlecase}}</td>
                            <td class="text-end">{{item?.serviceDate | date : 'dd/MM/YYY'}}</td>
                        </tr>
                    </ng-container>
                </ng-container>
                <div *ngIf="(candidateList?.length === 0 || !candidateList) && !loader && !initialLoader " class="data">
                    No Data Found
                </div>
                <div *ngIf="initialLoader" class="row m-l-20 initial-loader">
                    <div *ngFor="let item of [0,1,2,3,4,5]" class="m-t-10 m-b-10">
                        <div class="gravatar-title">
                            <div><ngx-skeleton-loader [theme]="{
                                width: '900px',
                                'border-radius': '0',
                                height: '15px',
                                'margin-bottom': '10px'
                                }"></ngx-skeleton-loader>
                            </div>
                            <div>
                                <ngx-skeleton-loader
                                    [theme]="{ width: '1300px', 'border-radius': '0', height: '15px' }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
            </table>
        </div>
        <app-pagination [totalCount]="totalCount" [pageSize]="limit" [lastPage]="lastPage"
            [currentPage]="currentPage" (pageChange)="fetchUserList($event)"></app-pagination>
        <!-- <app-pagination [totalCount]="totalCount" [pageSize]="pageSize" [lastPage]="lastPage"
            [currentPage]="currentPage" (pageChange)="fetchCandidateList($event)"></app-pagination> -->
        <!-- <div class="page d-flex j-end p-10">
            <button *ngIf="currentPage !== 1" class="box c-pointer" (click)="onPageChange(1)">
                <img src="assets/images/double-arrow-left-icon.svg" alt="" height="14px" width="14px">
            </button>
            <button *ngIf="currentPage === 1" class="box p-r-20 m-r-10">
                <img src="assets/images/inactive-double-arrow-left.svg" alt="" height="23px" width="23px">
            </button>
            <ng-container *ngFor="let page of generatePageNumbers()">
                <button *ngIf="page === '...'" class="box dot" disabled>...</button>
                <button *ngIf="page !== '...' && page === currentPage" class="box current-page c-pointer">{{ page
                    }}</button>
                <button *ngIf="page !== '...' && page !== currentPage" class="box c-pointer"
                    (click)="onPageChange(page)">{{ page }}</button>
            </ng-container>
            <button *ngIf="currentPage < lastPage" class="box c-pointer" (click)="onPageChange(lastPage)">
                <img src="assets/images/double-arrow-right-icon.svg" alt="" height="14px" width="14px">
            </button>
            <button *ngIf="currentPage === lastPage" class="box">
                <img src="assets/images/inactive-double-arrow-right.svg" alt="" height="23px" width="23px">
            </button>
        </div> -->
    </div>
</div>