<div class="main">
    <div class="d-flex head j-space p-b-10">
        <div>
            <span class="heading">Detailed Recruitment Report - </span><span class="p-l-5 recruiter-name"
                *ngIf="selectedRecruitername.trim() === ''"> All</span>
            <span class="p-l-5 recruiter-name" *ngIf="selectedRecruitername.trim() !== ''">
                {{selectedRecruitername}}</span>
        </div>
        <div>

            <!-- <span class="filter p-r-10 p-t-10 p-b-5">File Recruiter</span>
                <div class="input no-close text col-md-3 p-l-8 d-flex recruiter-drop-down j-space m-text align-center p-relative text-color"
                    (click)="recruitersListOpen = !recruitersListOpen">
                    <div>{{selectedRecruitername ? selectedRecruitername : 'Choose Recruiter'}}</div>
                    <div class="no-close s-list c-pointer m-b-2 flex-1 d-flex j-end sub p-r-10">
                        <span class="f-right">
                            <span *ngIf="selectedRecruitername && selectedRecruitername !== ''" (click)="clearFilter()" class="clear-filter">x</span>
                            <span  (click)="recruitersListOpen = !recruitersListOpen"><i class="p-l-8 p-r-10 fa fa-chevron-down no-close'"></i></span>
                        </span>  
                    </div>
                    <div class=" m-b-2 drop-list" *ngIf="recruitersListOpen">
                        <div (click)="selectedRecruiter(item.userId,item.userFullName);recruitersListOpen = !recruitersListOpen"
                            *ngFor="let item of recruitersList" class=" p-t-5 p-b-5 p-l-8 c-pointer text-color">
                            {{item?.userFullName}}</div>
                    </div>
                </div> -->
            <span class="c-pointer d-flex">
                <span class="p-8">
                    <input type="radio" id="position" name="filter" value="position" [checked]="true"
                        (change)="onRadioChange($event)">
                    <label for="position" class="p-l-5">Requirement</label>
                </span>
                <span class="p-8">
                    <input type="radio" id="user" name="filter" value="user" (change)="onRadioChange($event)">
                    <label for="user" class="p-l-5">Recruiter</label>
                </span>
                <div class="export-btn" (click)="exportData()">
                    <span>Export</span>
                </div>
            </span>
        </div>
    </div>
    <div class="table-container m-b-0">
        <table class="table">
            <tr class="table-header f-w-500 p-b-10">
                <td class="text">Select</td>
                <td class="text" [title]="selectedDataBy === 'user' ? 'Recruiter' : 'Requisition'">{{selectedDataBy
                    === 'user' ? 'Recruiter' : 'Requisition'}}</td>
                <td class="" title="Total Applicants">Total Applicants</td>
                <td class="" title="Screening Rejected">Screening Rejected</td>
                <td class="" title="Technical 1 Rejected">Technical 1 Rejected</td>
                <td class="" title="technical 2 Rejected">Technical 2 Rejected</td>
                <td class="" title="Selected from technical round">Selected from technical round</td>
                <td class="" title="HR Rejected">HR Rejected</td>
                <td class="" title="Offer Released">Offer Released</td>
                <td class="" title="Hired">Hired</td>
            </tr>
            <!-- <div class="loader-parent">
                <img src="assets/gif/loader.gif">
            </div> -->
            <ng-container>
                <ng-container *ngFor="let item of  candidateList">
                    <tr class="c-pointer details" (dblclick)="selectCandidate(item['candidate.candidateId'])">
                        <td><input type="checkbox" [(ngModel)]="item.isSelected" (change)="getSelectedCandidateIds()">
                        </td>
                        <td class="text-wrp">{{item?.userfirstName ? item?.userfirstName : item?.requestName}}</td>
                        <td class="text-wrp">{{item?.total_totalsourced ? item?.total_totalsourced : ' '}}</td>
                        <td class="text-wrp">{{item?.total_screenrejected ? item?.total_screenrejected : ' '}}</td>
                        <td class="text-wrp">{{item?.total_techonereject ? item?.total_techonereject : ' '}}</td>
                        <td class="text-wrp">{{item?.total_techtworeject ? item?.total_techtworeject : ' '}}</td>
                        <td class="text-wrp">{{item?.total_technicalselected ? item?.total_technicalselected : ' '}}
                        </td>
                        <td class="text-wrp">{{item?.total_hrreject ? item?.total_hrreject : ' '}}</td>
                        <td class="text-wrp">{{item?.total_offerreleased ? item?.total_offerreleased : ' '}}</td>
                        <td class="text-wrp">{{item?.total_hired ? item?.total_hired : ' '}}</td>
                    </tr>
                </ng-container>
            </ng-container>
            <!-- <div *ngIf="candidateList?.length === 0" class="no-data">No Data Found</div> -->
        </table>
        <div *ngIf="candidateList?.length === 0" class="no-data">No Data Found</div>
    </div>
    <div class="page d-flex j-end p-10">
        <button *ngIf="currentPage !== 1" class="box c-pointer" (click)="onPageChange(1)">
            <img src="assets/images/double-arrow-left-icon.svg" alt="" height="14px" width="14px">
        </button>
        <button *ngIf="currentPage === 1" class="box p-r-20 m-r-10">
            <img src="assets/images/inactive-double-arrow-left.svg" alt="" height="23px" width="23px">
        </button>
        <ng-container *ngFor="let page of generatePageNumbers()">
            <button *ngIf="page === '...'" class="box dot" disabled>...</button>
            <button *ngIf="page !== '...' && page === currentPage" class="box current-page c-pointer">{{ page
                }}</button>
            <button *ngIf="page !== '...' && page !== currentPage" class="box c-pointer" (click)="onPageChange(page)">
                {{page}}</button>
        </ng-container> <button *ngIf="currentPage < lastPage" class="box c-pointer" (click)="onPageChange(lastPage)">
            <img src="assets/images/double-arrow-right-icon.svg" alt="" height="14px" width="14px">
        </button>
        <button *ngIf="currentPage === lastPage" class="box">
            <img src="assets/images/inactive-double-arrow-right.svg" alt="" height="23px" width="23px">
        </button>
    </div>
</div>