.main {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px 0px #0000001A;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    margin-top: 30px;
    margin-right: 10px;

}

.filter {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.96px;
    color: #4F4F4F;
}

.head {
    padding: 10px;
}

.heading {
    color: #000000;
    font-weight: 500;
    line-height: 26.07px;
    font-size: 18px;
}

.text-color {
    color: #4F4F4F;
}

.recruiter-name {
    color: #0034C4;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.input {
    border: 1px solid #E9E9E9;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 173px;
    height: 33px;
}

.arrow {
    color: #4F4F4F;
    position: relative;
    top: 5%;
    right: 11%;
}

.clear-filter {
    padding: 0px 4px;
    border: 1px solid #3c40434d;
    border-radius: 50%;
}

.drop-list {
    background: white;
    box-shadow: #3c40434d 0 1px 2px, #3c404326 0 1px 3px 1px;
    max-height: 150px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    top: 100%;
    left: 0;
}

.text-box {
    height: 30px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 4px 8px;
    outline: none;
}

.recruiter-drop-down {
    width: 200px;
    margin-right: 10px;
}

.no-data {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #525455;
    width: 100%;
    padding-top: 20px;
    /* padding: 50% 300%; */
}

.fa-chevron-down {
    color: #525455;
}

.box {
    height: 26px;
    width: 26px;
    border: none;
    background-color: white;
}

.page {
    margin: 10px;
}

.current-page {
    background-color: #005EC9;
    color: #FFFFFF;
    height: 26px;
    width: 26px;
}

.dot {
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.scrollable::-webkit-scrollbar,
.table-container::-webkit-scrollbar {
    display: none;
}

.scrollable,
.table-container {
    scrollbar-width: none;
    /* For Firefox */
}

.scrollable,
.table-container {
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.j-end {
    display: flex;
    justify-content: flex-end;
}

.details:hover {
    background-color: #D3E8FF;
  }

.requisition-col{
    width: 19%;
}

.applicants-col{
    background-color: #E4F6FF;
}

.technical-col{
    background-color: #DFFFF0;
}

.offer-col{
    background-color: #FFEBEB;
}

.hired-col{
    background-color: #E4F6FF;
}