.pagination {
    position: sticky;
}

.main {
    width: 100%;
    margin-right: 21px;
    margin-top: 22px;
    background-color: #FFFFFF;

}

tr:nth-child(odd) {
    background-color: #F0F7FF;
}

td {
    padding: 10px;
    text-align: left;
}

tr {
    text-align: left;
}

.table-header {
    position: sticky;
    top: 0;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9),
        linear-gradient(0deg, #F0F7FF, #F0F7FF);
    Padding: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.table-container {
    height: calc(100vh - 450px);
    overflow-y: auto;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.filter {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.96px;
    color: #4F4F4F;
}

.head {
    padding: 10px;
}

.heading {
    color: #000000;
    font-weight: 500;
    line-height: 26.07px;
    font-size: 22px;
}

.recruiter-name {
    color: #0034C4;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}

.input {
    border: 1px solid #E9E9E9;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 173px;
    height: 33px;
}

.arrow {
    color: #4F4F4F;
    position: relative;
    top: 5%;
    right: 11%;
}

.drop-list {
    background: white;
    box-shadow: #3c40434d 0 1px 2px, #3c404326 0 1px 3px 1px;
    max-height: 150px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 400;
    width: 292px;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    top: 100%;
    left: 0;
}

.text-box {
    height: 30px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 4px 8px;
    outline: none;
}

.recruiter-drop-down {
    width: 200px;
    margin-right: 10px;
}

.no-data {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #525455;
    width: 100%;
    padding: 50% 300%;
}

.fa-chevron-down {
    color: #525455;
}