<div class="main">
    <div class="d-flex head j-space p-b-10">
        <div>
            <span class="heading">Detailed Recruitment Report</span><span class="p-l-5 recruiter-name"
                *ngIf="selectedRecruitername.trim() === ''"></span>
            <span class="p-l-5 recruiter-name" *ngIf="selectedRecruitername.trim() !== ''">
                {{selectedRecruitername}}</span>
        </div>
        <div>
            <span class="c-pointer d-flex">
                <span class="p-8">
                    <input type="radio" id="position" name="filter" value="position" [checked]="true"
                        (change)="onRadioChange($event)">
                    <label for="position" class="p-l-5">Requirement</label>
                </span>
                <span class="p-8">
                    <input type="radio" id="user" name="filter" value="user" (change)="onRadioChange($event)">
                    <label for="user" class="p-l-5">Recruiter</label>
                </span>
                <div class="export-btn" (click)="exportData()">
                    <span>Export</span>
                </div>
            </span>
        </div>
    </div>
    <div class="">
        <table class="table">
            <tr class="table-header">
                <!-- <td class="text">Select</td> -->
                <td class="text-center requisition-col" [title]="selectedDataBy === 'user' ? 'Recruiter' : 'Requisition'">{{selectedDataBy
                    === 'user' ? 'Recruiter' : 'Requisition'}}</td>
                <td class="text-center" title="Total Applicants">Total Applicants</td>
                <td class="text-center" title="Screening Rejected">Screening Rejected</td>
                <td class="text-center" title="Technical 1 Rejected">Technical 1 Rejected</td>
                <td class="text-center" title="technical 2 Rejected">Technical 2 Rejected</td>
                <td class="text-center" title="Selected from technical round">Selected from technical round</td>
                <td class="text-center" title="HR Rejected">HR Rejected</td>
                <td class="text-center" title="Offer Released">Offer Released</td>
                <td class="text-center" title="Hired">Hired</td>
            </tr>
            <!-- <div class="loader-parent">
                <img src="assets/gif/loader.gif">
            </div> -->
            <ng-container>
                <ng-container *ngFor="let item of  candidateList">
                    <tr class="c-pointer details" (dblclick)="selectCandidate(item['candidate.candidateId'])">
                        <!-- <td><input type="checkbox" [(ngModel)]="item.isSelected" (change)="getSelectedCandidateIds()">
                        </td> -->
                        <td class="text-start">{{item?.userfirstName ? item?.userfirstName : item?.requestName}}</td>
                        <td class="text-end">{{item?.total_totalsourced ? item?.total_totalsourced : ' '}}</td>
                        <td class="text-end">{{item?.total_screenrejected ? item?.total_screenrejected : ' '}}</td>
                        <td class="text-end">{{item?.total_techonereject ? item?.total_techonereject : ' '}}</td>
                        <td class="text-end">{{item?.total_techtworeject ? item?.total_techtworeject : ' '}}</td>
                        <td class="text-end">{{item?.total_technicalselected ? item?.total_technicalselected : ' '}}
                        </td>
                        <td class="text-end">{{item?.total_hrreject ? item?.total_hrreject : ' '}}</td>
                        <td class="text-end">{{item?.total_offerreleased ? item?.total_offerreleased : ' '}}</td>
                        <td class="text-end">{{item?.total_hired ? item?.total_hired : ' '}}</td>
                    </tr>
                </ng-container>
            </ng-container>
            <!-- <div *ngIf="candidateList?.length === 0" class="no-data">No Data Found</div> -->
        </table>
        <div *ngIf="candidateList?.length === 0" class="no-data">No Data Found</div>
    </div>
    <div class="page d-flex j-end p-10">
        <button *ngIf="currentPage !== 1" class="box c-pointer" (click)="onPageChange(1)">
            <img src="assets/images/double-arrow-left-icon.svg" alt="" height="14px" width="14px">
        </button>
        <button *ngIf="currentPage === 1" class="box p-r-20 m-r-10">
            <img src="assets/images/inactive-double-arrow-left.svg" alt="" height="23px" width="23px">
        </button>
        <ng-container *ngFor="let page of generatePageNumbers()">
            <button *ngIf="page === '...'" class="box dot" disabled>...</button>
            <button *ngIf="page !== '...' && page === currentPage" class="box current-page c-pointer">{{ page
                }}</button>
            <button *ngIf="page !== '...' && page !== currentPage" class="box c-pointer" (click)="onPageChange(page)">
                {{page}}</button>
        </ng-container> <button *ngIf="currentPage < lastPage" class="box c-pointer" (click)="onPageChange(lastPage)">
            <img src="assets/images/double-arrow-right-icon.svg" alt="" height="14px" width="14px">
        </button>
        <button *ngIf="currentPage === lastPage" class="box">
            <img src="assets/images/inactive-double-arrow-right.svg" alt="" height="23px" width="23px">
        </button>
    </div>
</div>