<div class="main p-l-20">
    <p class="heading  m-t-12">Interview Details</p>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10" #recruiterNameDiv>
            <span class="label m-b-4">Recruiter Name</span>
            <div class="input-box p-t-10 p-l-9" (click)="showRecruiters = !showRecruiters;fetchUsers();">
                <span *ngIf="!recruiterName">Select Name</span>
                <span *ngIf="recruiterName">{{recruiterName}}</span>
                <span><i class="f-right p-r-10 fa fa-chevron-down s-text"></i></span>
            </div>
            <div class="no-close dropdown m-t-6 p-t-10 p-l-6" *ngIf="showRecruiters">
                <div *ngFor="let recruiter of users_list"
                    (click)="selectRecruiter(recruiter.userId,recruiter.userfirstName,recruiter.userlastName)">
                    {{recruiter.userfirstName}} {{recruiter.userlastName}}
                </div>
            </div>
        </div>

        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Interview Date & Time</span>
            <div class="p-relative ">
                <input class="p-l-9 input-box" placeholder="MM/DD/YY" matInput [matDatepicker]="pickerInterview"
                    (dateChange)="dateChange($event)" (click)="pickerInterview?.open()" [value]="scheduledDate" [min]="today">
                <span> <mat-datepicker #pickerInterview class=""></mat-datepicker>
                    <i class="fa fa-calendar-o c-pointer p-absolute calendar-icon" aria-hidden="true"
                        (click)="pickerInterview?.open()"></i>
                </span>
                <span><img class="p-absolute clock-icon" src="assets/images/clock.png" alt="" height="14px" width="14px"
                        [ngxTimepicker]="pickerTime" [format]="12" (timeSet)="timeChange($event)">
                    <ngx-material-timepicker #pickerTime (timeSet)="timeChange($event)"></ngx-material-timepicker>
                </span>
            </div>
        </div>
        <div class="child d-flex m-b-10" #positionDiv>
            <span class="label m-b-4">Position</span>
            <div class="input-box p-t-10 p-l-6" (click)="showDropdown = !showDropdown;fetchPosition()">
                <span *ngIf="!positionName">Select Position</span>
                <span *ngIf="positionName" class="p-l-9">{{positionName}}</span>
                <span><i class="f-right p-r-10 fa fa-chevron-down s-text"></i></span>
            </div>
            <div class="no-close dropdown m-t-6 p-t-10 p-l-6" *ngIf="showDropdown">
                <div *ngFor="let position of positionList"
                    (click)="selectPosition(position.requestId,position.requestName)">
                    {{position.requestName}}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex j-space parent">

        <div class="child d-flex m-b-10" #candidatenameDiv>
            <span class="label m-b-4">Candidate Name</span>
            <div class="input-box p-t-10 p-l-6" (click)="showcandidate = !showcandidate;fetchCandidates()">
                <span *ngIf="!candidateName">Select Name</span>
                <span *ngIf="candidateName" class="p-l-9">{{candidateName}}</span>
               
                <span><i class="f-right p-r-10 fa fa-chevron-down s-text"></i></span>
            </div>
            <div class="no-close dropdown m-t-6 p-t-10 p-l-6" *ngIf="showcandidate && positionId">
                <div *ngFor="let candidate of candidate_list"
                    (click)="selectCandidate(candidate.candidateId,candidate.candidateFirstName,candidate.candidateLastName,candidate)">
                    {{candidate.candidateFirstName}} {{candidate.candidateLastName}}
                </div>
            </div>
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Candidate Experience</span>
            <input type="text" class="input-box p-l-9" [value]="candidateExperience || ''">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4 ">Notice Period</span>
            <input type="text" class="input-box p-l-9" [value]="noticePeriod || ''" id="noticePeriod">
        </div>
    </div>
    <div class="d-flex j-space parent">

        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Current Company</span>
            <input type="text" class="input-box" [value]="currentCompany || ''">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Location</span>
            <input type="text" class="input-box p-l-9" id="location" [value]="locationValue || ''">
        </div>

        <div class="child d-flex m-b-10" #panelDiv>
            <span class="label m-b-4">Panel</span>
            <div class="input-box p-t-10 p-l-6" (click)="showPanel = !showPanel; fetchPanel();">
                <span *ngIf="!panelName">Select Name</span>
                <span *ngIf="panelName" class="p-l-9">{{panelName}}</span>
                <span><i class="f-right p-r-10 fa fa-chevron-down s-text"></i></span>
            </div>
            <div class="no-close dropdown  p-b-7 p-l-6" *ngIf="showPanel">
                <div *ngFor="let panel of panel_list "
                    (click)="selectPanel(panel.userId,panel.userfirstName,panel.userlastName)">
                    {{panel.userfirstName}} {{panel.userlastName}}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Mode</span>
            <input type="text" class="input-box p-l-9" id="mode" [value]="modeValue || ''">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Interview Status</span>
            <input type="text" class="input-box p-l-9" id="interviewStatus" [value]="interviewStatus || ''">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Candidate Status</span>
            <input type="text" class="input-box p-l-9" id="candidateStatus">
        </div>
    </div>

    <div class="child d-flex m-b-10">
        <span class="label m-b-4">Comments</span>
        <textarea class="comments p-l-9 p-t-6" id="comments"></textarea>
    </div>
    <div class="d-flex f-right submit-btn j-end">
        <button class="cancel-btn m-r-10 c-pointer" (click)="cancel()">Cancel</button>
        <button class="save m-l-10 c-pointer" (click)="submit()">Save</button>
    </div>
</div>