.main {
    margin: 15px 20px 10px 10px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9
}

.heading {
    width: 249px;
    height: 25px;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    margin: 15px 0px 15px 0px;
}

.input-box {
    width: 95%;
    height: 34px;
    border-radius: 5px;
    background: #FAFAFA;
    outline: none;
    border: 1px solid #E9E9E9;
    padding-left: 6px;
    padding-top: 10px;
}

.child {
    flex-direction: column;
    flex: 1;
}

.label {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.calendar-icon {
    color: gray;
    Width: 18px;
    Height: 18px;
    margin-left: -38px;
    top: 13px;
}

.comments {
    height: 85px;
    margin-bottom: 12px;
    border-radius: 3px;
    border: 1px;
    outline: none;
    background: #FAFAFA;
    outline: none;
    width: 98%;
    border: 1px solid #E9E9E9
}

.cancel-btn {
    width: 100px;
    height: 45px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    background: #575F6E;
    border: none;
    text-align: center;
    color: white;
}

.save {
    width: 100px;
    height: 45px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    background: #005EC9;
    color: white;
    text-align: center;
    border: none;
}

.submit-btn {
    width: 354px;
    margin-right: 15px;
}

.clock-icon {
    color: gray;

    top: 13px;
    margin-left: -19px;
}

.w-50 {
    width: 100%;
}

.parent {
    column-gap: 18px;
}

.date-input {
    outline: none !important;
    border: none !important;
    padding: 6px;
    width: 40%;
    background: #FAFAFA;
    outline: none;
}

.dropdown {
    background: white;
    box-shadow: #3c40434d 0 1px 2px, #3c404326 0 1px 3px 1px;
    max-height: 100px;
    overflow-y: scroll;
    font-size: 14px;
    margin-left: 3px;
    width: 280px;
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    z-index: 1;
}

.dropdown :hover {
    background-color: rgb(240, 235, 235);

}

.candidate-list {
    flex-grow: 1;
    padding: 10px;
}

.candidate {
    display: flex;
    flex-wrap: wrap;
}

.candidate-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 430px;
    height: auto;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 7px #0000001F;
    padding: 10px;
    position: relative;
    padding: 10px;
}

.search-input {
    border: 1px solid #E9E9E9;
    outline: none;
    background: #FFFFFF;
    border-radius: 3px;
    width: 250px;
    height: 40px;
}

.search {
    background-color: #005EC9;
    padding: 10px;
    top: 724px;
    right: 258px;
    width: 25px;
    height: 22px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.fa-search {
    color: #FFFFFF;
    padding-left: 3px;
    font-size: 20px;
}

.head {
    padding: 10px;
    justify-content: space-between;
    flex-grow: 1;
}

.count {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid #A8A8A8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.key,
.value {
    flex: 1;
    margin: 5px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
}

.key {
    color: #000000;
    width: auto;
}

.value {
    color: #575F6E;
    text-align: left;
}

.fa-check {
    color: #FFFFFF;
    background-color: #005EC9;
    border: 1px solid #005EC9;
    border-radius: 50%;
}