<div class="main p-l-20">
    <p class="heading  m-t-12">Interview Details</p>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Recruiter Name</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Date</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Month</span>
            <input type="text" class="input-box">
        </div>
    </div>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Position</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Candidate Name</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Candidate Experience</span>
            <input type="text" class="input-box">
        </div>
    </div>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Notice Period</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Current Company</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Location</span>
            <input type="text" class="input-box">
        </div>
    </div>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Interview Date & Time</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Panel</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Mode</span>
            <input type="text" class="input-box">
        </div>
    </div>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Interview Status</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Candidate Status</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Rescheduled Status</span>
            <input type="text" class="input-box">
        </div>
    </div>
</div>