<div class="main p-l-20">
    <div class="heading">
        <span>Interview Details</span>
    </div>
    <div *ngIf="loader" class="loader-parent">
        <img src="assets/gif/loader.gif">
    </div>
    <div class="d-flex j-space parent">

        <div class="child d-flex m-b-10" #positionDiv>
            <span class="label m-b-8">Requirement</span>
            <div class="input-box c-pointer p-relative no-close" (click)="showDropdown = !showDropdown">
                <span>{{positionName.trim() !== '' ? positionName : 'Select Requirement'}}</span>
                <span *ngIf="!positionName"><i class="f-right m-l-5 m-t-5 m-b-8 m-r-10 fa fa-chevron-down s-text no-close"></i></span>
                <div class="no-close dropdown c-pointer" *ngIf="showDropdown">
                    <div class="padding-5" *ngFor="let position of positionList"
                        (click)="selectPosition(position?.requestId,position?.requestName);showDropdown = !showDropdown">
                        <span class="padding-5">{{position?.requestName}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Candidate Name</span>
            <div class="input-box c-pointer p-relative no-close" (click)="candidateClick()">
                <span  class="c-pointer">{{candidateName.trim() !== '' ? candidateName : 'Select Candidate Name'}}</span>
                <span *ngIf="!candidate?.candidateFirstName">
                    <i class="f-right m-l-5 m-t-5 m-b-8 m-r-10 fa fa-chevron-down s-text no-close"></i>
                </span>
                <div class="no-close dropdown c-pointer" *ngIf="showcandidate && positionId">
                    <div class="padding-5" *ngFor="let candidate of candidate_list"
                        (click)="selectCandidate(candidate?.candidateId,candidate?.candidateFirstName,candidate?.candidateLastName,candidate);showcandidate = !showcandidate">
                        {{candidate?.candidateFirstName ?? candidate?.candidateFirstName}} {{candidate?.candidateLastName ?? candidate?.candidateLastName}}
                    </div>
                </div>
            </div>
        </div>
        <div class="child d-flex m-b-10" #recruiterNameDiv>
            <span class="label m-b-8">Recruiter Name</span>
            <div class="input-box c-pointer p-relative no-close" (click)="showRecruiters = !showRecruiters">
                <span>{{recruiterName.trim() !== '' ? recruiterName : 'Select Recruiter Name'}}</span>
                <span> <i class="f-right m-l-5 m-t-5 m-b-8 m-r-10 fa fa-chevron-down s-text no-close"></i></span>
                <div class="no-close dropdown c-pointer" *ngIf="showRecruiters">
                    <div class="padding-5" *ngFor="let recruiter of users_list"
                        (click)="selectRecruiter(recruiter.userId,recruiter.userfirstName,recruiter.userlastName);showRecruiters = !showRecruiters">
                        {{recruiter?.userfirstName ?? recruiter?.userfirstName}} {{recruiter?.userlastName ?? recruiter?.userlastName}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Relevant Experience</span>
            <div class="input-box">
                <span>{{candidateRevlentExperience || ''}}</span>
            </div>
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Total Experience</span>
            <div class="input-box">
                <span>{{candidateTotalExperience || ''}}</span>
            </div>
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-8 ">Notice Period</span>
            <input type="text" class="input-box p-t-0" [value]="noticeperiodvalue.trim() !== '' ? noticeperiodvalue : ''" id="noticePeriod">
        </div>
    </div>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Mode of Work</span>
            <div class="input-box c-pointer p-relative no-close" (click)="showWorkMode = !showWorkMode">
                <span >{{selectedModeName.trim() !== '' ? selectedModeName : "Select Work Mode"}}</span>
                <span> <i class="f-right m-l-5 m-t-5 m-b-8 m-r-10 fa fa-chevron-down s-text"></i></span>
                <div class="no-close dropdown c-pointer" *ngIf="showWorkMode">
                    <div class="padding-5" *ngFor="let mode of workModeList"
                        (click)="selectMode(mode?.workMode);showWorkMode = !showWorkMode">
                        {{mode?.workMode}} 
                    </div>
                </div>
            </div>
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Current Company</span>
            <input type="text" class="input-box" [value]="currentCompany.trim() !== '' ? currentCompany : ''">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Job Location</span>
            <div class="input-box c-pointer p-relative no-close" (click)="showJobLocation = !showJobLocation">
                <span >{{locationName.trim() !== '' ? locationName : "Select Job Location"}}</span>
                <span> <i class="f-right m-l-5 m-t-5 m-b-8 m-r-10 fa fa-chevron-down s-text"></i></span>
                <div class="no-close dropdown c-pointer" *ngIf="showJobLocation">
                    <div class="padding-5" *ngFor="let item of locationList"
                        (click)="selectLocation(item?.location);showJobLocation = !showJobLocation">
                        {{item?.location}} 
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div>
    <app-mail-template [candidate]="mailTemplateData" (submitData)="onSubmitData($event)" [loader]="loader"></app-mail-template>
</div>
<!-- <div class="child d-flex m-b-10">
            <span class="label m-b-8">Interview Date & Time</span>
            <div class="p-relative">
                <div class="input-box c-pointer">
                    <input class="p-l-9 date-input" placeholder="MM/DD/YY" matInput [matDatepicker]="pickerInterview"
                        (dateChange)="dateChange($event)" (click)="pickerInterview?.open()" [value]="scheduledDate"
                        [min]="today">
                    {{displayTime}}
                    <div class="p-l-10 d-flex j-end p-r-10">
                        <span class="p-l-20 d-flex j-end c-pointer"><mat-datepicker #pickerInterview
                                class=""></mat-datepicker>
                            <i class="fa fa-calendar-o c-pointer p-absolute calendar-icon" aria-hidden="true"
                                (click)="pickerInterview?.open()"></i>
                        </span>
                        <span class="p-l-20 d-flex j-end"><img class="p-absolute clock-icon"
                                src="assets/images/clock.png" alt="" height="14px" width="14px"
                                [ngxTimepicker]="pickerTime" [format]="12" (timeSet)="timeChange($event)">
                            <ngx-material-timepicker #pickerTime
                                (timeSet)="timeChange($event)"></ngx-material-timepicker>
                        </span>
                    </div>
                </div>
            </div>
        </div> -->
<!-- <div class="child d-flex m-b-10" #panelDiv>
            <span class="label m-b-8">Interview Panel</span>
            <div class="input-box p-t-10 p-l-6 c-pointer p-relative" (click)="showPanel = !showPanel">
                <span *ngIf="!panelName">Select Name</span>
                <span *ngIf="panelName" class="p-l-9">{{panelName}}</span>
                <span><i class="f-right p-r-10 fa fa-chevron-down s-text"></i></span>
                <div class="no-close dropdown  p-b-7 p-l-6 c-pointer" *ngIf="showPanel">
                    <div class="padding-5" *ngFor="let panel of panel_list "
                        (click)="selectPanel(panel?.userId,panel?.userfirstName,panel?.userlastName)">
                        {{panel?.userfirstName}} {{panel?.userlastName}}
                    </div>
                </div>
            </div>
        </div> -->
<!-- <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Mode</span>
            <div class="input-box p-t-10 p-l-6 c-pointer p-relative" (click)="showModeList = !showModeList">
                <span *ngIf="!selectedModeName">Select Mode</span>
                <span *ngIf="selectedModeName" class="p-l-9">{{selectedModeName}}</span>
                <span><i class="f-right p-r-10 fa fa-chevron-down s-text"></i></span>
                <div class="no-close dropdown  p-b-7 p-l-6 c-pointer" *ngIf="showModeList">
                    <div class="padding-5" *ngFor="let mode of modeList " (click)="selectMode(mode.id,mode.modeName)">
                        {{mode?.modeName}}
                    </div>
                </div>
            </div>
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Interview Status</span>
            <input type="text" class="input-box p-l-9 p-t-2 p-b-3" id="interviewStatus" [value]="interviewStatus | titlecase">
        </div>
    </div>
    <div class="child d-flex m-b-10">
        <span class="label m-b-8">Comments</span>
        <textarea class="comments p-l-9 p-t-6" id="comments" [value]="comment|| commentValue"></textarea>
    </div> -->

<!-- <div class="d-flex j-end parent p-b-20">
        <div class="d-flex f-right submit-btn j-end">
            <button class="cancel-btn m-r-10 c-pointer" (click)="cancel()">Cancel</button>
            <button class="save m-l-10 c-pointer" (click)="submit()">Submit</button>
        </div>
    </div> -->

<!-- <div class="main">
    <div class="candidate-list">
        <div class="d-flex head">
            <span class="heading">Candidate Lists</span>
            <div class="d-flex">
                <input type="text" class="search-input p-l-5" placeholder="Search Experience"
                    (keydown.enter)="searchExperience(seachKeyword)" autocomplete="off" [(ngModel)]="seachKeyword">
                <span class="search" (click)="searchExperience(seachKeyword)">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="candidate w-100 d-flex">
            <div *ngFor="let candidate of candidatesList" class="candidate-card">
                <div class="count c-pointer" (click)="candidateSelectChange(candidate);">
                    <span *ngIf="candidate.selected"> <i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
                <div class="info-container">
                    <div class="info-pair">
                        <div class="key">Name</div>
                        <div class="value">: {{candidate.candidateFirstName}} {{candidate.candidateLastName}}</div>
                    </div>
                    <div class="info-pair">
                        <div class="key">Email</div>
                        <div class="value">: {{candidate.candidateEmail}}</div>
                    </div>
                    <div class="info-pair">
                        <div class="key">Experience</div>
                        <div class="value">: {{candidate.candidateExperience}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->