<div class="page">
    <div class="header">
        <app-header (toggleSidebarData)="onToggleSidebarData($event)"></app-header>
    </div>
    <div class="d-flex main" *ngIf="userRole != 'panel'">
        <div class="sidebar-container" [class.sidebar-hidden]="isSidebarHidden">
            <div class="sidebar" [class.hidden]="isSidebarHidden">
                <app-left-sidebar></app-left-sidebar>
            </div>
        </div>
        <div class="content" [class.full-width]="isSidebarHidden">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="container-fluid mt-5" *ngIf="userRole == 'panel'">
        <div  [class.full-width]="isSidebarHidden">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>