<div class="main m-5">
    <div class="m-t-10">
        <div class="p-10 head" >{{requestName}}</div>
        <span class="p-10 f-s-16">Department - <span class="blue">{{department}}</span></span>
    </div>
    <div class="candidate w-100 d-flex">
        <div  class="candidate-card c-pointer"  *ngFor="let item of lists">
            <div class="d-flex p-t-5">
                <div class="count"><span class="countsss">{{item?.count}}</span></div>
                <div class="detail">
                    <span class="d-flex name">{{item?.name}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-table">
        <div class="d-flex j-space p-8">
            <div class="m-10">
                <span class="name">Requirement Detail of : {{requestName}} - <span class="blue">{{filteredStatus}}</span></span>
            </div>
            <div class="input c-pointer p-t-10 no-close p-relative">
                <span class="no-close p-l-10" (click)="filterStatus = !filterStatus">{{filteredStatus.trim() === '' ? 'Filter by Status' : filteredStatus | titlecase}}</span>
                <span class="f-right">
                    <span *ngIf="filteredStatus && filteredStatus !== ' '" (click)="clearFilter()" class="clear-filter">x</span>
                    <span  (click)="filterStatus = !filterStatus"><i class="p-l-8 p-r-10 fa fa-chevron-down no-close'"></i></span>
                </span>    
                <div class="dropdown c-pointer no-close'" *ngIf="filterStatus" >
                    <span class="d-flex p-0" *ngFor="let type of lists" (click)="selectStatusFilter(type?.name);filterStatus = !filterStatus">
                       <span class="p-l-10 p-5">{{type?.name | titlecase}}</span> 
                    </span>
                </div>
            </div>
        </div>   
        <div class="table-container m-b-0">        
            <table class="table">
                <tr class="table-header p-b-10">
                    <td>Name</td>
                    <td>Education</td>
                    <td>Experience</td>
                    <td>Previos Organization</td>
                    <td>Previous Designation</td>
                    <td>Location</td>
                    <td>Candidate Station</td>
                    <td>Status</td>
                </tr>
                <ng-container *ngFor="let item of candidateList">
                    <tr class="c-pointer details">
                        <td>{{item?.candidateFirstName}} {{item?.candidateLastName}}</td>
                        <td class="text-wrap">{{item?.candidateEducation}}</td>
                        <td class="text-wrap">{{item?.candidateExperience}} years</td>
                        <td class="text-wrap">{{item?.candidatePreviousOrg ? item?.candidatePreviousOrg : 'Nil'}}</td>
                        <td class="text-wrap">{{item?.candidatePreviousDesignation ? item?.candidatePreviousDesignation : 'Nil'}}</td>
                        <td class="text-wrap"> {{item?.candidateCity ? item?.candidateCity : 'Nil'}}</td>
                        <td>{{item?.candidateStation ? item?.candidateStation : 'Not Updated'}}</td>
                        <td>{{item?.candidateInterviewStatus ? item?.candidateInterviewStatus : 'Nil'}}</td>
                    </tr>
                </ng-container>
                <div *ngIf="candidateList?.length === 0 || !candidateList" class="no-data"> No Data Found</div>
            </table>
        </div>
        <div class="page d-flex j-end p-10">
            <button *ngIf="currentPage !== 1" class="box c-pointer" (click)="onPageChange(1)">
                <img src="assets/images/double-arrow-left-icon.svg" alt="" height="14px" width="14px">
            </button>
            <button *ngIf="currentPage === 1" class="box p-r-20 m-r-10">
                <img src="assets/images/inactive-double-arrow-left.svg" alt="" height="23px" width="23px">
            </button>
            <ng-container *ngFor="let page of generatePageNumbers()">
                <button *ngIf="page === '...'" class="box dot" disabled>...</button>
                <button *ngIf="page !== '...' && page === currentPage" class="box current-page c-pointer">{{ page }}</button>
                <button *ngIf="page !== '...' && page !== currentPage" class="box c-pointer" (click)="onPageChange(page)">
                {{page}}</button>
            </ng-container> <button *ngIf="currentPage < lastPage" class="box c-pointer" (click)="onPageChange(lastPage)">
                <img src="assets/images/double-arrow-right-icon.svg" alt="" height="14px" width="14px">
            </button>
            <button *ngIf="currentPage === lastPage" class="box">
                <img src="assets/images/inactive-double-arrow-right.svg" alt="" height="23px" width="23px">
            </button>
        </div>
    </div>   
</div>