<div class="main">
    <div class="d-flex head">
        <div>
            <span class="heading">Candidate Lists</span>
        </div>
        <div class="d-flex">
            <span class="">
                <input type="text" class="input p-l-5" placeholder="Search Candidates">
                <span class="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </span>
            <div class="add c-pointer" (click)="navigate('/dashboard/add-candidate',false)">
                <span class="">Add Candidate</span>
            </div>
        </div>
    </div>
    <div class="table-container m-b-0">
        <table class="table">
            <tr class="table-header p-b-10">
                <td>Name</td>
                <td>Email</td>
                <td>Mobile</td>
                <td>Current Organization</td>
                <td>Previous Organization</td>
                <td>Experience</td>
                <td>Current Salary</td>
                <td>Education</td>
                <td>Skills</td>
                <td>Actions</td>
            </tr>
            <ng-container *ngIf="candidateList?.length > 0">
                <tr class="c-pointer details" *ngFor="let item of candidateList">
                    <td>{{item?.candidateFirstName | titlecase}} {{item?.candidateLastName | titlecase}}</td>
                    <td>{{item?.candidateEmail}}</td>
                    <td>{{item?.candidateMobileNo}}</td>
                    <td>{{item?.candidatePreviousOrg}}</td>
                    <td>{{item?.candidatePreviousDesignation}}</td>
                    <td>{{item?.candidateExperience}} years</td>
                    <td>{{item?.candidateCurrentSalary}}</td>
                    <td>{{item?.candidateEducation}}</td>
                    <td>{{item?.candidateSkill.length > 0 ? (item?.candidateSkill[0]?.skills?.skillName | titlecase ):'N/A'}}</td>
                    <td>
                        <i class="fa fa-pencil-square-o p-r-5 icon-color" aria-hidden="true"
                            (click)="edit(item?.candidateId)"></i>
                        <i class="fa fa-trash-o p-l-5 delete-color" aria-hidden="true"
                            (click)="delete(item?.candidateId)"></i>
                    </td>
                </tr>
            </ng-container>
            <div *ngIf="candidateList?.length === 0 || !candidateList" class="no-data"> No Data Found</div>
        </table>
    </div>
    <div class="page d-flex j-end">
        <button *ngIf="currentPage !== 1" class="box c-pointer" (click)="onPageChange(currentPage - 1)">{{currentPage -
            1}}</button>
        <button class="box current-page c-pointer">{{ currentPage }}</button>
        <button class="box c-pointer" (click)="onPageChange(currentPage + 1)"
            [disabled]="candidateList?.length === 0 || !candidateList">{{currentPage + 1}}</button>
        <button class="box c-pointer" (click)="onPageChange(currentPage + 1)"
            [disabled]="candidateList?.length === 0 || !candidateList"> <img
                src="assets/images/double-arrow-right-icon.svg" alt="" height="14px" width="14px">
        </button>
    </div>
</div>