.main {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px 0px #0000001A;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.head {
    padding: 10px;
    justify-content: space-between;
}

.text-wrap{
    max-width: 120px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clear-filter {
    padding: 0px 4px;
    border: 1px solid #3c40434d;
    border-radius: 50%;
}

input[type="text"] {
    border: none;
    outline: none;
    width: 75%;
}

.heading {
    color: #000000;
    font-weight: 500;
    line-height: 26.07px;
    font-size: 22px;
}

.filter {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.96px;
    color: #4F4F4F;
}

.input {
    border: 1px solid #E9E9E9;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 330px;
    height: 35px;
    margin-right: -21px;
}

.search {
    background-color: #005EC9;
    /* position: relative; */
    padding: 9px;
    top: 724px;
    right: 258px;
    width: 25px;
    height: 22px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.fa-search {
    color: #FFFFFF;
    padding-left: 3px;
    font-size: 20px;
    cursor: pointer;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 150px;
    border-radius: 3px;
    background-color: #575F6E;
    color: white;
    margin-left: 10px;
    margin-top: 0px;
    font-weight: 500;
    margin-right: 11px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-container {
    flex-grow: 1;
    overflow: auto !important;
    margin-bottom: 10px;
    min-height: calc(100vh - 425px);
    max-height: calc(100vh - 425px);
}

tr:nth-child(odd) {
    background: #F0F7FF;
}

tr:nth-child(even) {
    background: #FFFFFF;
}


td {
    padding: 10px;
    text-align: center;
    border: 1px solid #E9E9E9
}

tr {
    text-align: center;
}

.table-header {
    position: sticky;
    top: 0;
    background-color: #F4F2F2 !important;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

.details {
    font-size: 13px;
}

.icon-color {
    color: #575F6E;
}

.scrollable::-webkit-scrollbar,
.table-container::-webkit-scrollbar {
    display: none;
}

.scrollable,
.table-container {
    scrollbar-width: none;
    /* For Firefox */
}

.scrollable,
.table-container {
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.j-end {
    display: flex;
    justify-content: flex-end;
}

.no-data {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #525455;
    width: 100%;
    padding: 50% 350%;
}

.delete-color {
    color: #C10A0A;
}

.box {
    height: 26px;
    width: 26px;
    border: none;
    background-color: white;
}

.box :hover {
    background: #F0F7FF;
}

.page {
    margin: 10px;
    padding-bottom: 10px;
}

.current-page {
    background-color: #005EC9;
    color: #FFFFFF;
    height: 26px;
    width: 26px;
}

.dot {
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.export-btn{
    height: 34px;
    width: 79px;
    border-radius: 3px;
    height: 35px;
    width: 81px;
    background-color: #4F4F4F;
    color: white;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
}

.search{
    height: 19px;
    
}