<div class="main">
    <div class="d-flex head m-b-10">
        <div>
            <span class="heading">Candidate Lists</span>
        </div>
        <div class="d-flex j-space">
            <span class="input">
                <input type="text" class="p-10" placeholder="Search Candidates" [(ngModel)]="searchKeyword" (keydown.enter)="searchCandidate(searchKeyword)">
                <span *ngIf="searchKeyword !== ''" (click)="clearFilter()"
                    class="clear-filter c-pointer m-l-10">x</span>     
            </span>
            <span class="search d-flex j-end">
                <i class="fa fa-search" aria-hidden="true" (click)="searchCandidate(searchKeyword)"></i>
            </span>
            <div class="add c-pointer" (click)="navigate('/dashboard/add-candidate',false)">
                <span class="c-pointer">Add Candidate</span>
            </div>
        </div>
    </div>
    <div class="table-container m-b-0">
        <table class="table">
            <tr class="table-header p-b-10">
                <td>Name</td>
                <td>Email</td>
                <td>Mobile</td>
                <td>Previous Organization</td>
                <td>Previous Designation</td>
                <td>Experience</td>
                <td>Current Salary</td>
                <td>Education</td>
                <td>Skills</td>
                <td>Actions</td>
            </tr>
            <ng-container *ngIf="candidateList?.length > 0">
                <tr class="c-pointer details" *ngFor="let item of candidateList">
                    <td>{{item?.candidateFirstName | titlecase}} {{item?.candidateLastName | titlecase}}</td>
                    <td>{{item?.candidateEmail}}</td>
                    <td>{{item?.candidateMobileNo}}</td>
                    <td class="text-wrap" [title]="item?.candidatePreviousOrg">{{item?.candidatePreviousOrg}}</td>
                    <td class="text-wrap" [title]="item?.candidatePreviousDesignation">{{item?.candidatePreviousDesignation}}</td>
                    <td class="text-wrap" [title]="item?.candidateExperience">{{item?.candidateExperience}} years</td>
                    <td class="text-wrap" [title]="item?.candidateCurrentSalary">{{item?.candidateCurrentSalary}}</td>
                    <td class="text-wrap" [title]="item?.candidateEducation">{{item?.candidateEducation}}</td>
                    <td class="text-wrap" [title]="item?.candidateSkill.length > 0 ? (item?.candidateSkill[0]?.skills?.skillName | titlecase):'N/A'">
                        {{item?.candidateSkill.length > 0 ? (item?.candidateSkill[0]?.skills?.skillName | titlecase):'N/A'}}</td>
                    <td>
                        <i class="fa fa-pencil-square-o p-r-5 icon-color" aria-hidden="true"
                            (click)="edit(item?.candidateId)"></i>
                        <i class="fa fa-trash-o p-l-5 delete-color" aria-hidden="true"
                            (click)="delete(item?.candidateId)"></i>
                    </td>
                </tr>
            </ng-container>
            <div *ngIf="candidateList?.length === 0 || !candidateList" class="no-data"> No Data Found</div>
        </table>
    </div>
    <div class="page d-flex j-end p-10">
        <button *ngIf="currentPage !== 1" class="box c-pointer" (click)="onPageChange(1)">
            <img src="assets/images/double-arrow-left-icon.svg" alt="" height="14px" width="14px">
        </button>
        <button *ngIf="currentPage === 1" class="box p-r-20 m-r-10">
            <img src="assets/images/inactive-double-arrow-left.svg" alt="" height="23px" width="23px">
        </button>
        <ng-container *ngFor="let page of generatePageNumbers()">
            <button *ngIf="page === '...'" class="box dot" disabled>...</button>
            <button *ngIf="page !== '...' && page === currentPage" class="box current-page c-pointer">{{ page }}</button>
            <button *ngIf="page !== '...' && page !== currentPage" class="box c-pointer" (click)="onPageChange(page)">
            {{page}}</button>
        </ng-container> <button *ngIf="currentPage < lastPage" class="box c-pointer" (click)="onPageChange(lastPage)">
            <img src="assets/images/double-arrow-right-icon.svg" alt="" height="14px" width="14px">
        </button>
        <button *ngIf="currentPage === lastPage" class="box">
            <img src="assets/images/inactive-double-arrow-right.svg" alt="" height="23px" width="23px">
        </button>
    </div>
</div>