<div class="main">
    <div class="d-flex head">
        <div>
            <span class="heading">Candidate Lists</span>
        </div>
        <div class="d-flex">
            <span>
                <input type="text" class="input p-l-5" placeholder="Search Candidates">
                <i class="fa fa-search search" aria-hidden="true"></i>
            </span>
            <div class="add">
                <span>Add Candidate</span>
            </div>
        </div>
    </div>
    <div class="table-container m-b-0">
        <table class="table">
            <tr class="table-header f-w-500 p-b-10">
                <td>Name</td>
                <td>Email</td>
                <td>Mobile</td>
                <td>Current Organization</td>
                <td>Previous Organization</td>
                <td>Experience</td>
                <td>current Salary</td>
                <td>Education</td>
                <td>Skills</td>
                <td>Actions</td>
            </tr>
            <ng-container *ngFor="let item of list">
                <tr class="c-pointer">
                    <td>{{item.Name}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.Mobile}}</td>
                    <td>{{item.Current}}</td>
                    <td>{{item.Previous}}</td>
                    <td>{{item.Experience}}</td>
                    <td>{{item.current}}</td>
                    <td>{{item.Education}}</td>
                    <td>{{item.Skills}}</td>
                    <td>
                        <i class="fa fa-pencil-square-o p-r-5 icon-color" aria-hidden="true"></i>
                        <i class="fa fa-trash-o p-l-5 icon-color" aria-hidden="true"></i>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
</div>