<div class="page">
    <div class="header">
        <app-header  (toggleSidebarData)="onToggleSidebarData($event)"></app-header>
    </div>
    <div class="d-flex main">
        <div class="sidebar-container" [class.sidebar-hidden]="isSidebarHidden">
            <!-- <button *ngIf="isSidebarHidden" class="hamburger" (click)="toggleSidebar()">&#9776;</button>
            <button *ngIf="!isSidebarHidden" class="close-sidebar" (click)="toggleSidebar()">&#10006;</button> -->
            <div class="sidebar" [class.hidden]="isSidebarHidden">
                <app-left-sidebar></app-left-sidebar>
            </div>
        </div>
        <div class="content" [class.full-width]="isSidebarHidden">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
