.comment {
    width: 97%;
    height: 132px;
    top: 47px;
    left: 9px;
    border-radius: 2px;
    border: 1px solid rgb(207, 205, 205);
    outline: none;
}

.comment-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.btn {
    width: 209px;
    float: right;
    margin-right: 10px;
}

.submit-btn {
    width: 87px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 3px;
    background: #005EC9;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    margin-top: 23px;
}

.cancel-btn {
    width: 87px;
    height: 30px;
    background: #575F6E;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    border: none;
    margin-top: 23px;
}



input[type="text"] {
    outline: none !important;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 2px;
    height: 35px;
    width: 97%;
}


.input-box {
    outline: none !important;
    border: 1px dashed rgb(207, 205, 205);
    border-radius: 2px;
    height: 35px;
    width: 97%;
}

.file-name {
    color: #575F6E;
    justify-content: space-between !important;
    height: 35px;
    width: 97%;
}

.choose-file{
    color: #005EC9;
}

.uploaded-file{
    color: #ABABAB26;
}

.change-file{
    color: #005EC9;
}

.loader-parent {
    position: absolute;
    left: 42%;
    z-index: 9;
    top: 37%;
}

.loader-parent img {
    width: 120px;
}