<div class="m-10">
    <span class="f-s-20 f-w-500 detail-head p-5 p-l-0">Management Station</span>
    <div class="p-l-5 d-flex j-end p-b-10">
        <span class="input p-5 m-r-10">
            <input type="text" class="p-l-5" placeholder="Search Candidates" [(ngModel)]="searchKeyword"
                (keydown)="searchCandidate(searchKeyword)">
            <span *ngIf="searchKeyword.trim() !== ''" (click)="clearFilter('search')"
                class="clear-search c-pointer m-l-10">x</span>
        </span>
        <div class="input p-t-10 p-l-6  no-close p-relative m-r-10">
            <span class="f-right d-flex">
                <span *ngIf="displayPosition && displayPosition !== ' '" (click)="clearFilter('position')"
                    class="clear-filter c-pointer">x</span>
                <div (click)="requestList_open = !requestList_open" class="c-pointer">
                    <i [ngClass]="requestList_open ? ' fa fa-chevron-up' : ' fa fa-chevron-down'"
                        class="m-l-5 p-r-10 s-text no-close"></i>
                </div>
            </span>
            <span class="c-pointer" (click)="requestList_open = !requestList_open">{{displayPosition.trim() === '' ?
                'Filter by Requirement' : displayPosition}}</span>
            <div class="no-close dropdown c-pointer no-close" *ngIf="requestList_open">
                <div (click)='selectPosition(name?.requestName,name?.requestId); !requestList_open'
                    *ngFor="let name of requestList" class="p-10">
                    {{name?.requestName}}
                </div>
            </div>
        </div>
        <div class="input-1 c-pointer p-t-10 no-close p-relative">
            <span class="no-close p-l-10" (click)="filterStatus = !filterStatus">{{filteredStatus.trim() === '' ?
                'Filter by Status' : filteredStatus | titlecase}}</span>
            <span class="f-right">
                <span *ngIf="filteredStatus && filteredStatus !== ' '" (click)="clearFilter('status')"
                    class="clear-filter">x</span>
                <span (click)="filterStatus = !filterStatus"><i
                        class="p-l-8 p-r-10 fa fa-chevron-down no-close'"></i></span>
            </span>
            <div class="dropdown c-pointer no-close'" *ngIf="filterStatus">
                <span class="d-flex p-0" *ngFor="let type of Status"
                    (click)="selectStatusFilter(type?.status);filterStatus = !filterStatus">
                    <span class="p-l-10 p-5">{{type?.status | titlecase}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="table-container m-b-0">
            <table class="table">
                <tr class="table-header f-w-500 p-b-10">
                    <td>Candidate ID</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Requirement</td>
                    <td>Move Candidate</td>
                    <td>Candidate Station</td>
                    <td>Service Status</td>
                </tr>
                <div *ngIf="loader && !initialLoader" class="loader-parent">
                    <img src="assets/gif/loader.gif">
                </div>
                <ng-container *ngIf="candidateList.length > 0">
                    <ng-container *ngFor="let innerArray of candidateList">
                        <ng-container *ngFor="let item of innerArray">
                            <tr class="candidate c-pointer" (dblclick)="selectCandidate(item['candidate.candidateId'])">
                                <td>{{ item['candidate.candidateId'] }}</td>
                                <td class="text-wrap"
                                    [title]="item['candidate.candidateFirstName'] + item['candidate.candidateLastName']">
                                    {{ item['candidate.candidateFirstName'] }} {{ item['candidate.candidateLastName'] }}
                                </td>
                                <td class="text-wrap" [title]="item['candidate.candidateEmail']">{{
                                    item['candidate.candidateEmail'] }}</td>
                                <td class="text-wrap" [title]="item['serviceRequest.requestName']">{{
                                    item['serviceRequest.requestName'] }}</td>
                                <td class="p-t-15">
                                    <img src="/assets/images/candidate-detail/move.svg" alt="" height="24px" width="24px"
                                        (click)="onSwitchStation(item)">
                                <td class="text-wrap">{{item?.currentStation}}</td>
                                <td class="f-w-500 text-wrap " [ngClass]="{'blue': item?.serviceStatus === 'pending','green': item?.serviceStatus === 'done',
                                     'red': item?.serviceStatus === 'rejected'}">
                                    <span class="service-status">{{item?.serviceStatus === 'done' ? 'OfferAccepted' :
                                        item?.serviceStatus | titlecase}}</span>
                                </td>
                                <!-- <td class="text-wrap" (click)="navigate('/dashboard/series/',candidate?.requestId)"
                                [ngStyle]="{'color': candidate.status === 'progress' ? '#F57C02' : '#08E179'}">
                                {{candidate.status | titlecase}}
                            </td> -->
                                <!-- <td>
                                     <div class="d-flex j-centre">
                                    <i class="fa fa-eye blue f-s-18 f-w-500" aria-hidden="true"></i>
                                    <span class="blue f-w-500 p-l-5">View detail</span>
                                </div>
                                </td> -->
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <div *ngIf="(this.candidateList[0]?.length === 0 || !this.candidateList[0]) && !loader && !initialLoader"
                    class="data">
                    No Data Found
                </div>
                <div *ngIf="initialLoader" class="row m-l-20 initial-loader">
                    <div *ngFor="let item of [0,1,2,3,4,5]" class="col-md-6 m-t-10 m-b-10">
                        <div class="gravatar-title">
                            <div>
                                <ngx-skeleton-loader [theme]="{
                                width: '900px',
                                'border-radius': '0',
                                height: '15px',
                                'margin-bottom': '10px'
                                }"></ngx-skeleton-loader>
                            </div>
                            <div>
                                <ngx-skeleton-loader
                                    [theme]="{ width: '1300px', 'border-radius': '0', height: '15px' }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
            </table>
        </div>
        
        <div class="page d-flex j-end p-10">
            <button *ngIf="currentPage !== 1" class="box c-pointer" (click)="onPageChange(1)">
                <img src="assets/images/double-arrow-left-icon.svg" alt="" height="14px" width="14px">
            </button>
            <button *ngIf="currentPage === 1" class="box p-r-20 m-r-10">
                <img src="assets/images/inactive-double-arrow-left.svg" alt="" height="23px" width="23px">
            </button>
            <ng-container *ngFor="let page of generatePageNumbers()">
                <button *ngIf="page === '...'" class="box dot" disabled>...</button>
                <button *ngIf="page !== '...' && page === currentPage" class="box current-page c-pointer">{{ page
                    }}</button>
                <button *ngIf="page !== '...' && page !== currentPage" class="box c-pointer"
                    (click)="onPageChange(page)">{{ page }}</button>
            </ng-container> <button *ngIf="currentPage < lastPage" class="box c-pointer"
                (click)="onPageChange(lastPage)">
                <img src="assets/images/double-arrow-right-icon.svg" alt="" height="14px" width="14px">
            </button>
            <button *ngIf="currentPage === lastPage" class="box">
                <img src="assets/images/inactive-double-arrow-right.svg" alt="" height="23px" width="23px">
            </button>
        </div>
    </div>
</div>