<div class="test">
    <div class="container">
        <div class="left">
            <img src="/assets/images/forgot-log.png" alt="Image" width="600px" height="497px">
        </div>
        <div class="right">
            <div class="text">
                <div class="form-field d-flex j-start m-b-20">
                    <span class="title">Reset Password</span>
                </div>
                <form [formGroup]="passwordForm" class="form" (ngSubmit)="submitClick()">
                    <div class="form-field d-flex j-start m-b-14 p-relative">
                        <span class="email">Current Password</span>
                        <input [type]="hideNewpassword ? 'password' : 'text'" class="input" autocomplete="off" formControlName="currentPassword">
                        <span class="eyeIcon c-black p-absolute p-r-10" mat-icon-button matSuffix (click)="hideNewpassword = !hideNewpassword"
                            [attr.aria-label]="'hideNewpassword'" [attr.aria-pressed]="hideNewpassword">
                            <mat-icon class="m-icon">{{ hideNewpassword ? "visibility_off" : "visibility" }}</mat-icon></span>
                    </div>
                    <div class="form-field d-flex j-start m-b-14 p-relative">
                        <span class="email">New Password</span>
                        <!-- <input type="{{ hidePassword ? 'password' : 'text' }}" class="input" autocomplete="new-password" formControlName="userPassword"> -->
                        <input [type]="hidePassword ? 'password' : 'text'" class="input" autocomplete="new-password" formControlName="userPassword">
                        <span class="eyeIcon c-black p-absolute p-r-10" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                            [attr.aria-label]="'hidePassword'" [attr.aria-pressed]="hidePassword">
                            <mat-icon class="m-icon">{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon></span>
                    </div>
                    <div class="form-field d-flex j-start m-b-14 p-relative">
                        <span class="email">Confirm Password</span>
                        <input type="{{ hideConfirmPassword ? 'password' : 'text' }}" class="input" autocomplete="new-password" formControlName="confirmPassword">
                        <span class="eyeIcon c-black p-absolute p-r-10" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                        [attr.aria-label]="'hideConfirmPassword'" [attr.aria-pressed]="hideConfirmPassword">
                        <mat-icon class="m-icon">{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon></span>
                    </div>
                    <div *ngIf="passwordForm.errors?.['mismatch']" class="error">
                        Passwords do not match.
                    </div>
                    
                    <div class="form-field d-flex j-start m-b-14">
                        <button type="submit" class="reset-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
