.header {
    min-height: 70px !important;
    max-height: 70px !important;
    position: sticky !important;
    max-width: 100%;
}

.main {
    width: 100%;
    overflow: hidden;
}

.w-75 {
    width: 75%;
}

.w-25 {
    width: 25%;
}

/* This will hide the scrollbar for an element with the class .scrollable in Webkit browsers */
.scrollable::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
