.header {
    min-height: 70px !important;
    max-height: 70px !important;
    position: sticky !important;
    max-width: 100%;
}

.main {
    width: 100%;
    overflow: hidden;
}

.w-85 {
    width: 85%;
}

.w-15 {
    width: 15%;
}

/* This will hide the scrollbar for an element with the class .scrollable in Webkit browsers */
.scrollable::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
