<div class="modal-header heading p-t-10 d-flex j-space" style="position: sticky; top: 0; z-index: 2;">
    <div *ngIf="loader" class="loader-parent">
        <img src="assets/gif/loader.gif">
    </div>
    <div>
        <span class="p-l-10">{{candidateDetails?.candidateFirstName}} {{candidateDetails?.candidateLastName ?? candidateDetails?.candidateLastName}}</span>
    </div>
    <div class="modal-close margin-10 d-flex">   
        <img src="assets/images/techversant/clear-filter.svg" class="c-pointer p-r-5"  (click)="closeDialog()"alt="" width="35">
    </div>
</div>
<div class="modal-content">
    <div class="head p-10 d-flex j-space">
        <span>Candidate Details</span>
        <span class="c-pointer">Resume:
            <i class="fa fa-file-text-o p-l-5 c-blue" aria-hidden="true" title="View resume"
                (click)="viewResume(candidateDetails?.candidateResume)"></i>
        </span>
    </div>
    <div class="d-flex p-10">
        <div class="sub-head f-w-500 f-s-14 d-flex">
            <span class="p-8">Date of Birth</span>
            <span class="p-8">Total Experience</span>
            <span class="p-8">Relevant </span>
            <span class="p-8">Previous Organisation</span>
            <span class="p-8">Previous Designation</span>
            <span class="p-8">Education</span>
            <span class="p-8">Expected Salary</span>
            <span class="p-8">Address</span>
        </div>
        <div class="sub-head d-flex">
            <span class="p-8">
                : {{candidateDetails?.candidateDoB ?(candidateDetails?.candidateDoB | date: 'dd/MM/YYY' ): 'NIL' }}
            </span>
            <span class="p-8">
                : {{candidateDetails?.candidateTotalExperience ? candidateDetails?.candidateTotalExperience : '0'}}
            </span>
            <span class="p-8">
                : {{candidateDetails?.candidateRevlentExperience ? candidateDetails?.candidateRevlentExperience : '0'}}
            </span>
            <span class="p-8">
                : {{candidateDetails?.candidatePreviousOrg ? candidateDetails?.candidatePreviousOrg : 'NIL'}}
            </span>
            <span class="p-8">
                : {{candidateDetails?.candidatePreviousDesignation ? candidateDetails?.candidatePreviousDesignation :
                'NIL'}}
            </span>
            <span class="p-8">
                : {{candidateDetails?.candidateEducation ? candidateDetails?.candidateEducation : 'NIL'}}
            </span>
            <span class="p-8">
                : {{candidateDetails?.candidateExpectedSalary ? candidateDetails?.candidateExpectedSalary : 'NIL'}}
            </span>
            <span class="p-8">
                : {{candidateDetails?.candidateCity ? candidateDetails?.candidateCity : 'City '}} ,
                {{candidateDetails?.candidateDistrict ? candidateDetails?.candidateDistrict : 'District '}},
                {{candidateDetails?.candidateState ? candidateDetails?.candidateState : 'State '}}
            </span>
        </div>
    </div>
    <div *ngIf="hrReview && data?.offerStatus > 0">
        <!-- <div class="head p-10">
            <span>Offer Details of {{candidateDetails?.candidateFirstName}} {{candidateDetails?.candidateLastName}}</span>
        </div> -->
        <div class="p-10">
            <div class="p-10" *ngIf="hrReview">
                <span class="f-w-500">Offered Salary : </span> {{hrReview?.reviewedSalary}}
            </div>
            <div class="p-10" *ngIf="hrReview">
                <span class="f-w-500">Joining Date : </span>{{hrReview?.reviewedJoiningDate | date: 'dd/MM/YYY'}}
            </div>
            <!-- <div class="p-10" *ngIf="hrReview">
                <span class="f-w-500">Description : </span>{{hrReview?.reviewedDescription}}
            </div> -->
        </div>
    </div>
    <div *ngIf="data?.candidateDetails?.serviceStatus === 'pending' && !hrReview"  class="p-t-20 details padding-10 d-flex j-space w-50 c-pointer">
            <label class="c-pointer f-w-500 f-s-14">
                <input type="radio" name="selection" value="offer" [(ngModel)]="messageType" (change)="showMail('offer')">
                Offer Letter
            </label>
            <label class="c-pointer f-w-500 f-s-14">
                <input type="radio" name="selection" value="rejection" [(ngModel)]="messageType" (change)="showMail('rejection')">
               Rejection Letter
            </label>
    </div>
    
    <div *ngIf="!hrReview && this.data?.candidateDetails?.serviceStatus !== 'moved' && this.data?.candidateDetails?.serviceStatus === 'pending' && (showSelection || showRejection)">
        <app-mail-template [candidate]="mailTemplateData" (submitData)="onSubmitData($event)"></app-mail-template>
    </div>
  
    <div *ngIf="this.data?.candidateDetails?.serviceStatus === 'pending' && hrReview">
        <div class="head p-10">
            <span>Feedback</span>
        </div>
        <div class="m-10">
            <textarea class="text-area" id="" id="feedback" placeholder="Add Feedback"></textarea>
            <div class="btn-parent">
                <button class="c-pointer btn-reject"  (click)="rejectClick('')">Rejected</button>
                <button class="btn c-pointer" (click)="approveClick()">Accepted</button>
            </div>
        </div>
    </div>
    <div *ngIf="data?.candidateDetails?.serviceStatus !== 'pending'">
        <div class="head p-10">
            <span>Feedback</span>
        </div>
        <div class="p-10">
            <span class="padding-5">
                {{data?.candidateDetails?.serviceStatus === 'done' ? 'Candidate Accepted the offer Letter and Hired' : ''}}
                {{(hrReview && data?.candidateDetails?.serviceStatus === 'rejected') ? 'Candidate Rejected the Offer Letter' : ''}}
                {{(!hrReview && data?.candidateDetails?.serviceStatus === 'rejected') ? 'Candidate Rejected in H R Round' : ''}}
                {{data?.candidateDetails?.serviceStatus === 'moved' ? 'Candidate Moved from H R Round' : ''}}
            </span>
        </div>
    </div>
</div>