.heading {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.head {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 18px !important;
}

.job-description {
    width: 310px;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.job-description:hover {
    overflow: visible;
    white-space: normal;
    height: auto;
}

.w-40 {
    width: 47%;
}

.border {
    border-left: 1px solid #E3E0E0;
}

.key {
    width: 170px;
    font-size: 14px;
    font-weight: 500;
}

.sub-head {
    color: #575F6E;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.input {
    outline: none !important;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 5px;
    height: 34px;
    background-color: #FFFF;
    width: 56vw;
}

.attach {
    outline: none !important;
    border: 1px dotted rgb(207, 205, 205);
    border-radius: 5px;
    height: 34px;
    background-color: #FFFF;
    width: 100%;
}

.view-attachment {
    color: #005EC9;
    border-bottom: 1px solid #005EC9;
}

.modal-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #f8f9fa;
}

.modal-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.file {
    text-align: center;
    justify-content: center;
}

.btn {
    width: 120px;
    height: 35px;
    color: #FFFFFF;
    background-color: #005EC9;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    margin: 10px;
}

.btn-reject {
    width: 120px;
    height: 35px;
    color: #FFFFFF;
    background-color: #575F6E;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    margin: 10px;
    border-radius: 3px;
    margin: 10px;
}

.input-1 {
    outline: none !important;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 5px;
    height: 34px;
    background-color: #FFFF;
    width: 28vw;
}

.input-rejection {
    outline: none !important;
    border: 1px solid rgb(207, 205, 205);
    height: 34px;
    background-color: #FFFF;
    width: 221px;
}

.select-btn {
    width: 48%;
    height: 50px;
    color: #005EC9;
    background-color: #FFFFFF;
    border: 1px solid #005EC9;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    margin: 10px;
}

.w-97 {
    width: 97% !important;
}

.offer-select-btn,
.select-btn:hover {
    color: #FFFFFF;
    background-color: #005EC9;
    border: 1px solid #005EC9;
}

.reject-btn {
    width: 47%;
    height: 50px;
    color: #575F6E;
    background-color: #FFFFFF;
    border: 1px solid #575F6E;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    margin: 10px;
}

.offer-reject-btn,
.reject-btn:hover {
    color: #FFFFFF;
    background-color: #575F6E;
    border: 1px solid #575F6E;
}

.btn-parent {
    float: right;
}

.text-area {
    height: 136px;
    outline: none !important;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 5px;
    background-color: #FFFF;
    width: 100%;
}

.attachment {
    width: 56vw;
    background-color: #F4F2F2;
}

.template {
    border: 1px solid rgb(207, 205, 205);
    border-radius: 5px;
    border: 1px 0px 0px 0px;

}

.dropdown {
    background: white;
    box-shadow: #3c40434d 0 1px 2px, #3c404326 0 1px 3px 1px;
    max-height: 150px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    top: 100%;
    left: 0;
}

.dropdown :hover {
    background-color: #eceaea;
}

.loader-parent {
    position: absolute;
    left: 50%;
    top: 500%;
    z-index: 9;
}

.loader-parent img {
    width: 100px;
}