.date-picker-input {
    outline: none;
    border: none;
}

.date-picker {
    margin-left: 58px;
}

.sidebar {
    box-shadow: #0000001a 0 4px 6px -1px, #0000000f 0 2px 4px -1px;
    /* overflow: hidden; */
    /* height: calc(100vh - 175px); */
    padding-bottom: 20px;
    overflow: auto !important;
    border-radius: 5px !important;
}

.head {
    background-color: #EDEDED;
    min-height: 35px;
    max-height: 35px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.details {
    display: flex;
    /* justify-content: space-between; */
    align-items: start;
}

.detail-head {
    color: #005EC9;
    font-weight: 500;
    font-size: 16px;
}

.justify-content-end {
    justify-content: end;
}

.head-wrap {
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.btn {
    padding: 0px 22px;
    font-size: 0.92rem;
    margin-right: 10px;
    border: 1px solid #1a2952;
    color: #fff;
    background-color: rgb(57, 57, 136);
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.input {
    outline: none !important;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 5px;
    height: 35px;
    width: 100%;
}

.col{
    display: flex;
    flex-direction: column;
    flex: 1;
}



.btn{
    width: 120px;
    height: 35px;
    color: #FFFFFF;
    background-color: #005EC9;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    margin: 10px;

}

.btn-reject{
    width: 120px;
    height: 35px;
    color: #FFFFFF;
    background-color: #575F6E;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px; 
    margin: 10px;  
}

.btn-parent{
    float: right;
}