<div class="main" *ngIf="requirementList">
    <div>
        <p class="name">Assign Series</p>
        <div class="d-flex j-space content">
            <div class="d-flex dropdown p-relative" (click)="showDropdown = !showDropdown">
                <div class="j-space">
                    <div class="c-pointer" *ngIf="!selectedRequirement">
                        <span>Choose Requirement</span>
                    </div>
                    <div *ngIf="selectedRequirement">{{selectedRequirement}}</div>
                </div>
                <div class="no-close s-list c-pointer m-b-2 flex-1 d-flex j-end align-end sub p-r-17 m-t-9">
                    <i class="no-close s-list fa fa-chevron-down s-text"></i>
                </div>
                <div class="dropdown-list p-absolute" *ngIf="showDropdown">
                    <div class="p-8 " (click)='selectRequirement(name?.requestName,name?.requestId); !showDropdown'
                        *ngFor="let name of requirementList">
                        <span class="p-l-10 c-pointer">{{name?.requestName}}</span>
                    </div>
                </div>
            </div>
            <div class="d-flex j-space btn">
                <button class="cancel-btn c-pointer" (click)="cancel()">Cancel</button>
                <button class="save-btn c-pointer" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>
