.modal-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #f8f9fa;
}

.modal-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.heading {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.input-rejection {
    outline: none !important;
    border: 1px solid rgb(207, 205, 205);
    height: 34px;
    background-color: #FFFF;
    width: 100%;
    border-radius: 5px;
}

.rejection {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding-top: 10px;
    height: 230px;
}

.dropdown {
    background: white;
    box-shadow: #3c40434d 0 1px 2px, #3c404326 0 1px 3px 1px;
    max-height: 150px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    top: 100%;
    left: 0;
}

.dropdown :hover {
    background-color: #eceaea;
}

.btn {
    width: 120px;
    height: 35px;
    color: #FFFFFF;
    background-color: #005EC9;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    margin: 10px;
}

.item-container{
    height: 120px;
}

.loader-parent {
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 9;
}

.loader-parent img {
    width: 100px;
    color: black;
}
