.comment{
    margin-left: 33px;
    border-radius: 3px;
    outline: none;
   background-color: linear-gradient(0deg, #E9E9E9, #E9E9E9), linear-gradient(0deg, #FAFAFA, #FAFAFA);
}

.comment-heading{
    margin-left: 22px;
}

.btn{
    width: 127px;
    float: right;
    margin-right: 44px;
}

.submit-btn{
    background-color: rgb(57, 57, 136);
    color: white;
}

.cancel-btn{
    background-color: red;
    color: white;
    border: white;
}
