<div class="modal-header heading p-t-10 d-flex j-space" style="position: sticky; top: 0; z-index: 2;"
    *ngIf="!this.rejectStatus">
    <div *ngIf="loader" class="loader-parent">
        <img src="assets/gif/loader.gif">
    </div>
    <div class="padding-10">
        <span>{{candidateDetails?.candidateFirstName}} {{candidateDetails?.candidateLastName}} </span>
        <!-- <span class="blue">( 
            <a [href]="env_url + '/dashboard/candidate-details/' + candidateDetails['candidate.candidateId']"> {{candidateDetails['candidate.candidateId']}}</a>)
        </span> -->
    </div>
    <div class="modal-close margin-10 d-flex">
        <img src="assets/images/techversant/clear-filter.svg" class="c-pointer p-r-5" (click)="closeDialog()" alt=""
            width="35">
    </div>
</div>
<div class="modal-content">
    <div class="item-container" *ngIf="!this.rejectStatus">
        <div class="d-flex w-100 p-10 j-space">
            <span class="f-w-500 f-s-14 p-t-10 w-30">Rejection Reason</span>
            <div class="d-flex p-l-10 w-65" (click)="filterStatus = !filterStatus">
                <span class="input-rejection c-pointer no-close p-relative p-t-5">
                    <span class="no-close p-l-10 f-s-14 f-w-400">{{filteredStatus.trim()
                        === '' ? 'Select Reason for Rejection' : filteredStatus | titlecase}}</span>
                    <span class="f-right">
                        <!-- <span *ngIf="filteredStatus && filteredStatus.trim() !== ''" (click)="clearFilter('status')" class="clear-filter">x</span> -->
                        <span><i class="p-l-8 p-r-10 fa fa-chevron-down no-close'"></i></span>
                    </span>
                    <div class="dropdown c-pointer no-close'" *ngIf="filterStatus">
                        <span class="d-flex p-0" *ngFor="let type of status"
                            (click)="selectStatusFilter(type?.status);filterStatus = !filterStatus">
                            <span class="p-l-20 padding-5 f-s-14 f-w-400">{{type?.status | titlecase}}</span>
                        </span>
                    </div>
                </span>
            </div>
        </div>
        <div class="d-flex w-100 p-10 j-space">
            <span class="f-w-500 f-s-14 p-t-10 w-30">Rejection Feedback</span>
            <div class="d-flex p-l-10 w-65">
                <textarea class="text-area p-l-9" id="comment"></textarea>
            </div>
            <!-- <div class="d-flex p-l-10 w-50" (click)="openRejectionFeedback = !openRejectionFeedback">
                <span class="input-rejection c-pointer no-close p-relative p-t-5">
                    <span class="no-close p-l-10 f-s-14 f-w-400">{{selectedRejectionFeedback.trim()
                        === '' ? 'Select Reason for Rejection' : selectedRejectionFeedback | titlecase}}</span>
                    <span class="f-right">
                        <span><i class="p-l-8 p-r-10 fa fa-chevron-down no-close'"></i></span>
                    </span>
                    <div class="dropdown c-pointer no-close'" *ngIf="openRejectionFeedback">
                        <span class="d-flex p-0" *ngFor="let type of rejectionFeedbackList"
                            (click)="selectRejectionFeedback(type?.value);openRejectionFeedback = !openRejectionFeedback">
                            <span class="p-l-20 padding-5 f-s-14 f-w-400">{{type?.value | titlecase}}</span>
                        </span>
                    </div>
                </span>
            </div> -->
        </div>
        <div class="padding-10 p-r-0 d-flex j-end w-100 m-t-10 p-b-0">
            <button class="btn c-pointer" (click)="rejectClick()" [disabled]="loader">Submit</button>
        </div>
        
    </div>
     <!---Requisition rejection reason-->
     <div class="w-100 d-flex-column p-l-14" *ngIf="this.rejectStatus">
        <span class="p-10 sub-head p-l-0 f-w-500 f-s-16">Feedback</span>
        <textarea class="text-area-req p-l-5" id="comment"></textarea>
    </div>
    <div class="padding-10 p-r-0 d-flex j-end w-100 m-t-10 p-b-0" *ngIf="this.rejectStatus">
        <button  class="btn c-pointer btn-cancel" (click)="onCancelClick()">Cancel</button>
        <button class="btn c-pointer" (click)="rejectRequisition()" [disabled]="loader">Submit</button>
    </div>
</div>