.comment {
    width: 554px;
    height: 164px;
    top: 47px;
    left: 9px;
    border-radius: 2px;
    outline: 1px solid #E6E6E6
}

.comment-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.btns {
    width: 163px;
    float: right;
    margin-right: 16px;
    margin-top: 11px;
}

.submit-btn {
    width: 77px;
    height: 29px;
    color: #FFFFFF;
    border-radius: 5px;
    background: #005EC9;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

.cancel-btn {
    width: 77px;
    height: 28px;
    background: #575F6E;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    border: none;
}