<div class="test">
    <div class="container">
        <div class="left">
            <img src="/assets/images/forgot-log.png" alt="Image" width="600px" height="497px">
        </div>
        <div class="right">
            <div class="text">
                <div class="form-field d-flex j-start m-b-20">
                    <span class="title">Reset Password</span>
                </div>
                <!-- <form [formGroup]="passwordForm" class="form"> -->
                <div class="form-field d-flex j-start m-b-14">
                    <span class="email">Current Password</span>
                    <input type="text" class="input" autocomplete="off" formControlName="email">
                </div>
                <div class="form-field d-flex j-start m-b-14">
                    <span class="email">New Password</span>
                    <input type="text" class="input" autocomplete="off" formControlName="email">
                </div>
                <div class="form-field d-flex j-start m-b-14">
                    <span class="email">Confirm Password</span>
                    <input type="text" class="input" autocomplete="off" formControlName="email">
                </div>
                <div *ngIf="otpSent">
                    <div class="form-field d-flex j-start m-b-14">
                        <span class="email">OTP</span>
                        <input type="text" class="input" autocomplete="off" formControlName="otp">
                    </div>
                    <div class="form-field d-flex j-start m-b-14 p-relative">
                        <span class="email">New Password</span>
                        <input type="{{ hidePassword ? 'password' : 'text' }}" class="input" autocomplete="new-password"
                            formControlName="userPassword">
                        <span class="eyeIcon c-black p-absolute p-r-10" mat-icon-button matSuffix
                            (click)="hidePassword = !hidePassword"
                            [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'"
                            [attr.aria-pressed]="!hidePassword">
                            <!-- <mat-icon class="m-icon">{{ hidePassword ? "visibility" : "visibility_off" }}</mat-icon> -->
                        </span>
                    </div>
                    <div class="form-field d-flex j-start m-b-14 p-relative">
                        <span class="email">Confirm Password</span>
                        <input type="{{ hideConfirmPassword ? 'password' : 'text' }}" class="input"
                            autocomplete="new-password" formControlName="confirmpassword">
                        <span class="eyeIcon c-black p-absolute p-r-10" mat-icon-button matSuffix
                            (click)="hideConfirmPassword = !hideConfirmPassword"
                            [attr.aria-label]="hideConfirmPassword ? 'Show password' : 'Hide password'"
                            [attr.aria-pressed]="!hideConfirmPassword">
                            <!-- <mat-icon class="m-icon">{{ hideConfirmPassword ? "visibility" : "visibility_off"
                                        }}</mat-icon> -->
                        </span>
                    </div>
                </div>
                <div class="form-field d-flex j-start m-b-14">
                            <button (click)="submiClick()" class="reset-btn">Submit</button>
                        </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
