.test {
  /* height: 100vh; */
  height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px 0px #0000001A;
  margin-top: 10px;
  overflow: hidden;
}

.container {
  display: flex;
  /* align-items: center; */
  align-items: flex-start;

}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
  margin-top: 75px;
  margin-left: 40px;
  background-color: #FFFFFF;
  width: 536px;
  height: 490px;
}

.text {
  text-align: center;
}

.input {
  width: 438px;
  height: 37px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #E9E9E9;
  outline: none;
  background-color: #FAFAFA;
}

.form-field {
  flex-direction: column;
}

.email {
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
}

.title {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-top: 20px;
}

.reset-btn {
  background: #005EC9;
  border-radius: 3px;
  outline: none;
  border: none;
  width: 452px;
  height: 37px;
  color: white;
  margin-top: 20px;
}

.error{
  color: red;
}

.eyeIcon {
  position: absolute;
  z-index: 4;
  right: 14px;
  top: 28px;
  bottom: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.form {
  margin-top: 35px;
}