<div class="main m-5">
    <div>
        <span class="head">Report</span>
    </div>
    <div class="source m-10">
        <div class="source-heading">
            <span>Sourcing Overview - <span *ngIf="selectedMonth !== 'Select Month'">{{selectedMonth}} </span>
                <span *ngIf="selectedMonth === 'Select Month'">{{monthValue}} </span> {{currentYear}}</span>
        </div>
        <div class="source-card d-flex">
            <div class="d-flex-column line">
                <span class="name">Total Resumes sourced & screened</span>
                <div class="d-flex p-l-10"><i class="fa fa-file-text-o card-icon" aria-hidden="true"></i>
                    <span class="count">{{totalReport?.sourcedScreened ? totalReport?.sourcedScreened : '0'}}</span>
                </div>
            </div>
            <div class="d-flex-column line">
                <span class="name">Candidates contacted by recruiter</span>
                <div class="d-flex p-l-10"><i class="fa fa-user card-icon" aria-hidden="true"></i>
                    <span class="count">{{totalReport?.candidateContacted ? totalReport?.candidateContacted
                        :'0'}}</span>
                </div>
            </div>
            <div class="d-flex-column line">
                <span class="name">Interviews scheduled</span>
                <div class="d-flex p-l-10"><i class="fa fa-calendar-o card-icon" aria-hidden="true"></i>
                    <span class="count">{{totalReport?.interviewScheduled ? totalReport?.interviewScheduled
                        :'0'}}</span>
                </div>
            </div>
            <div class="d-flex-column line">
                <span class="name">Offer Released</span>
                <div class="d-flex p-l-10"><i class="fa fa-tags card-icon" aria-hidden="true"></i>
                    <span class="count">{{totalReport?.offerReleased ? totalReport?.offerReleased : '0'}}</span>
                </div>
            </div>
            <div class="d-flex-column ">
                <span class="name">Offer Accepted</span>
                <div class="d-flex p-l-10"><i class="fa fa-user card-icon" aria-hidden="true"></i>
                    <span class="count">{{totalReport?.candidatesIntrested ? totalReport?.candidatesIntrested
                        :'0'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex w-100">
        <div class="w-50 hiring-main m-10">
            <div class="d-flex j-space p-10 p-r-20">
                <div class="d-flex">
                    <span class="filter p-r-10 p-t-10">Filter Month</span>
                    <span class="c-pointer input-filter p-relative no-close" (click)="showMonth = !showMonth">
                        <div class="input d-flex j-space p-5 p-b-0 no-close">
                            {{selectedMonth}}
                            <i class="fa fa-chevron-down filter-icon"></i>
                            <div *ngIf="showMonth" class="p-absolute dropdown no-close">
                                <div class="month-column" *ngFor="let item of monthData"
                                    (click)="selectMonth(item?.number, item?.month);showMonth = !showMonth">
                                    {{item.month}}
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="d-flex">
                    <span class="filter p-r-10 p-t-10">Filter Recruiter</span>
                    <span class="c-pointer input-filter p-relative no-close c-pointer"
                        (click)="showRecruiters = !showRecruiters">
                        <div class="input d-flex j-space p-5 p-b-0 no-close">
                            {{recruiterName}}
                            <i class="fa fa-chevron-down filter-icon"></i>
                            <div *ngIf="showRecruiters" class="p-absolute dropdown no-close">
                                <div class="month-column" *ngFor="let item of recruiters"
                                    (click)="selectRecruiter(item?.userFullName , item?.userId);showRecruiters = !showRecruiters">
                                    {{item?.userFullName}}
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div>
                <span class="f-w-500 p-20">Experienced Hiring ( Recruiter wise)</span>
            </div>
            <div class="chart-container">
                <div *ngIf="requirementDetail?.length === 0 || !requirementDetail" class="error">
                    No Data Found
                </div>
                <canvas id="Chart"></canvas>
            </div>
        </div>
        <div class="w-50">
            <div class="count-table m-r-15 m-10">
                <div class="p-10">
                    <span class="f-w-500">Overall Interview & Reschedule Status</span>
                </div>
                <div class="table-container m-b-0">
                    <table class="table">
                        <tr class="table-header f-w-500 p-b-10">
                            <td>Technology</td>
                            <td>Interview Status ( All status)</td>
                            <td>Total Reschedule Status</td>
                        </tr>
                        <!-- <div class="loader-parent">
                            <img src="assets/gif/loader.gif">
                        </div> -->
                        <ng-container *ngIf="interviewDetails?.length > 0">
                            <ng-container *ngFor="let item of interviewDetails">
                                <tr class="c-pointer">
                                    <td>{{item?.technology}}</td>
                                    <td>{{item?.interviewStatusCount}}</td>
                                    <td>{{item?.rescheduleStatusCount}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </table>
                    <div *ngIf="interviewDetails?.length === 0 || !interviewDetails" class="data">
                        No Data Found
                    </div>
                </div>
                <div class="page d-flex j-end p-10">
                    <button *ngIf="currentPage !== 1" class="box c-pointer" (click)="onPageChange(1)">
                        <img src="assets/images/double-arrow-left-icon.svg" alt="" height="14px" width="14px">
                    </button>
                    <button *ngIf="currentPage === 1" class="box p-r-20 m-r-10">
                        <img src="assets/images/inactive-double-arrow-left.svg" alt="" height="23px" width="23px">
                    </button>
                    <ng-container *ngFor="let page of generatePageNumbers()">
                        <button *ngIf="page === '...'" class="box dot" disabled>...</button>
                        <button *ngIf="page !== '...' && page === currentPage" class="box current-page c-pointer">{{ page }}</button>
                        <button *ngIf="page !== '...' && page !== currentPage" class="box c-pointer" (click)="onPageChange(page)">
                        {{page}}</button>
                    </ng-container> <button *ngIf="currentPage < lastPage" class="box c-pointer" (click)="onPageChange(lastPage)">
                        <img src="assets/images/double-arrow-right-icon.svg" alt="" height="14px" width="14px">
                    </button>
                    <button *ngIf="currentPage === lastPage" class="box">
                        <img src="assets/images/inactive-double-arrow-right.svg" alt="" height="23px" width="23px">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-daily-report [requitersList]="recruiters"></app-daily-report>
    </div>
</div>