/* .clear {
    clear: both;
}

.p-relative mat-form-field {
    position: relative;
}



.candidate-form {
    padding: 50px 75px;
   
    width: 527px;
    margin: auto;
    border-radius: 10px;
    border: none;
    opacity: 0.9;
}

.info {
    color: rgb(0 86 167);
    
   text-align: center!important;
    font-weight: 540;
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 15px;
}

.input{
    margin-left: 2px;
}

.label{
    width: 322px;
}

.submit-btn{
    height: 34px;
    width: 66px;
    border-radius: 4px;
    background-color: rgb(0 86 167);
    color: white;
}

.cancel-btn{
    height: 34px;
    width: 66px;
    border-radius: 4px;
    background-color: red;
    color: white;
} */


.info {
    color: rgb(0 86 167);
    margin-top: 40px;
   text-align: center!important;
    font-weight: 540;
    font-size: 22px;
    /* line-height: 19px; */
    
}

.name{
    padding: 20px;
}

.candidate-form{
    overflow-y: scroll;
}

mat-error{
    font-size: 12px;
}

.example-full-width {
    width: 228px!important;
    line-height: 2px!important;
}

.field-height{
    height: 55px;
}

.submit-btn{
    height: 34px;
    width: 70px;
    border: none;
    border-radius: 4px;
    background-color: rgb(0 86 167);
    color: white;
}

.cancel-btn{
    height: 34px;
    width: 70px;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: white;
}

.candidate-form{
    height: 80vh;
    overflow-y: scroll;
}

.address{
    min-height: 16px!important;
    max-height: 75px!important;
    line-height: 17px!important;
    height: 25px!important;
}

.upload-resume-btn{
    padding: 8px 11px;
    /* background-color: #4caf50;  */
    color: rgb(18, 123, 165); 
    border-color: rgb(18, 123, 165); 
    border-radius: 5px; 
    cursor: pointer;
    margin-left: 131px;
    margin-top: 5px;
}

