<div class="main p-l-20">
    <p class="heading  m-t-12">Add Candidates</p>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">First Name</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Last Name</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">DOB</span>
            <input type="text" class="input-box">
        </div>
    </div>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Experience</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Previous Organization</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Created By</span>
            <input type="text" class="input-box">
        </div>
    </div>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Previous Designation</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Education</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Current Salary</span>
            <input type="text" class="input-box">
        </div>
    </div>
    <div class="d-flex j-space parent-address">
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Expected Salary</span>
            <input type="text" class="input-box">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-4">Address</span>
            <input type="text" class="text-area">
        </div>
    
    </div>
</div>














<!-- <div class="candidate-form">
    <div class="info d-flex j-center">
        <p>Add Candidate</p>
    </div>
    <div class="candidate-details p-30">
        <form [formGroup]="candidateForm" (ngSubmit)="submitClick(); $event.preventDefault()"
            enctype="multipart/form-data">
            <div class="name d-flex  j-space field-height">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput formControlName="candidateFirstName" placeholder="John">

                        <div
                            *ngIf="candidateForm.get('candidateFirstName')?.hasError('required') && candidateForm.get('candidateFirstName')?.touched">
                            <mat-error>First Name Required</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput formControlName="candidateLastName" placeholder="Deo">

                        <div
                            *ngIf="candidateForm.get('candidateLastName')?.hasError('required') && candidateForm.get('candidateLastName')?.touched">
                            <mat-error>Last Name Required</mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="dob-exp d-flex  j-space p-20 field-height">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Date Of Birth</mat-label>
                        <input type="text" matInput formControlName="candidateDoB">

                        <div
                            *ngIf="candidateForm.get('candidateDoB')?.hasError('required') && candidateForm.get('candidateDoB')?.touched">
                            <mat-error>Date Of Birth Required</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Experience</mat-label>
                        <input type="text" matInput formControlName="candidateExperience">

                    </mat-form-field>
                </div>
            </div>
            <div class="organization d-flex  j-space p-20 field-height">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Previous organization </mat-label>
                        <input type="text" matInput formControlName="candidatePreviousOrg">

                    </mat-form-field>
                </div>
                <div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Previous Designation</mat-label>
                            <input type="text" matInput formControlName="candidatePreviousDesignation">

                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="organization d-flex  j-space p-20 field-height">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Created by </mat-label>
                        <input type="text" matInput formControlName="candidateCreatedby">

                    </mat-form-field>
                </div>
                <div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Education</mat-label>
                            <input type="text" matInput formControlName="candidateEducation">

                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="edu-sal d-flex  j-space p-20 field-height">

                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Current Salary</mat-label>
                        <input type="text" matInput formControlName="candidateCurrentSalary">

                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Expected Salary</mat-label>
                        <input type="text" matInput formControlName="candidateExpectedSalary">

                        <div
                            *ngIf="candidateForm.get('candidateExpectedSalary')?.hasError('required') && candidateForm.get('candidateExpectedSalary')?.touched">
                            <mat-error>Expected Salary Required</mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="expect-addr d-flex  j-space p-20 field-height">

                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Address</mat-label>
                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                            formControlName="candidateAddress" class="address"></textarea>

                        <div
                            *ngIf="candidateForm.get('candidateAddress')?.hasError('required') && candidateForm.get('candidateAddress')?.touched">
                            <mat-error>Address Required</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput formControlName="candidateEmail">

                        <div
                            *ngIf="candidateForm.get('candidateEmail')?.hasError('required') && candidateForm.get('candidateEmail')?.touched">
                            <mat-error>Email ID Required</mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>



            <div class="email-mob d-flex  j-space p-20 field-height">

                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Mobile No</mat-label>
                        <input type="text" matInput formControlName="candidateMobileNo">

                        <div
                            *ngIf="candidateForm.get('candidateMobileNo')?.hasError('required') && candidateForm.get('candidateMobileNo')?.touched">
                            <mat-error>Mobile No Required</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div>


                    <button class="upload-resume-btn" (click)="triggerFileInput();$event.preventDefault()">
                        <div class="d-flex j-center">
                            <img src="assets/images/upload-file.png" alt="" height="23px" width="28px">
                            <p class="p-t-4 p-l-4">Upload Resume</p>
                        </div>
                    </button>
                    <input type="file" (change)="onFileSelected($event)" style="visibility: hidden">


                </div>

            </div>




            <div class="skill-type-dropdown d-flex">
                <mat-form-field class="searchbar-field">
                    <mat-label>Skill Type</mat-label>
                    <mat-select (selectionChange)="onSkillTypeSelected($event)">
                        <mat-option *ngFor="let type of skillTypes" [value]="type">{{ type }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="add-btn" (click)="$event.preventDefault();toggleSearchBar()">Add</button>
            </div>


            <div class="searchbar" *ngIf="showSearchBar">
                <input type="search" class="input-search" placeholder="Type to search skills..."
                    (input)="getSkillSuggestions($event)" *ngIf="showSearchBar">

            </div>
            <div *ngIf="showSearchBar" class="m-l-23 m-t-8">
                <div *ngFor="let suggestion of skillSuggestions" (click)="selectSkill(suggestion)">
                    {{suggestion.skillName}}</div>
            </div>
            <div *ngIf="selectedPrimarySkills" class="d-flex">

                <div *ngFor="let skill of selectedPrimarySkills" class="m-l-23">
                    {{ skill.name }},
                </div>
            </div>

            <div *ngIf="selectedSecondarySkills" class="d-flex">

                <div *ngFor="let skill of selectedSecondarySkills" class="m-l-23">
                    {{ skill.name }}
                </div>
            </div>



            <div class="btn d-flex j-space">
                <button class="cancel-btn m-20" (click)="cancel()">Cancel</button>
                <button type="submit" class="submit-btn m-20" matRipple [matRippleCentered]="true">Submit</button>
            </div>
        </form>
    </div>
</div> -->