.heading {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 10px;
}

.main {
    background-color: #F7F7F7;
    padding-right: 10px;
    padding-top: 15px;
}

.input-box {
    width: 360px;
    height: 34px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);
        padding-left: 5px;
}


.child {
    flex-direction: column;
}

.label {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    padding: 5px;
}

.text-area {
    width: 766px;
    height: 34px;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);
}

.upload-resume-btn {
    width: 91px;
    height: 38px;
    top: 648px;
    left: 1340px;
    border-radius: 3px;
    border: 1px;
    background: linear-gradient(0deg, #575F6E, #575F6E),
        linear-gradient(0deg, #E9E9E9, #E9E9E9);
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.skills {
    height: 154px;
    border-radius: 3px;
    border: 1px;
    padding: 5px;
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.skill-type {
    width: 210px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #E9E9E9;
    border: 1px solid #E9E9E9;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    padding-top: 10px;
    padding-left: 5px;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);
}

.add-btn {
    margin-left: 10px;
    width: 91px;
    height: 38px;
    border-radius: 3px;
    border: 1px;
    background: linear-gradient(0deg, #005EC9, #005EC9),
        linear-gradient(0deg, #E9E9E9, #E9E9E9);
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;

}

.skill-drop-down {
    width: 475px;
}

.cancel-btn {
    width: 171px;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    background: #575F6E;
    border: none;
    text-align: center;
    color: white;
}

.add-candidate {
    width: 171px;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    background: #005EC9;
    color: white;
    text-align: center;
    border: none;
}

.submit-btn {
    width: 345px;
    height: 40px;
}

.calendar-icon {
    color: gray;
    Width: 18px;
    Height: 18px;
    margin-left: -22px;
    top: 13px;
}

.dropdown-list {
    background: white;
    box-shadow: #3c40434d 0 1px 2px, #3c404326 0 1px 3px 1px;
    max-height: 120px;
    overflow-y: scroll;    
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    margin-top: 15px;
    width: 202px;
    margin-left: -4px;
    padding-left: 10px;
    padding-top: 7px;
    margin-bottom: 2px;
    position: absolute;
}

.dropdown-list :hover{
    font-weight: 500;
}

.gender {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    width: 360px;
    text-align: left;

}

.input-search {
    outline: none;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);
    outline: none;
    border: 1px solid #E9E9E9
}

.required {
    color: red;
}