<div class="modal-header heading p-t-10 w-100 d-flex j-space" style="position: sticky; top: 0; z-index: 2;">
    <div *ngIf="loader" class="loader-parent">
        <img src="assets/gif/loader.gif">
    </div>
    <div class="padding-10">
        <span>Interview Details</span>
    </div>
    <div class="modal-close margin-10 d-flex">
        <img src="assets/images/techversant/clear-filter.svg" class="c-pointer p-r-5" (click)="closeDialog()" alt="" width="35">
    </div>
</div>
<div class="modal-content p-l-20 p-t-10">
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Requirement</span>
            <div class="input-box">
                <span>{{positionName || ''}}</span>
            </div>
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Candidate Name</span>
            <div class="input-box">
                <span class="c-pointer">{{candidateName ? candidateName : ''}}</span>
            </div>
        </div>
    </div>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Job Location</span>
            <div class="input-box c-pointer p-relative no-close" (click)="showJobLocation = !showJobLocation">
                <span>{{locationName.trim() !== '' ? locationName : "Select Job Location"}}</span>
                <span> <i class="f-right m-l-5 m-t-5 m-b-8 m-r-10 fa fa-chevron-down s-text"></i></span>
                <div class="no-close dropdown c-pointer" *ngIf="showJobLocation">
                    <div class="padding-5" *ngFor="let item of locationList"
                        (click)="selectLocation(item?.location);showJobLocation = !showJobLocation">
                        {{item?.location}}
                    </div>
                </div>
            </div>
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Mode of Work</span>
            <div class="input-box c-pointer p-relative no-close" (click)="showWorkMode = !showWorkMode">
                <span>{{selectedModeName.trim() !== '' ? selectedModeName : "Select Work Mode"}}</span>
                <span> <i class="f-right m-l-5 m-t-5 m-b-8 m-r-10 fa fa-chevron-down s-text"></i></span>
                <div class="no-close dropdown c-pointer" *ngIf="showWorkMode">
                    <div class="padding-5" *ngFor="let mode of workModeList"
                        (click)="selectMode(mode?.workMode);showWorkMode = !showWorkMode">
                        {{mode?.workMode}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-8 ">Notice Period</span>
            <input type="text" class="input-box p-t-0"
                [value]="noticeperiodvalue.trim() !== '' ? noticeperiodvalue : ''" id="noticePeriod">
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Current Company</span>
            <input type="text" class="input-box" [value]="currentCompany.trim() !== '' ? currentCompany : ''">
        </div>
    </div>
    <div class="d-flex j-space parent">
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Relevant Experience</span>
            <div class="input-box overflow-y-auto">
                <span>{{candidateRevlentExperience || ''}}</span>
            </div>
        </div>
        <div class="child d-flex m-b-10">
            <span class="label m-b-8">Total Experience</span>
            <div class="input-box">
                <span>{{candidateTotalExperience || ''}}</span>
            </div>
        </div>
    </div>
</div>
<div>
    <app-mail-template [candidate]="mailTemplateData" (submitData)="onSubmitData($event)" [loader]="loader"></app-mail-template>
</div>