<app-header></app-header>
<button class="button" (click)="approve()">Approve</button>
<div class="details-body p-t-10 ">
    <div class="d-flex">
        <div class="barcodes-ctn p-r-3">
            <div class="item-box p-20">
                <div class="text-center flex-column align-center c-pointer">
                    <!-- <p class="m-b-2 m-text text-center">Series</p> -->
                    <div class="barcode-parent text-center">
                        <button class="series-btn" (click)=" createSeries()">Create Series</button>
                    </div>
                </div>
            </div>
            <div class="item-box p-20 m-t-10">
                <ng-container *ngFor="let series of series_list">
                    <div class="text-center flex-column align-center j-center c-pointer series-box"
                        (click)="seriesBoxClick(series)" [ngClass]="{'active-series' : series?.active}">


                        <div class="d-flex w-100 align-center j-center">
                            <p class="m-b-0 p-t-10 p-b-5 m-text series-name m-r-10">
                                {{series.name}}
                                <!-- (<span class="dark-blue">{{bucket?.TrolleyEntries?.length}}</span>)</p> -->
                                <!-- <img *ngIf="bucket?.TrolleyEntries?.length === 0 && editPermission"
                            src="assets/icons/receiving_icons/Icon feather-trash-2.png" width="12px"
                            height="13px" (click)="deleteBucket(bucket)" title="{{bucket?.biggies ? 'Delete Oversized' : (bucket?.incident ? 'Delete Incident Container' : 'Delete Container')}}"
                            class="dlt-btn m-t-2 selector" aria-hidden="true">
                            <img *ngIf="editPermission && !bucket?.incident" src="assets/icons/receiving_icons/move-icon.png" class="c-pointer m-l-25" width="15px" title="Move products between Carts" (click)="openReceivingDetailsDialog()"> -->
                        </div>
                        <div class="series-parent j-center">
                            <p class="container">Container</p>
                            <!-- <ngx-barcode [bc-value]="bucket?.barCode" [bc-display-value]="true" [bc-width]="1" [bc-height]="50"
                            [bc-width]="3" [bc-font-size]="13"></ngx-barcode> -->
                            <!-- <button>barcode</button> -->
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>
       
        <div class=" details-area">
           
            <div class="m-b-10 candidate-box p-l-15 p-r-15 p-t-10 p-b-10">
               
                <div class="w-100 notreceived">
                    <p class="candidates-heading">Candidates</p>
                    <div class="row d-flex">

                        <div *ngFor="let candidate of candidates_list let i = index"
                            class="min-150 mx-150 p-r-15 m-t-10 j-center text-center p-l-15 m-l-5 c-pointer"
                            draggable="true" (dragstart)="dragStart($event, candidate)" (dragover)="dragOver($event)"
                            (drop)="productDrop($event, activeSeries)">
                            <img src="assets/images/candidates.png" width="20px" height="25px" class="m-b-5 m-t-2 ">
                            <p>Team: {{candidate.candidateFirstName}}</p>
                            <p>Service: {{candidate.candidateEmail}}</p>
                            <p>Service Id: {{candidate.serviceId}}</p>
                            <!-- <p>Service Service ID: {{ candidate[0].serviceServiceId }}</p> -->

                        </div>
                    </div>

                </div>
            </div>
            <div class="item-box p-20 m-t-10">
                <ng-container *ngFor="let series of series_list">
                    <div class="text-center flex-column align-center j-center c-pointer series-box"
                        (click)="seriesBoxClick(series)" [ngClass]="{'active-series' : series?.active}"
                        (dragover)="allowDrop($event)" (drop)="productDrop($event,series)">


                        <div class=" w-100 align-center j-center">
                            <p class="m-b-0 p-t-10 p-b-5 m-text series-name m-r-10">
                                {{series.name}}</p>
                            <!-- <p>Candidates:</p> -->
                            <div *ngIf="series.candidates && series.candidates.length > 0" class="d-flex ">
                                <div *ngFor="let candidate of series.candidates" draggable="true"
                                    (dragstart)="dragStart($event, candidate)" (dragover)="dragOver($event)"
                                    (drop)="productDrop($event, series)" class="p-10">
                                    <img src="assets/images/candidates.png" width="20px" height="25px"
                                        class="m-b-5 m-t-2 ">
                                        <p>Team: {{candidate.candidateFirstName}}</p>
                                        <p>Service: {{candidate.candidateEmail}}</p>
                                       
                                </div>
                            </div>
                        </div>

                    </div>
                </ng-container>
            </div>
        </div>
        <div class="toggle">
            <div *ngIf="isTaskDetailsOpen" class="slide-arrow-right c-pointer xxl-text fw-500"
            (click)="toggleTaskDetails()">
            <img src="assets/images/icons8-chevron-right-24.png" alt="" srcset="">
            </div>
            <div *ngIf="!isTaskDetailsOpen" class="slide-arrow-left c-pointer xxl-text fw-500"
            (click)="toggleTaskDetails()">
            <img src="assets/images/icons8-chevron-left-24.png" alt="" srcset="">
            </div>
            </div>
            <div [@toggleAnimation]="isTaskDetailsOpen ? 'visible' : 'hidden'" class="task-details-area">

            </div>
    </div>
</div>