<div class="container m-t-15 m-l-4">
    <div class="title-requirement"><span class="requirement-name">Candidate Requirement - Associate Developer</span></div>
    <div class="actions d-flex"><img src="assets/images/edit.png" class="icon" alt="" height="28px" width="28px">
    <img src="assets/images/delete.png" class="icon" alt="" height="26px" width="26px"
       ></div>
    <div class="d-flex container-requirement">
        <div class="info-container-requirement m-t-25 m-l-12">
            <div class="info-pair-requirement">
                <div class="key-requirement">Job Code</div>
                <div class="value-requirement">: {{requirementDetails?.requestName}}</div>
            </div>
            <div class="info-pair-requirement">
                <div class="key-requirement">Interview Rounds</div>
                <div class="value-requirement">: Screening, Written, Technical 1, Technical 2, HR</div>
            </div>
            <div class="info-pair-requirement">
                <div class="key-requirement">Experience</div>
                <div class="value-requirement">: 5</div>
            </div>
            <div class="info-pair-requirement">
                <div class="key-requirement">Base Salary</div>
                <div class="value-requirement">: 100000</div>
            </div>
            <div class="info-pair-requirement">
                <div class="key-requirement">Maximum salary</div>
                <div class="value-requirement">: 200000</div>
            </div>
        </div>
        <div class="info-container-requirement m-t-25 m-l-20">
            <div class="info-pair-requirement">
                <div class="key-requirement">Designation</div>
                <div class="value-requirement">:Associate Developer</div>
            </div>
            <div class="info-pair-requirement">
                <div class="key-requirement">Skills</div>
                <div class="value-requirement">:Java, Python, C#, JavaScript, Ruby, or PHP</div>
            </div>
            <div class="info-pair-requirement">
                <div class="key-requirement">Vacancy</div>
                <div class="value-requirement">:5</div>
            </div>
           
        </div>
    </div>
</div>



<div class="main m-4" #scrollTop>
    <div class="d-flex j-space title-candidate">
        <span class="title">Candidates</span>
    </div>
    <div class="cards d-flex  m-t-30" >
        <div class="contents m-l-4 " *ngFor="let candidate of candidates_list">
            <div class="d-flex j-space heading p-7">
                <span class="name p-t-4 p-l-3">{{candidate?.candidateFirstName}} {{candidate?.candidateLastName}}</span>
                <span *ngIf="candidate?.serviceStatus && candidate?.serviceStatus !== 'pending'" class="name done p-t-2">
                    {{candidate?.serviceStatus | titlecase}}
                </span>
                <select *ngIf="candidate?.serviceStatus === 'pending'" class="name select p-t-2 c-pointer" (change)="onStatusChange($event, candidate)">
                    <option class="name select p-t-2 c-pointer f-w-500" value="" disabled selected>{{candidate?.serviceStatus | titlecase}}</option>
                    <option class="name select p-t-2 c-pointer f-w-500" value="select">Select</option>
                    <option class="name select p-t-2 c-pointer f-w-500" value="reject">Reject</option>
                </select>
            </div>
            <div class="info-container">
                <div class="info-pair d-flex j-space">
                    <span class="key">Email</span>
                    <span class="value">: {{candidate?.candidateEmail}}</span>
                </div>
                <div class="info-pair d-flex">
                    <span class="key">Experience</span>
                    <span class="value">: {{candidate?.candidateExperience === '0' ? 'Fresher' : candidate?.candidateExperience }}</span>
                </div>
            </div>
        </div>
    </div>
</div>