.main {
    overflow: auto;
    background-color: #FFFFFF;
    padding: 20px;
    height: calc(100vh - 160px);

}

.title {
    font-weight: 500;
    color: #000000;
    font-size: 25px;
}

.approve-btn {
    border: 1px solid #005EC9;
    width: 110px;
    height: 34px;
    border-radius: 4px;
    color: #005EC9;
    background-color: #FFFFFF;
}

.cards {
    width: 100%;
    flex-wrap: wrap;
    column-gap: 40px;
}

.contents {
    flex-direction: column;
    width: 30%;
    margin-bottom: 26px;
    border-radius: 3px;
    border: 1px red;
}

.heading {
    background: #575F6E;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 3px;
}

.info-pair {
    align-items: center;
    border: 1px solid #E3E0E0;
    border-top: none;
    line-height: 36px;
    border-radius: 3px;
}

.key,
.value {
    flex: 1;
    margin: 5px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0em;
}

.key {
    color: #575F6E;
    width: auto;
    font-weight: 500;
    padding-left: 4px;
}

.value {
    color: #575F6E;
    text-align: left;
    font-weight: 400;
}

.name {
    font-size: 16px;
}

.done {
    background-color: white;
    color: #575F6E;
    width: 75px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    padding-left: 3px;
    text-align: center;
}

.select {
    outline: none;
    border-radius: 3px;
    background-color: white;
    color: #575F6E;
    width: 90px;
    border: none;
    padding-left: 3px;
    text-align: center;
}