.title {
    font-weight: 500;
    color: #000000;
    font-size: 25px;
}

.approve-btn {
    border: 1px solid #005EC9;
    width: 110px;
    height: 34px;
    border-radius: 4px;
    color: #005EC9;
    background-color: #FFFFFF;
}

.cards {
    width: 100%;
    height: calc(100vh - 253px);
    border-radius: 3px;
    border: 1px red;
    flex-wrap: wrap;
    overflow-y: auto;
}

.contents {
    flex-direction: column;
    width: 359px;
    margin-bottom: 26px;
    /* border: 1px solid #E6E6E6 */

}

.heading {
    background: #575F6E;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 3px;
}

.info-pair {
    align-items: center;
    border: 1px solid #E3E0E0;
    border-top: none;
    line-height: 36px;
    border-radius: 3px;
}

.key,
.value {
    flex: 1;
    margin: 5px;
    text-align: left;
    font-size: 16px;

    letter-spacing: 0em;
}

.key {
    color: #575F6E;
    width: auto;
    font-weight: 500;
    padding-left: 4px;
}

.value {
    color: #575F6E;
    text-align: left;
    font-weight: 400;
}

.select {
    outline: none;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #E6E6E6

}

.name {
    font-size: 16px;
}

.main {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #FFFFFF;
    padding: 20px;
}

.done {
    background-color: white;
    color: #575F6E;
    width: 50px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    padding-left: 13px;
}