<div class="container m-t-15 m-l-4">
    <div class="title-requirement"><span class="requirement-name">Candidate Requirement -
            {{requirement_details?.requestName}}</span></div>
    <div class="actions d-flex" *ngIf="requirement_details?.candidatesCount === '0'"><img src="assets/images/edit.png"
            class="icon" alt="" height="28px" width="28px" (click)="edit('/dashboard/service-requirement',requirement_details?.requestId)">
        <img src="assets/images/delete.png" class="icon" alt="" height="26px" width="26px"
            (click)="delete(requirement_details?.requestId)">
    </div>
    <div class="requirement">
        <div class="d-flex container-requirement">
            <div class="info-container-requirement m-t-25 m-l-12">
                <div class="info-pair-requirement" title="Click here to see the candidates">
                    <div class="key-requirement">Candidate Count</div>
                    <div class="value-requirement">:
                        {{requirement_details?.candidatesCount}}
                        <span class="" *ngIf="requirement_details?.candidatesCount > 0"> <a
                                [href]="env_url + '/dashboard/candidate-schedule?requestId=' + requirement_details?.requestId">
                                (Click here to view)
                            </a></span>
                    </div>
                </div>
                <div class="info-pair-requirement">

                    <div class="key-requirement">Job Code</div>
                    <div class="value-requirement">: {{requirement_details?.requestCode}}</div>
                </div>
                <div class="info-pair-requirement">
                    <div class="key-requirement">Interview Rounds</div>
                    <div class="value-requirement">: {{roundNames}}</div>
                </div>

                <div class="info-pair-requirement">
                    <div class="key-requirement">Minimum Experience</div>
                    <div class="value-requirement">: {{requirement_details?.requestMinimumExperience}}</div>
                </div>
                <div class="info-pair-requirement">
                    <div class="key-requirement">Maximum Experience</div>
                    <div class="value-requirement">: {{requirement_details?.requestMaximumExperience}}</div>
                </div>
                <div class="info-pair-requirement">
                    <div class="key-requirement">Base Salary</div>
                    <div class="value-requirement">: {{requirement_details?.requestBaseSalary}}</div>
                </div>
            </div>
            <div class="info-container-requirement m-t-25 m-l-20">
                <div class="info-pair-requirement">
                    <div class="key-requirement">Maximum salary</div>
                    <div class="value-requirement">: {{requirement_details?.requestMaxSalary}}</div>
                </div>
                <div class="info-pair-requirement">
                    <div class="key-requirement">Designation</div>
                    <div class="value-requirement">: {{requirement_details?.designationName}}</div>
                </div>
                <div class="info-pair-requirement">
                    <div class="key-requirement">Department</div>
                    <div class="value-requirement">: {{requirement_details?.team?.teamName}}</div>
                </div>
                <div class="info-pair-requirement">
                    <div class="key-requirement">Skills</div>
                    <div class="value-requirement">: {{requirement_details?.requestSkills}}</div>
                </div>
                <div class="info-pair-requirement">
                    <div class="key-requirement">Vacancy</div>
                    <div class="value-requirement">: {{requirement_details?.requestVacancy}}</div>
                </div>
                <div class="info-pair-requirement">
                    <div class="key-requirement">Reporting Manager</div>
                    <div class="value-requirement">: {{requirement_details?.reporting?.userFullName}}</div>
                </div>
            </div>
        </div>
        <div class="description m-t-15 m-b-29">
            <span class="p-l-17 jd-title">Job Description</span>
            <div [innerHTML]="formattedText" class="description-text"></div>
        </div>
    </div>
</div>