.main {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px 0px #0000001A;
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-25 {
    width: 25%;
}

.search-icon {
    background-color: #ffff;
    padding: 5px;
}

.wrap {
    width: 290px !important;
    max-width: 290px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-search {
    color: #575F6E;
    font-size: 18px;
}

.search-head {
    color: #1e5181;
    background-color: white;
}

.subscriber-listing {
    overflow: hidden;
    background-color: whitesmoke;
}

.date-filters {
    display: flex;
    align-items: center;
}

.loader-parent {
    position: absolute;
    left: 53%;
    z-index: 9;
}

.loader-parent img {
    width: 100px;
}


.data {
    position: absolute;
    left: 52%;
    top: 50%;
    z-index: 9;
    color: #C10A0A;
    font-size: 16px;
    font-weight: 500;
}

.text-wrap {
    max-width: 104px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

input[type="text"] {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 200px;
    height: 23px;
    padding-bottom: 1px;
}

.input-1 {
    border: 1px solid #E9E9E9;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 200px;
    height: 34px;
}

.date-input {
    border: 1px solid #E9E9E9;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 115px;
    height: 33px;
}

.filter-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.d-flex {
    display: flex;
    align-items: center;
}

input[type="text"] {
    border: none;
    outline: none;
    width: 84%;
    padding: 6px
}

.search-div {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    height: 34px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    border: 1px solid #E9E9E9;
    background: #FFFFFF;
    position: relative;
    padding: 10px;
    /* margin-left: 10px; */
}

.move {
    width: 100%;
    height: 35px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #005EC9;
    background-color: #FFFFFF;
    border: 1px solid #005EC9;
}

.initial-loader {
    position: absolute;
    top: 31%;
    left: 17%;
    width: 98%;
}

.dropdown {
    background: white;
    box-shadow: #3c40434d 0 1px 2px, #3c404326 0 1px 3px 1px;
    max-height: 150px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    top: 100%;
    left: 0;
}

.dropdown :hover {
    background-color: #eceaea;
}

.box {
    height: 29px;
    width: 32px;
    border: none;
    background-color: white;
}

.box :hover {
    background: #F0F7FF;
}

.current-page {
    background-color: #005EC9;
    color: #FFFFFF;
    height: 29px;
    width: 36px;
}

.page {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.dot {
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.clear-search {
    padding: 0px 4px;
    border: 1px solid #3c40434d;
    border-radius: 50%;
}

@media (max-width: 1250px) {
    tr td {
        font-size: 12px;
        padding: 9px;
    }

    .move-icon {
        width: 23px;
        height: 23px;
    }

    .more {
        width: 90px;
    }
}