.search {
  background-color: #005EC9;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 25px;
  height: 22px;
  padding: 11px;
}

.fa-search {
  color: #FFFFFF;
  padding-left: 3px;
  font-size: 18px;
}

.input {
  border: 1px solid #E9E9E9;
  outline: none;
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 374px;
  height: 33px;
  padding-right: 10px;
  color: #000000;
}

.create-btn {
  background-color: #575F6E;
  border: none;
  border-radius: 3px;
  width: 140px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding: 8px;
  height: 20px;
  padding-left: 15px;
  color: #FFFFFF;
}

.title-right {
  width: 60%;
}

.title-left {
  font-family: Rubik;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  Width: 255px;
  Height: 36px;
  color: #000000;

}

.card {
  width: 295px;
  height: 190px;
  top: 171px;
  left: 372px;
  border-radius: 3px;
  border: 0px, 0px, 0px, 2px;
  margin-bottom: 30px;
  flex-direction: column;
 
}

.card-items{
  width: 285px;
  border-left: 2px solid #005EC9;
}

.content{
  flex-wrap: wrap;
}

.f-column{
  flex-direction: column;
}