.main {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px 0px #0000001A;
  width: 100%;
  margin-top: 20px;
}

.search {
  background-color: #005EC9;
  padding: 6px;
  top: 724px;
  right: 258px;
  width: 33px;
  height: 33px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  line-height: 17px;
}

.fa-search {
  color: #FFFFFF;
  padding-left: 3px;
  font-size: 20px;
  cursor: pointer;
}

.container-table {
  overflow: auto !important;
  height: calc(100vh - 240px);
  background-color: #FFFFFF;
  width: 100%;
}

.create-btn {
  background-color: #575F6E;
  border: none;
  border-radius: 3px;
  width: 139px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding: 6px;
  height: 33px;
  padding-left: 12px;
  color: #FFFFFF;
  margin-top: 1px;
}

.title-left {
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  width: 255px;
  height: 36px;
  color: #000000;
}

.content {
  flex-wrap: wrap;
}

.f-column {
  flex-direction: column;
}

.loader-parent {
  position: absolute;
  left: 53%;
  z-index: 9;
}

.loader-parent img {
  width: 100px;
}

.wrap {
  width: 350px !important;
  max-width: 350px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap-date {
  width: 170px !important;
  max-width: 170px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.add{
  width: 170px !important;
  max-width: 170px; 
}

.data {
  position: absolute;
  left: 52%;
  top: 50%;
  z-index: 9;
  color: #C10A0A;
  font-size: 16px;
  font-weight: 500;
}

.box {
  height: 26px;
  width: 26px;
  border: none;
  background-color: white;
}

.box :hover {
  background: #F0F7FF;
}

.page {
  margin: 10px;
  background-color: white;
}

.current-page {
  background-color: #005EC9;
  color: #FFFFFF;
  height: 26px;
  width: 26px;
}

.dot {
  font-size: 20px;
  color: black;
  font-weight: 500;
}




.icon {
  margin: 5px;
  height: 27px;
  width: 27px;
}


/* .main-table {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px 0px #0000001A;
  width: 100%;
} */

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.search-icon {
  background-color: #ffff;
  padding: 5px;
}

.search-head {
  color: #1e5181;
  background-color: white;
}

.subscriber-listing {
  overflow: hidden;
  background-color: whitesmoke;
}

.loader-parent {
  position: absolute;
  left: 53%;
  z-index: 9;
}

.loader-parent img {
  width: 100px;
}

.initial-loader {
  position: absolute;
  top: 31%;
  left: 17%;
  width: 16%;
}

.data {
  position: absolute;
  left: 52%;
  top: 34%;
  z-index: 9;
}

.text-wrap {
  max-width: 120px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input {
  border: 1px solid #E9E9E9;
  outline: none;
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 330px;
  height: 35px;
  margin-right: 9px;
}



input[type="text"] {
  border: none;
  outline: none;
  width: 75%;
}

.btn {
  width: 100%;
  height: 35px;
  color: #FFFFFF;
  background-color: #005EC9;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;

}

.move {
  width: 100%;
  height: 35px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #005EC9;
  background-color: #FFFFFF;
  border: 1px solid #005EC9;
}

.clear-filter {
  display: inline-block;
  height: 17px;
  width: 17px;
  padding: 0px 4px;
  border: 1px solid #3c40434d;
  border-radius: 50%;
  background-color: #ffff;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
}

.dropdown {
  background: white;
  box-shadow: #3c40434d 0 1px 2px, #3c404326 0 1px 3px 1px;
  max-height: 150px;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  z-index: 999;
  margin-top: 5px;
  top: 100%;
  left: 0;
  padding: 4px;
}

.dropdown :hover {
  background-color: #eceaea;
}

.box {
  height: 26px;
  width: 26px;
  border: none;
  background-color: white;
}

.box :hover {
  background: #F0F7FF;
}

.current-page {
  background-color: #005EC9;
  color: #FFFFFF;
  height: 26px;
  width: 26px;
}

.page {
  margin: 10px;
  background-color: white;
}

.dot {
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.input-search {
  border: 1px solid #E9E9E9;
  outline: none;
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 330px;
  height: 35px;
  margin-right: -21px;
}


.fa-user-plus {
  color: #005EC9;
  ;
}

.count-col {
  width: 9%;
}

.input-1 {
  border: 1px solid #E9E9E9;
  outline: none;
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 212px;
  height: 35px;
  padding-top: 6px;
  margin-right: 9px;
}


.padding-5 {
  padding: 5px;
}

.approval-status{
  color: #F57C02;
  text-decoration: underline;
}