<div class="main">
    <div class="list">
        <p class="heading">Candidates List</p>
    </div>
    <div class="d-flex j-space">

        <!-- <div class="list">
            <p class="heading">Candidates List</p>
        </div> -->
        <div class="search-candidate d-flex">
            <input type="text" class="search-input" autocomplete="off" placeholder="Search Candidates...">
            <button class="search-btn" (click)="candidateSearch()"> <img width="14px" src="assets/images/s_icon.png"
                    alt=""></button>

        </div>
        <div class="">
            <button (click)="navigateToRequirementForm()" class="create-requirement">Create Requirement</button>
        </div>
    </div>

    <div class="container m-l-26 m-t-20 d-flex j-space p-20" >

        <div *ngFor="let candidate of candidates_list" class="d-flex j-center p-20" (click)="navigate('/dashboard/series/',candidate.requestId)">
            <div class="candidate-details">
                <!-- <p>Name : {{candidate.candidateFirstName }} {{candidate.candidateLastName }}</p> -->
                <p>Candidates Count : {{candidate.candidatesCount}}</p>
                <p>Designation : {{candidate.requestName}}</p>
                <p>Team : {{candidate.teamName}}</p>
                <p>Skills : {{candidate.requestSkills}}</p>
               <!--  <div *ngIf="approvalStatus !== undefined" class="status-message">
                    {{approvalStatus ? 'Approved' : 'In Progress'}}
                </div> -->
                <p class="status">{{candidate.status}}</p>
            </div>
        </div>

    </div>
</div>