body {
  margin: 0;
  padding: 0;
  font-family: default;
}

textarea {
  font-family: inherit;
}

.mat-typography {
  letter-spacing: 0.2px !important;
}

.mat-tab-header {
  border-bottom: 1px solid #639ab5;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.mat-tab-label {
  opacity: unset !important;
  padding: 10px !important;
  padding-left: 0px !important;
  margin-right: 20px !important;
  min-width: 0px !important;
  padding-right: 0px !important;
  color: #24495b !important;
  height: 45px !important;
}

.mat-tab-label-active {
  position: relative;
  z-index: 5;
  top: 1px;
  border-bottom: 3px solid #24495b;
}

.mat-input-element {
  background: #fff !important;
}

.mat-tab-label-active .mat-tab-label-content {
  font-weight: 500 !important;
  color: #24495b !important;
}

.mat-tab-label-active .tab-name {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #24495b !important;
}

.mat-tab-label .tab-name:hover {
  color: #24495b !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #eee;
}

.mat-dialog-container {
  padding: 15px !important;
  border-radius: 2px !important;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.mat-tab-body {
  height: 100%;
}


a {
  color: unset;
}

a:hover {
  text-decoration: none !important;
}

.highlighted-text {
  color: #fff;
  background-color: #427194;
  padding: 2px 0px;
}

.mentioned-user {
  background: #1a1dcb;
  color: #fff;
  padding: 3px;
  border-radius: 10px;
  margin-right: 5px;
}

.inserted-anchor {
  color: #007bff !important;
}

.inserted-anchor-span {
  cursor: pointer;
  padding: 3px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: var(--ds-surface-raised, white);
  box-shadow: var(--ds-shadow-raised, 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px 1px rgba(9, 30, 66, 0.13));
}


.mat-dialog-container {
  padding: 0px !important;
}

.image-dialog-container .mat-dialog-container {
  overflow: hidden !important;
}

.mat-tab-label-active .mat-tab-label-content {

  font-weight: 600 !important;
}

/* FONT STYLES SIZES STARTS*/
/* f-s-8 xxs-text f-s-10 s-text f-s-12 m-text f-s-14 f-s-15 f-s-16 f-s-17 f-s-18 f-s-19 f-s-20 f-s-22 */
.xxs-text {
  /* f-s-8 xxs-text f-s-10 s-text*/
  font-size: 9px !important;
}

.xs-text {
  /*  xxs-text f-s-10  s-text*/
  font-size: 10px !important;
}

.s-text {
  /* s-text f-s-12 m-text */
  font-size: 12px !important;
}

.m-text {
  /* m-text f-s-14 f-s-15 */
  font-size: 14px !important;

}

.l-text {
  /* f-s-15 f-s-16 f-s-17 f-s-18 */
  font-size: 15px !important;
}

.xl-text {
  /* f-s-17 f-s-18 f-s-19 f-s-20  */
  font-size: 16px !important;
}

.f-s-17-text {
  font-size: 17px !important;
}

.xxl-text {
  /* f-s-20 f-s-22 */
  font-size: 18px !important;
}

.xxxl-text {
  /* f-s-22 f-s-23 f-s-24 */
  font-size: 20px !important
}

.very-large-text {
  font-size: 22px !important;
}

.huge-text {
  font-size: 35px !important;
}

.scrollable::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.scrollable,
body {
  scrollbar-width: none;
}

.scrollable,
body {
  -ms-overflow-style: none;
}

.text-center {
  text-align: center;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.j-start {
  justify-content: flex-start;
  /* Align items to the start */
}

.j-end {
  justify-content: flex-end;
  /* Align items to the end */
}

.j-centre {
  justify-content: center;
}

.p-absolute {
  position: absolute !important;
}

.c-pointer {
  cursor: pointer !important;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

/* common colors */

.blue {
  color: #005EC9;
}

.red {
  color: #C10A0A;
}

.orange {
  color: #F57C02;
}

.text-input {
  height: 40px;
  border: 1px solid #EEEEEE;
  padding: 4px 8px !important;
  border-radius: 3px;
  opacity: 0px;
  outline: none !important;
}

.export-btn {
  border: none !important;
  outline: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 81px;
  border-radius: 3px;
  background-color: #4F4F4F;
  color: white;
  margin-left: 10px;
  margin-top: 2px;
  font-weight: 500;
  margin-right: 11px;
}

.text-wrap {
  max-width: 90px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-calendar-table-header {
  background-color: #FFFFFF;
}

th {
  background-color: #FFFFFF;
}

.mat-calendar-table {
  padding: 5px;
  background: #FFFFFF;
  border: none !important;
}

.mat-calendar-body,
tr {
  border: none !important;
}

.mat-calendar-table-header {
  background: #FFFFFF !important;
}

.mat-calendar-body-label,
.mat-calendar-table,
.mat-calendar-body-cell-container {
  padding: 5px;
  background: #FFFFFF;
  border: none !important;
}

.container-table .table-header {
  position: sticky;
  top: 0;
  background: #F4F2F2 !important;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  color: black;
}

.container-table {
  overflow: auto !important;
  height: calc(100vh - 280px);
  background-color: #FFFFFF;
}

.container-table tr {
  border: 1px solid #EDEDED!important;
}

.container-table td {
  padding: 10px;
  padding-left: 16px;
}

.container-table tr:hover {
  background-color: #f6f6f6;
}


.blue {
  color: #0034C4;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.details-table {
  font-size: 13px;
}

/* .details:hover {
  background-color: #D3E8FF;
} */

.padding-5 {
  padding: 5px;
}

.margin-5 {
  margin: 5px;
}

.padding-10 {
  padding: 10px;
}

.margin-10 {
  margin: 10px;
}

.clear-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 0 4px;
  border: 1px solid #3c40434d;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.modal-header .modal-close button{
  outline: none!important;
  border: 1px solid #e0dbdb;
}

a{
  border: none!important;
  outline: none!important;
  color: #0034C4;
}