.main {
    margin: 15px 20px 10px 10px;
    background: #FFFFFF;
    padding-left: 20px;
}

.scroller-box {
    width: 100%;
}

.header {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 35.55px;
}

.loader-parent {
    position: absolute;
    left: 53%;
    z-index: 9;
    top: 37%;
}

.loader-parent img {
    width: 150px;
}

.parent {
    column-gap: 18px;
    display: flex;
    flex-direction: row;
}

.child {
    flex-direction: column;
    flex: 1;
}

.input {
    width: 94%;
    height: 34px;
    border-radius: 5px;
    outline: none;
    background: #FAFAFA;
    padding-left: 10px;
    border: 1px solid #E9E9E9;
    margin-top: 10px;
}

.sub-head {
    color: #000000;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 21.33px;
    padding-bottom: 10px;
}

.fa-chevron-down {
    color: #575F6E;
}

.mat-ripple {
    overflow: hidden;
    position: relative;
}

.btn-cancel {
    background-color: #575F6E;
    width: 150px;
    height: 48px;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

.btn-submit {
    background-color: #005EC9;
    width: 150px;
    height: 48px;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

.add-btn {
    margin-left: auto;
    width: 81px;
    background: linear-gradient(0deg, #005EC9, #005EC9), linear-gradient(0deg, #E9E9E9, #E9E9E9);
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: 400;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
    right: 2px;
    right: 2px;
    margin-right: 7px;
}

.required {
    color: red;
}

.d-flex.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.add-button-container {
    margin-left: auto;
}

.station-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.drop-list {
    background: #FFFFFF;
    box-shadow: #3c40434d 0 1px 2px, #3c404326 0 1px 3px 1px;
    max-height: 100px;
    overflow-y: scroll;
    font-size: 15px;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 35px;
}

.drop-list :hover {
    background-color: rgb(240, 235, 235);
}

.input-search {
    outline: none;
    height: 34px;
    width: 96%;
    border-radius: 5px;
    background: #FAFAFA;
    outline: none;
    border: 1px solid #E9E9E9
}

.drop-list-skill {
    height: 57px;
    overflow-y: scroll;
    height: 57px;
    overflow-y: scroll;
    width: 99%;
    max-height: 100px;
    position: absolute;
    background-color: #FFFFFF;
    max-height: 100px;
    position: absolute;
    background-color: #FFFFFF;
}

.fa-trash-o {
    color: rgb(163, 7, 7);
}

.station-pill {
    display: inline-block;
    /* width: 95px; */
    height: 28px;
    line-height: 28px;
    background-color: #575F6E;
    border-radius: 14px;
    color: white;
    background-color: 28px;
    padding-left: 8px;
}

.delete-station {
    display: inline-block;
    width: 22px;
    background-color: white;
    height: 20px;
    line-height: 20px;
    color: black;
    border-radius: 11px;
}

.delete-icon {
    color: black;
}

.minus {
    width: 12px;
    height: 2px;
    background-color: black;
    position: absolute;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

.station-pill {
    background-color: #575F6E;
    color: white;
    /* padding: 5px 10px; */
    border-radius: 20px;
}

.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    /* margin: 5px; */
    top: 3px;
    right: 8px;
    margin-left: 9px;
}

.minus {
    width: 10px;
    height: 2px;
    background-color: #575F6E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #575F6E;
}

/* .input-interview-rounds {
    width: 97.5%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    background: #FAFAFA;
    padding-left: 5px;
    border: 1px solid #E9E9E9;
    margin-top: 10px;
} */
.input-interview-rounds {
    width: 97.9%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    background: #FAFAFA;
    padding-left: 5px;
    border: 1px solid #E9E9E9;
    margin-top: 10px;
}

.title-requirement{
    background-color: #D9D9D9;
    padding-left: 29px;
    height: 50px;
    line-height: 50px;
}

.skills-main {
    width: 98.2%;
    /* height: 175px; */
}

.title-added-skills {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background-color: #575F6E;
    color: white;
    width: 98.9%;
    padding-left: 15px;
}

.skill-set {
    /* display: inline-block; */
    padding-left: 13px;
    background-color: white;
    height: 37px;
    line-height: 37px;
    border: 1px solid #E9E9E9;
    width: 98.9%;

}

.selectedSkills {
    max-height: 144px;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-interview-rounds-skill{
    height: 34px;
    border-radius: 5px;
    outline: none;
    background: #FAFAFA;
    padding-left: 5px;
    border: 1px solid #E9E9E9;
    margin-top: 10px;
    width: 97.9%;
}

.clear-filter{
    right: 6px;
}

body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
  }

/* .input-vacancy{
    width: 55%;
    height: 34px;
    border-radius: 5px;
    outline: none;
    background: #FAFAFA;
    padding-left: 10px;
    border: 1px solid #E9E9E9;
    margin-top: 10px;
} */