<div class="m-10">
    <div class="p-l-5">
        <span class="f-s-18 f-w-500 detail-head p-t-5">Users</span>
    </div>
    <div class="main d-flex">
        <div class="table-container m-b-0 w-97">
            <table class="table">
                <tr class="table-header f-w-500 p-b-10">
                    <td>User ID</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Role</td>
                    <td>Status</td>
                   
                    <td>Actions</td>
                </tr>
                <div *ngIf="loader" class="loader-parent">
                    <img src="assets/gif/loader.gif">
                </div>
                <ng-container *ngIf="userList?.length > 0">
                    <ng-container *ngFor="let user of userList">

                        <tr (click)="onSelect(user)" class="candidate c-pointer"
                            [class.selected]="selectedItem === user">
                            <td>{{user.userId}}</td>
                            <td>{{user.userfirstName}} {{user.userlastName}}</td>

                            <td>{{user.userEmail}}</td>
                            <td>{{user.userRole}}</td>
                            <td>{{user.userStatus}}</td>
                           
                            <td><img src="assets/images/delete-hr" alt=""></td>
                        </tr>

                    </ng-container>
                </ng-container>
                <div *ngIf="userList?.length === 0 && !loader" class="data">
                    No Data Found
                </div>
            </table>
        </div>

    </div>

    <div class="page m-r-29">
        <button class="page-btn" (click)="onPageChange(currentPage - 1)"
            [disabled]="currentPage === 1">Previous</button>
        <span>{{ currentPage }}</span>
        <button class="page-btn" (click)="onPageChange(currentPage + 1)"
            [disabled]="currentPage === lastPage">Next</button>
    </div>

</div>