<div class="m-10">
    <div class="p-l-5 m-b-11">
        <span class="f-s-18 f-w-500 detail-head p-t-5">Users</span>
    </div>
    <div class="main d-flex">
        <div class="table-container m-b-0 w-97">
            <table class="table">
                <tr class="table-header f-w-500 p-b-10">
                    <td>User ID</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Role</td>
                    <td>Status</td>
                    <td>Actions</td>
                </tr>
                <div *ngIf="loader" class="loader-parent">
                    <img src="assets/gif/loader.gif">
                </div>
                <ng-container *ngIf="userList?.length > 0">
                    <ng-container *ngFor="let user of userList">
                        <tr (click)="onSelect(user)" class="candidate c-pointer"
                            [class.selected]="selectedItem === user">
                            <td>{{user.userId}}</td>
                            <td>{{user.userfirstName}} {{user.userlastName}}</td>
                            <td>{{user.userEmail}}</td>
                            <td>{{user.userRole}}</td>
                            <td>{{user.userStatus}}</td>
                            <td>
                                <div class="d-flex j-center">
                                    <img src="assets/images/candidate-detail/edit.svg" class="icon" alt="" (click)="update(user.userId)">
                                    <img src="assets/images/candidate-detail/delete.svg" class="icon" alt="" (click)="delete(user.userId)">
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
                <div *ngIf="userList?.length === 0 && !loader" class="data">
                    No Data Found
                </div>
            </table>
            <div class="page  d-flex j-space m-t-19">
                <button *ngIf="currentPage !== 1" class="box" (click)="onPageChange(currentPage - 1)">{{currentPage -
                    1}}</button>
                <button class="box current-page">{{ currentPage }}</button>
                <button class="box" (click)="onPageChange(currentPage + 1)"
                    [disabled]="userList?.length === 0 || !userList">{{currentPage + 1}}</button>
                <button class="box" (click)="onPageChange(currentPage + 1)" [disabled]="userList?.length === 0 || !userList">
                    <img src="assets/images/next-arrow.png" alt="" height="18px" width="18px">
                </button>
            </div> 
        </div>
       
    </div>
   
</div>