.main {
    background-color: #fff;
}

.header {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    line-height: 35.55px;
}

.scroller-box {
    padding-bottom: 20px;
    height: calc(100vh - 180px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.sub-head {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.33px;
}

.input {
    outline: none;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    background-color: #FAFAFA;
    width: 521px;
    height: 54px;
}

.text-box {
    height: 30px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 4px 8px;
    outline: none;
}



.row {
    display: flex;
    flex-wrap: wrap;
}


.requestId-drop-down {
    border: 1.5px solid #7d8296b5;
    border-radius: 5px;
    padding: 4px 8px;
    align-items: baseline;
    background: #fff;
    /* position: relative; */
    height: 30px;
    width: 250px;
    margin-left: 20px;
}

.requestId-drop-down>.sub {
    height: 16px;
}

.requestId-drop-down>.w-max {
    width: 150px;
}

.requestId-drop-down>.drop-list {
    position: absolute;
    top: 46px;
    right: 0;
    width: 100%;
    background-color: white;
    border: 1.5px solid #7d8296b5;
    border-radius: 5px;
    z-index: 10;
    max-height: 120px;
    overflow-y: scroll;
    width: 100%;
}

.box-view-candidates {
    box-shadow: #3c40434d 0 1px 2px, #3c404326 0 1px 3px 1px;
    border-radius: 8px;
    background-color: #fff;
    width: 160px;
}

.text-center {
    text-align: center;
}

.assignee {
    margin-left: 53px;
}

.name-dropdown {
    margin-left: 41px;
}

.mat-ripple {
    overflow: hidden;
    position: relative;
}

.input-search[_ngcontent-lvq-c216] {
    right: 25px;
    top: 7px;
}

.p-absolute {
    position: absolute !important;
}

.c-pointer {
    cursor: pointer !important;
}

.icon-color {
    color: #517494;
}

.search-btn {
    background-color: #27445f;
    outline: none;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
    width: 30px;
}

.calendar-parent {
    width: fit-content;
    outline: none;
    border-radius: 5px;
    width: 250px;
    height: 27px;
}


.service-item {
    background-color: aliceblue;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 15px;
    align-items: baseline;
}

.selected-product {
    width: 190px !important;
    justify-content: space-evenly;
}

.date-picker-input {
    outline: none;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    background-color: #FAFAFA;
    width: 521px;
    height: 54px;
}

.date-picker {
    color: gray;
    Width: 18px;
    Height: 18px;
    margin-left: -22px;
}


.btn-cancel{
    background-color: #575F6E;
    width: 233px;
    height: 54px;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

.btn-submit{
    background-color: #005EC9;
    width: 233px;
    height: 54px;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;

}

