<div class="main">
    <div class="d-flex head">
        <div>
            <span class="heading">Application Received By Departments</span>
        </div>
        <div class="date-filters">
            <div class="d-flex">
                <span class="filter p-r-10 p-t-10">From</span>
                <div class="p-relative">
                    <input class="p-l-5 input c-pointer" placeholder="29/02/11" matInput
                        [matDatepicker]="pickerFromDate" [value]="startDate | date:'yyyy-MM-dd'" id="startDate"
                        [max]="today" (dateChange)="dateChange($event, 'startDate')" [ngModel]="startDate"
                        (click)="pickerFromDate.open()">
                    <mat-datepicker #pickerFromDate></mat-datepicker>
                    <i class="fa fa-calendar-o c-pointer p-absolute filter-icon" aria-hidden="true"
                        (click)="pickerFromDate.open()"></i>
                </div>
            </div>
            <div class="d-flex">
                <span class="filter p-l-10 p-r-10 p-t-10">To</span>
                <div class="p-relative">
                    <input class="p-l-5 input c-pointer" placeholder="29/02/11" matInput [matDatepicker]="pickerToDate"
                        (dateChange)="dateChange($event, 'endDate')" [ngModel]="endDate" (click)="pickerToDate.open()"
                        [value]="endDate | date:'yyyy-MM-dd'" id="endDate" [min]="startDate" [max]="today">
                    <mat-datepicker #pickerToDate></mat-datepicker>
                    <i class="fa fa-calendar-o c-pointer p-absolute filter-icon" aria-hidden="true"
                        (click)="pickerToDate.open()"></i>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div *ngIf="applicationList?.length === 0" class="no-data">No Data Found</div>
        <canvas id="barChart"></canvas>
    </div>
</div>