.main {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px 0px #0000001A;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.head {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.heading {
    color: #000000;
    font-weight: 500;
    line-height: 26.07px;
    font-size: 18px;
}

.date-filters {
    display: flex;
    align-items: center;
}

.filter {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.96px;
    color: #4F4F4F;
    margin-right: 5px;
}

.input {
    border: 1px solid #E9E9E9;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 100px;
    height: 33px;
}

.chart-container {
    margin-top: 5px;
    padding-bottom: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrollable {
    width: 100%;
    overflow-x: auto;
}

.scrollable canvas {
    width: 1500px;
    /* Adjust width as needed to accommodate all data */
    max-width: none;
    height: auto;
}

.no-data {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #525455;
    width: 100%;
    margin-top: 30px;
}

.p-relative {
    position: relative;
}

.filter-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.d-flex {
    display: flex;
    align-items: center;
}

.flex-1 {
    flex: 1;
}


.date-filters {
    display: flex;
    align-items: center;
}


.container-table {
    overflow-y: auto !important;
    overflow-x: hidden;
    height: calc(100vh - 445px);
}

.box {
    height: 26px;
    width: 26px;
    border: none;
    background-color: white;
}

.page {
    /* width: 83px; */
    float: right;
}

.current-page {
    background-color: #005EC9;
    color: #FFFFFF;
    height: 26px;
    width: 26px;
}

.dot {
    font-size: 20px;
    color: black;
    font-weight: 500;
}
