<div class="hamburger-menu" (click)="toggleSidebar()">
    
    <div class="d-flex j-center">
        <img src="assets/images/hamburger.png" alt="" height="25px" width="50px" class="hamburger-img">
        <p class="hamburger-all">List</p>
    </div>
   
   
    
  </div>
  
  <div class="sidebar" [class.active]="isSidebarOpen">
    <div class="drop-down p-1">
        <div class="add-candidate d-flex align-center">
          <div class=" c-pointer p-l-2"><img src="assets/images/hr-servive-add-candidate.png" alt="" height="25px" weight="25px" (click)="openAddCandidateModal()"></div>
          <div class="c-pointer p-l-3" (click)="openAddCandidateModal()">Add Candidate</div>
        </div>
       <div class="requirements d-flex align-center">
        <div class="requirement-img p-t-3 p-l-2 c-pointer"><img src="assets/images/requirement-img.png" alt="" height="20px" width="20px" (click)="openRequirementModal()"></div>
        <p class="candidate-requirements m-t-9 m-l-4 c-pointer" (click)="navigateToRequirements()">Requirements</p>
       </div>
       
      </div>
  </div>     
  