<!-- <div class="sidebar m-t-14">

  <div class="drop-down p-1">
    <div class="add-candidate d-flex align-center" [class.active]="isActive('/dashboard/add-candidate')">
      <div class=" c-pointer p-l-2"><img src="assets/images/hr-servive-add-candidate.png" alt="" height="25px"
          weight="25px" (click)="openAddCandidateModal()"></div>
      <div class="c-pointer p-l-3" (click)="openAddCandidateModal()">Add Candidate</div>
    </div>
    <div class="requirements d-flex align-center" [class.active]="isActive('/dashboard/requirement')">
      <div class="requirement-img p-t-3 p-l-2 c-pointer"><img src="assets/images/requirement-img.png" alt=""
          height="20px" width="20px"></div>
      <p class="candidate-requirements m-t-9 m-l-4 c-pointer" (click)="navigate('/dashboard/requirement',false)">
        Requirements</p>
    </div>
    <div class="requirements d-flex align-center" [class.active]="isActive('/dashboard/service-requirement')">
      <div class="requirement-img p-t-3 p-l-2 c-pointer"><img src="assets/images/requirement-img.png" alt=""
          height="20px" width="20px"></div>
      <p class="candidate-requirements m-t-9 m-l-4 c-pointer"
        (click)="navigate('/dashboard/service-requirement',false)">Service Requirements</p>
    </div>
    <div class="candidates d-flex align-center" [class.active]="isActive('/dashboard/candidate-list')">
      <div class="candidate-img p-t-3 p-l-2 c-pointer"><img src="assets/images/requirement-img.png" alt="" height="20px"
          width="20px"></div>
      <p class="candidates-list m-t-9 c-pointer" (click)="navigate('/dashboard/candidate-list',false)">Requirement List
      </p>
    </div>
   
  </div>
</div> -->

<div class="main m-t-20">
  <div class="menu d-flex c-pointer" (click)="navigate('/dashboard',false)">
    <img src="assets/images/material-symbols-light_dashboard-outline.png" alt="" height="19px" width="19px" top="4px"
      left="4px" class="img">
    <span class="menu-text">Dashboard</span>
  </div>
  <div class="menu d-flex c-pointer" (click)="navigate('/dashboard/add-candidate',false)">
    <img src="assets/images/mdi_user-outline.png" alt="" height="19px" width="19px" top="4px" left="4px">
    <span class="menu-text">Add Candidates</span>
  </div>
  <div class="menu d-flex c-pointer" (click)="navigate('/dashboard/requirement',false)">
    <img src="assets/images/mdi_paper-edit-outline.png" alt="" height="19px" width="19px" top="4px" left="4px">
    <span class="menu-text">Requirement</span>
  </div>
  <div class="menu d-flex c-pointer" (click)="navigate('/dashboard/service-requirement',false)">
    <img src="assets/images/file-icons_service-fabric.png" alt="" height="19px" width="19px" top="4px" left="4px">
    <span class="menu-text">Service Requirements</span>
  </div>
  <div class="menu d-flex c-pointer" (click)="navigate('/dashboard/requirement-candidate-list',false)">
    <img src="assets/images/gg_list.png" alt="" height="19px" width="19px" top="4px" left="4px">
    <span class="menu-text">Requirements List</span>
  </div>
  <div class="menu d-flex c-pointer">
    <img src="assets/images/Group.png" alt="" height="19px" width="19px" top="4px" left="4px">
    <span class="menu-text">Report</span>
  </div>
  <div class="menu d-flex c-pointer" (click)="navigate('/dashboard/interview-details',false)">
    <img src="/assets/images/line-md_computer-1.png" alt="" height="19px" width="19px" top="4px" left="4px">
    <span class="menu-text">Interview Details</span>
  </div>
</div>
